<div class="card-body">

  <div class="row">
    <div class="col-md-12 text-center">
      <h3>{{ 'broadcasts.create.schedule.title' | translate }}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-left">
      <form [formGroup]="scheduleForm"
            (submit)="next()">

        <div class="form-row">
          <div class="form-group col-sm-12">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="radio" checked value="IMMEDIATE" formControlName="sendType">
                {{ 'broadcasts.create.schedule.now' | translate }}
              </label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="radio" value="FUTURE" formControlName="sendType">
                {{ 'broadcasts.create.schedule.time' | translate }}
              </label>
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf="scheduleForm.get('sendType').value == 'FUTURE'">
          <div class="form-group row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" id="meeting-date-time"
                         name="dp" formControlName="dateEpochMillis" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <img src="assets/icon-calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <ngb-timepicker formControlName="timeEpochMillis" [spinners]="false"></ngb-timepicker>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-auto col-12 cancel-holder">
            <button type="button" (click)="cancel()" class="btn btn-secondary cancel-button text-sm-center">
              {{ 'action.cancel' | translate }}</button>
          </div>

          <div class="col-md text-md-right col-12 next-holder">
            <button type="button" (click)="back()" class="btn btn-secondary back-button float-md-right">
              {{ 'action.back' | translate }}</button>
          </div>

          <div class="col-md-auto text-md-right col-12 next-holder">
            <button type="submit" class="btn btn-primary next-button">
              {{ 'action.next' | translate }}
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>
