<div class="modal fade" tabindex="-1" role="dialog" id="view-vote-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">VOTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p class="title-para">
              <img [src]="'assets/' + voteToView?.getEventIconName() "/>&nbsp;&nbsp;
              <span class="task-field-name">Vote: </span> {{voteToView?.title}}
            </p>
            <p class="task-field-para" *ngIf="voteToView?.errorReport">
              <a (click)="downloadEventErrorReport()" class="download-error-report">{{ 'task.todo.details.download-error-button' | translate }}</a>
            </p>
            <p class="task-field-para">
              <span class="task-field-name">Group: </span> {{voteToView?.parentName}}
            </p>
            <p class="task-field-para">
              <span class="task-field-name">Closes: </span> {{voteToView?.deadlineDate | date: 'hh:mm a on dd MMM yy'}}
            </p>
          </div>
          <div [ngClass]="{'col-md-6 col-sm-12': 'true', 'img-loading': imageLoading}" *ngIf="imageUrl">
            <img class="img-thumbnail" (load)="imageLoading = false" [src]="imageUrl" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12">
            <p class="task-field-para" *ngIf="voteToView?.description">
              <span class="task-field-name">Description: </span> {{voteToView?.description}}
            </p>
            <p class="task-field-para" *ngIf="voteToView?.hasResponded">
              <span class="task-field-name">You voted: </span> {{ voteToView?.userResponse | titlecase }}
            </p>
          </div>
        </div>

        <div class="row" *ngIf="!voteToView?.hasResponded && voteToView?.isActive() && options" >
          <div class="col-md-3 col-sm-6">
            <label class="task-field-name">Cast your vote: </label>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                {{ !!response ? response : '(Select)' }}</button>
              <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let option of options" (click)="response = option">
                    {{ option }}
                  </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div *ngIf="!voteToView?.hasResponded && !!response">
              <button  type="button" class="btn btn-primary save-button" (click)="castVote()">Cast vote</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="voteToView?.voteResults">
        <div class="col-sm-12">
          <div class="card-header responses-header">
            <div class="row">
              <div class="col-sm-4">
                <p class="responses-title">Vote results (<a *ngIf="!refreshing" class="grassroot-link" href="#" (click)="refreshResults()">refresh</a><span *ngIf="refreshing">refreshing&hellip;</span>)</p>
              </div>
              <div class="col-sm-6"></div>
              <div class="col-sm-2 text-right">
                <i class="fas fa-users"></i> {{ totalVotes }}</div>
            </div>
          </div>
          <div class="card-body">
            <ng-container *ngIf="!refreshing">
              <div class="row" *ngFor="let option of results">
                <div class="col-sm-3">
                  {{ option.name }}
                </div>
                <div class="col-sm-7">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                        [style.width]="option.percent + '%'"
                        [attr.aria-valuenow]="option.percent" aria-valuemin="0" aria-valuemax="100">
                      {{ option.percent}}%
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 text-right">
                  {{ option.rawCount }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button *ngIf="voteToView?.canEdit" type="button" class="btn btn-secondary hover-primary footer-button float-left"
          (click)="editVote()">Edit vote</button>
        <button *ngIf="voteToView?.canEdit && voteToView?.isActive" type="button" class="btn btn-secondary hover-primary footer-button float-left"
          (click)="closeVote()">End vote</button>
        <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">
          {{ 'action.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
