<div *ngIf="group != null">

  <div class="row mb-3">
    <div class="col-12">
      <a [routerLink]="['/groups']" class="grassroot-breadcrumb">< Back to groups</a>
    </div>
  </div>

  <div class="card group-summary">

    <div class="card-body">

      <h2 class="group-title">{{group.name}}</h2>

      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid"
               src="{{ group.hasProfileImage() ? group.profileImageUrl : flyerUrlJpg }}"/>
        </div>

        <div class="col-md-8 group-description">
          <p>{{group.description}}</p>
          <div class="row">
            <div class="col-md-7">
              <!-- maybe do a modal to select options in future -->
              <div class="group-info" *ngIf="group.hasProfileImage()">
                <a class="grassroot-link flyer-link" target="_blank" href="{{ flyerUrlPDF }}">{{ 'group.flyer' | translate }}</a>
              </div>

              <div class="group-info creation-info">
                <strong>{{'group.creationLabel' | translate}}</strong>
                <span>{{'group.creationInfo' | translate:group}}</span>
              </div>

              <div *ngIf="group.discoverable" class="group-info">
                <img src="assets/icon_lock_open.png"/> <strong>{{'group.public' | translate}}</strong>
              </div>
              <div *ngIf="!group.discoverable" class="group-info"> {{'group.private' | translate}}</div>

              <div class="group-info">
                <strong>{{'group.myRole' | translate}} </strong>
                <span class="my-role badge badge-success" [translate]="'enum.GroupRole.' + group.userRole">
                    User group role
                  </span>
              </div>

            </div>
            <div class="col-md-5 text-right">
              <div class="group-info">
                <a [routerLink]="['/broadcast/create/group', group.groupUid]" class="btn btn-success broadcast-btn">
                  <img src="assets/icon_megaphone.png"/>
                  {{'group.sendBroadcast' | translate}}
                </a>
              </div>

              <div class="group-info">
                <div class="card group-join-card" (click)="joinMethodsModal()">
                  <div class="card-body text-center">
                    <strong>{{'group.joinCode' | translate}}</strong>
                    <div class="join-code">
                      {{ joinMethodParams.completeJoinCode }}
                    </div>
                    <strong>{{'group.joinWords' | translate}}</strong>
                    <div class="join-word" *ngIf="group.joinWords?.length > 0; else nowords">
                      {{ joinMethodParams.joinWords | uppercase }}
                      {{ 'group.joinWordsSuffix' | translate:joinMethodParams | uppercase }}
                    </div>
                    <!-- todo : permission checks -->
                    <ng-template #nowords>
                      <div class="join-word">
                        {{ 'group.noJoinWordsCanSet' | translate | uppercase }}
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#groupNavbars"
            aria-controls="groupNavbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="groupNavbars">
      <ul class="main-nav navbar-nav mr-auto">

        <li class="nav-item" [ngClass]="{active: currentTab === 'dashboard'}">
          <a class="nav-link" href="#" [routerLink]="['dashboard']" [translate]="'group.nav.dashboard'"> Group
            Dashboard </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'activity'}">
          <a class="nav-link" href="#" [routerLink]="['activity']" [translate]="'group.nav.activity'"> Activity </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'broadcast'}">
          <a class="nav-link" href="#" [routerLink]="['broadcast']" [translate]="'group.nav.broadcast'"> Broadcast </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'members'}" *ngIf="group?.hasPermission('GROUP_PERMISSION_SEE_MEMBER_DETAILS')">
          <a class="nav-link" href="#" [routerLink]="['members']" [translate]="'group.nav.members'"> Members </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'settings'}">
          <a class="nav-link" href="#" [routerLink]="['settings']" [translate]="'group.nav.settings'"> Settings </a>
        </li>

      </ul>

    </div>
  </nav>


  <div class="tab-area">
    <router-outlet></router-outlet>
  </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="group-join-methods" aria-hidden="true" *ngIf="group">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ 'group.joinMethods.modalTitle' | translate }}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- todo : circled number as in wireframe -->
          <div class="col-md-4 col-sm-12">
            <h5 [innerHtml]="'group.joinMethods.ussdCode' | translate:joinMethodParams"></h5>
          </div>
          <div class="col-md-4 col-sm-12">
            <h5 [innerHtml]="'group.joinMethods.joinWords' | translate:joinMethodParams"></h5>
          </div>
          <div class="col-md-4 col-sm-12">
            <h5 [innerHtml]="'group.joinMethods.clickLink' | translate:joinMethodParams"></h5>
          </div>
        </div>

        <div class="row mt-3" *ngIf="(joinMethodParams.joinWords)">
          <div class="col-md-12 col-sm-12">
            <div class="container join-words-header d-none d-md-block">
              <div class="row flex flex-wrap">
                <div class="col-4">Join word</div>
                <div class="col-4">Short URL</div>
                <div class="col-2"></div>
                <div class="col-2">Remove</div>
              </div>
            </div>
            <div *ngFor="let wordInfo of group.joinWords">
              <div class="container join-words-row">
                <div class="row flex flex-wrap">
                  <div class="col-4">{{ wordInfo.word | uppercase }}</div>
                  <div class="col-4">{{ wordInfo.shortUrl }}</div>
                  <div class="col-2">
                    <button class="btn btn-secondary copy-button" (click)="copyToCb(wordInfo)">
                      <i class="fas fa-copy"></i>
                       <span *ngIf="!wordInfo.copied">{{ 'action.copy' | translate | uppercase }}</span>
                       <span *ngIf="wordInfo.copied">{{ 'action.copied' | translate | uppercase }}</span>
                    </button>
                  </div>
                  <div class="col-2"><a href="" class="grassroot-link remove-button" (click)="removeJoinWord(wordInfo)">
                    <i class="fas fa-trash-alt"></i>
                  </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row join-words-add-container" *ngIf="joinMethodParams?.joinWordsLeft > 0; else noWordsLeft">
          <div class="col-md-7 col-sm-12">
            <h4>
              {{ 'group.joinMethods.addJoinWord.' + ((joinMethodParams.joinWords) ? 'some' : 'none') | translate:joinMethodParams }}
            </h4>
          </div>
          <div class="col-md-5 col-sm-12">
            <form [formGroup]="addJoinWordForm" (ngSubmit)="addJoinWord()">
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="joinWord" name="joinWord" id="joinWord"/>
                  <span class="input-group-btn">
                    <button [disabled]="!addJoinWordForm.valid" class="btn btn-primary" type="submit">Add</button>
                  </span>
                </div>
                <div class="alert alert-danger" role="alert"
                     *ngIf="addJoinWordForm.controls.joinWord?.errors?.wordTaken">
                  {{ 'group.joinMethods.joinWordTaken' | translate }}
                </div>
            </form>
          </div>
        </div>

        <ng-template #noWordsLeft>
          <div class="row" class="join-words-add-container">
            <h4>{{ 'group.joinMethods.noWordsLeft' | translate }}</h4>
          </div>
        </ng-template>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'action.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
