<div *ngIf="group != null">

  <div class="card group-summary">

    <div class="card-body">

      <h2 class="group-title">{{group.name}}</h2>

      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid"
               src="{{baseUrl}}/api/group/fetch/flyer?typeOfFile=JPEG&groupUid={{group.groupUid}}&color=true&language=en"/>
        </div>

        <div class="col-md-8 group-description">
          <p>{{group.description}}</p>
          <div class="row">
            <div class="col-md-7">
              <div class="group-info creation-info">
                <strong>{{'group.creationLabel' | translate}}</strong>
                <span>{{'group.creationInfo' | translate:group}}</span>
              </div>

              <div *ngIf="group.discoverable" class="group-info">
                <img src="assets/icon_lock_open.png"/> <strong>{{'group.public' | translate}}</strong>
              </div>
              <div *ngIf="!group.discoverable" class="group-info"> {{'group.private' | translate}}</div>

              <div class="group-info">
                <strong>{{'group.myRole' | translate}} </strong>
                <span class="my-role badge badge-success">
                    {{group.getFormattedRoleName()}}
                  </span>
              </div>

            </div>
            <div class="col-md-5 text-right">
              <div class="group-info">
                <a [routerLink]="['/broadcast/create/group', group.groupUid]" class="btn btn-success broadcast-btn">
                  <img src="assets/icon_megaphone.png"/>
                  {{'group.sendBroadcast' | translate}}
                </a>
              </div>

              <div class="group-info">
                <div class="card group-join-card" (click)="joinMethodsModal()">
                  <div class="card-body text-center">
                    <strong>{{'group.joinCode' | translate}}</strong>
                    <div class="join-code">
                      {{group.joinCode}}
                    </div>
                    <strong *ngIf="group.joinWords?.length > 0">{{'group.joinWords' | translate}}</strong>
                    <div class="join-word" *ngIf="group.joinWords?.length > 0">
                      {{ group.joinWords }}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#groupNavbars"
            aria-controls="groupNavbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="groupNavbars">
      <ul class="main-nav navbar-nav mr-auto">

        <li class="nav-item" [ngClass]="{active: currentTab === 'dashboard'}">
          <a class="nav-link" href="#" [routerLink]="['dashboard']" [translate]="'group.nav.dashboard'"> Group
            Dashboard </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'activity'}">
          <a class="nav-link" href="#" [routerLink]="['activity']" [translate]="'group.nav.activity'"> Activity </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'broadcast'}">
          <a class="nav-link" href="#" [routerLink]="['broadcast']" [translate]="'group.nav.broadcast'"> Broadcast </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'members'}">
          <a class="nav-link" href="#" [routerLink]="['members']" [translate]="'group.nav.members'"> Members </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'settings'}">
          <a class="nav-link" href="#" [routerLink]="['settings']" [translate]="'group.nav.settings'"> Settings </a>
        </li>

      </ul>

    </div>
  </nav>


  <div class="tab-area">
    <router-outlet></router-outlet>
  </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="group-join-methods" aria-hidden="true" *ngIf="group">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'group.joinMethods.modalTitle' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <p translate [translateParams]="joinMethodParams">
            group.joinMethods.ussdCode
          </p>
          <p translate [translateParams]="joinMethodParams">
            group.joinMethods.joinWords
          </p>
          <p *ngIf="group.hasJoinUrls()">
            {{ 'group.joinMethods.joinUrls' | translate:joinMethodParams }}
          </p>
          <p *ngIf="!group.hasJoinUrls()">

          </p>
        </div>
        <form (ngSubmit)="addJoinWord()">
          <div class="form-row">
            <div class="form-group col-12">
              <label>{{ 'group.joinMethods.addJoinWord' | translate:joinMethodParams }}</label>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="joinWord" />
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Add</button>
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'action.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
