<div class="container primary-container" *ngIf="group != null">
  <div class="row mb-3">
    <div class="col-12">
      <a [routerLink]="['/groups']" class="grassroot-breadcrumb"><i class="fas fa-arrow-left"></i> {{ 'group.back' | translate }}</a>
    </div>
  </div>

  <div class="card group-summary">

    <div class="card-body">

      <h2 class="group-title">{{group.name}}</h2>

      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid"
               src="{{ group.hasProfileImage() ? group.profileImageUrl : flyerUrlJpg }}"/>
        </div>

        <div class="col-md-8 group-description">
          <p [innerHtml]="group.description"></p>
          <p *ngIf="group?.paidFor">
            You are known as {{displayName}} in this group
            <a class="grassroot-link" href="#" (click)="triggerAliasModal()">(change)</a>
          </p>
          
          <div class="row">
            <div class="col-md-7">
              <div class="group-info creation-info">
                <span class="grassroot-link">//</span> <strong>{{'group.creationLabel' | translate}}</strong>
                <span>{{'group.creationInfo' | translate:group}}</span>
              </div>

              <div *ngIf="group.discoverable" class="group-info">
                <img src="assets/icon_lock_open.png"/> <strong>{{'group.public' | translate}}</strong>
              </div>
              <div *ngIf="!group.discoverable" class="group-info"> {{'group.private' | translate}}</div>

              <div class="group-info">
                <strong>{{'group.myRole' | translate}} </strong>
                <span class="my-role badge badge-success" [translate]="'enum.GroupRole.' + group.userRole">
                    User group role
                </span>
                <span *ngIf="group.userRole !== 'ROLE_GROUP_ORGANIZER'">&nbsp;
                  <a class="grassroot-link flyer-link" href="#" (click)="triggerUnsubscribeModal()">(unsubscribe)</a>
                </span>
                <span *ngIf="group.userRole === 'ROLE_GROUP_ORGANIZER' && group.canDeactivate()">&nbsp;
                  <a class="grassroot-link flyer-link" href="#" (click)="triggerDeactivateModal()">(deactivate)</a>
                </span>
                <span *ngIf="group.userRole === 'ROLE_GROUP_ORGANIZER' && !group.canDeactivate() && !group.hidden">&nbsp;
                  <a class="grassroot-link flyer-link" href="#" (click)="hideGroup()">(hide)</a>
                </span>
                <span *ngIf="group.hidden">&nbsp;
                  <a class="grassroot-link flyer-link" href="#" (click)="unhideGroup()">(unhide)</a>
                </span>
              </div>

              <div class="group-info" *ngIf="group?.hasPermission('GROUP_PERMISSION_SEE_MEMBER_DETAILS')">
                <a class="grassroot-link flyer-link" href="#" (click)="exportGroupMembers()">Export group to Excel</a>
              </div>

              <!-- maybe do a modal to select options in future -->
              <div class="group-info">
                <a class="grassroot-link flyer-link" target="_blank" href="{{ flyerUrlPDF }}">{{ 'group.flyer' | translate }}</a>
              </div>

              <div class="group-info" *ngIf="!group.paidFor && canAddToAccount">
                <a href="#" (click)="addToAccount()" class="grassroot-link flyer-link">Add to your Grassroot Extra account</a> 
              </div>

            </div>
            <div class="col-md-5 text-right">
              <div class="group-info" *ngIf="group?.hasPermission('GROUP_PERMISSION_SEND_BROADCAST')">
                <a [routerLink]="['/broadcast/create/group', group.groupUid]" class="btn btn-success broadcast-btn">
                  <img src="assets/icon_megaphone.png"/>
                  {{'group.sendBroadcast' | translate}}
                </a>
              </div>

              <div class="group-info">
                <div class="card group-join-card" (click)="joinMethodsModal()">
                  <div class="card-body text-center">
                    <strong>{{'group.joinCode' | translate}}</strong>
                    <div class="join-code">
                      {{ joinMethodParams.completeJoinCode }}
                    </div>
                    <strong>{{'group.joinWords' | translate}}</strong>
                    <div class="join-word" *ngIf="group.joinWords?.length > 0; else nowords">
                      {{ joinMethodParams.joinWords | uppercase }}
                      {{ 'group.joinWordsSuffix' | translate:joinMethodParams | uppercase }}
                    </div>
                    <ng-template #nowords>
                      <div class="join-word">
                        {{ (group?.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS') ?
                          'group.noJoinWordsCanSet' : 'group.noJoinWordsCantSet') | translate | uppercase }}
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#groupNavbars"
            aria-controls="groupNavbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="groupNavbars">
      <ul class="main-nav navbar-nav mr-auto">

        <li class="nav-item" [ngClass]="{active: currentTab === 'dashboard'}">
          <a class="nav-link" href="#" [routerLink]="['dashboard']" [translate]="'group.nav.dashboard'"> Group
            Dashboard </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'activity'}">
          <a class="nav-link" href="#" [routerLink]="['activity']" [translate]="'group.nav.activity'"> Activity </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'broadcast'}">
          <a class="nav-link" href="#" [routerLink]="['broadcast']" [translate]="'group.nav.broadcast'"> Broadcast </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'inbound-messages'}" *ngIf="group?.hasInboundMessages">
          <a class="nav-link" href="#" [routerLink]="['inbound-messages']" [translate]="'group.nav.inboundMessages'">Inbound messages</a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'members'}" *ngIf="group?.hasPermission('GROUP_PERMISSION_SEE_MEMBER_DETAILS')">
          <a class="nav-link" href="#" [routerLink]="['members']" [translate]="'group.nav.members'"> Members </a>
        </li>

        <li class="nav-item" [ngClass]="{active: currentTab === 'settings'}" *ngIf="group?.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS')">
          <a class="nav-link" href="#" [routerLink]="['settings']" [translate]="'group.nav.settings'"> Settings </a>
        </li>

      </ul>

    </div>
  </nav>


  <div class="tab-area">
    <router-outlet></router-outlet>
  </div>

</div>

<app-group-join-methods [group]="groupMinimal" [joinMethodParams]="joinMethodParams" [accountAdmin]="isAccountAdmin">
</app-group-join-methods>

<div class="modal fade" tabindex="-1" role="dialog" id="unsubscribe-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ 'group.unsubscribe-modal.title' | translate }}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>{{ 'group.unsubscribe-modal.header' | translate }}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="unsubscribeFromGroup()">
          Unsubscribe
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'action.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="alias-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ 'group.alias.title' | translate }}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>{{ 'group.alias.header' | translate }}</h5>

        <div class="form-group">
          <input class="form-control" type="text" name="alias" id="alias" #alias>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="changeName(alias.value)">
          Rename
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'action.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="deactivate-modal" aria-hidden="true" 
  *ngIf="group && group.userRole === 'ROLE_GROUP_ORGANIZER' && group.canDeactivate()">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Deactivate group</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>This will deactivate the group. It will no longer be available to you or to any of its members. Are you sure?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-danger" (click)="deactivateGroup()">
          Deactivate
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'action.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>