/* not strictly required in here but loading it so it is cached */
@import "https://cdn.quilljs.com/1.2.2/quill.snow.css";

.navbar-light .navbar-nav .active.enabled > .nav-link {
  color: #2CBC4C !important;
}

.navbar-light .navbar-nav .enabled > .nav-link {
  color: #2CBC4C !important;
}

.navbar-nav .nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.next-button {
  padding: 10px 60px;
  font-size: 1.1em;
}

.cancel-button {
  padding: 10px 50px;
  font-size: 1.1em;
}

.back-button {
  padding: 10px 50px;
  font-size: 1.1em;
}
