.navbar-light .navbar-nav .active.enabled > .nav-link {
  color: #2CBC4C !important;
}

.navbar-light .navbar-nav .enabled > .nav-link {
  color: #2CBC4C !important;
}

.navbar-nav .nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.next-button {
  padding: 10px 60px;
  font-size: 1.1em;
}

.cancel-button {
  padding: 10px 50px;
  font-size: 1.1em;
}

.back-button {
  padding: 10px 50px;
  font-size: 1.1em;
}

@media(max-width: 768px) {
  .stage-buttons {
    display: none !important;
  }

  .card {
    padding-left: 0;
    padding-right: 0;
    border: 1px red !important;
  }

  .broadcast-main {
    padding-left: 0;
    padding-right: 0;
    border: 1px green !important;
  }

  .cancel-holder {
    padding-top: 20px;
    text-align: center;
  }

  .next-holder {
    text-align: center;
    padding-top: 20px;
  }

  .next-button {
    margin: 0 !important;
  }
}
