<div class="modal fade" id="create-vote-modal" tabindex="-1" role="dialog"
     aria-labelledby="create-vote-modal"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ 'group.activity.voteModal.title' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="createVoteForm" *ngIf="!confirmingSend">

          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-md-right text-sm-left">
              <label for="vote-subject">{{ 'group.activity.voteModal.subject' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="vote-subject" maxlength="100"
                     placeholder="{{ 'group.activity.voteModal.subject' | translate }}"
                     name="subject" [formControl]="createVoteForm.controls['title']">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-md-right text-sm-left">
              <label for="vote-type">{{ 'group.activity.voteModal.typeOfVote' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <select class="form-control" id="vote-type" name="name-select"
                      [formControl]="createVoteForm.controls['voteType']"
                      (change)="voteTypeChanged($event.target.value)">
                <option value="YES_NO">{{ 'group.activity.voteModal.yesNo' | translate }}</option>
                <option value="MULTI_OPTION">{{ 'group.activity.voteModal.multiOption' | translate }}</option>
              </select>
            </div>
          </div>

          <div class="form-group row" *ngIf="!yesNoVote">
            <div class="col-md-4 d-none d-md-block col-form-label">
            </div>
            <div class="col-md-8 col-sm-12">
              <div formArrayName="voteOptions">
                <div *ngFor="let options of createVoteForm.controls.voteOptions.controls; let i=index">

                  <div [formGroupName]="i" style="margin-bottom: 0.1rem">
                    <div class="input-group">
                      <input type="text" class="form-control"
                             placeholder="{{'group.activity.voteModal.enterVoteOption' | translate}}"
                             aria-describedby="basic-addon2" formControlName="option">
                      <span class="input-group-addon" id="basic-addon"
                            *ngIf="createVoteForm.controls.voteOptions.controls.length > 1"
                            (click)="removeOption(i)">
                        -
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <button type="button" class="btn btn-secondary" (click)="addOption()">
                  {{'group.activity.voteModal.addVoteOption' | translate}}
                </button>
              </div>

            </div>
          </div>

          <div class="form-group row" *ngIf="canRandomize">
            <div class="col-sm-4 col-form-label text-md-right text-sm-left">
              <label>Randomize?</label>
            </div>
            <div class="col-sm-8">
              <label for="randomize-options">
                <input type="checkbox" class="form-check-input" id="randomize-options" 
                  [formControl]="createVoteForm.controls['randomize']">
                  If ticked, options will appear in a random order
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-md-right text-sm-left">
              <label for="vote-date">{{ 'group.activity.voteModal.dateAndTime' | translate }}</label>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" id="vote-date"
                         name="dp" [formControl]="createVoteForm.controls['date']" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <img src="assets/icon-calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <ngb-timepicker [formControl]="createVoteForm.controls['time']" [spinners]="false"></ngb-timepicker>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-md-right text-sm-left">
              <label for="vote-description">{{ 'group.activity.voteModal.description-label' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <textarea class="form-control" id="vote-description" rows="2"
                        placeholder="{{ 'group.activity.voteModal.description-place' | translate }}"
                        [formControl]="createVoteForm.controls['description']"></textarea>
            </div>
          </div>

          <div *ngIf="isGroupPaidFor" class="form-group row">
            <div class="col-sm-4 col-form-label text-md-right text-sm-left">
              <label for="vote-special-form">Special vote?</label>
            </div>
            <div class="col-sm-8">
              <select class="form-control" name="vote-special-form" id="vote-special-form" [formControl]="createVoteForm.controls['specialForm']">
                <option value="ORDINARY">Ordinary</option>
                <option value="MASS_VOTE">Mass vote</option>
              </select>
            </div>
          </div>

          <div *ngIf="isGroupPaidFor && isMassVote" class="form-group row">
            <div class="col-sm-4 col-form-label text-md-right text-sm-left">
                <label for="vote-special-form">Extra language prompts (optional)</label>
              </div>
              <div class="col-sm-8">
                <ngb-tabset class="content-tabset" #t="ngbTabset">
                  <ngb-tab *ngFor="let language of languages" [id]="'opening-' + language.threeDigitCode">
                    <ng-template ngbTabTitle>
                      {{ language.shortName }}
                    </ng-template>
                    <ng-template ngbTabContent>
                      <textarea class="form-control boxsizingBorder" rows="2" formControlName="opening-{{ language.threeDigitCode }}"></textarea>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
          </div>

          <div *ngIf="isGroupPaidFor && isMassVote" class="form-group row">
              <div class="col-sm-4 col-form-label text-md-right text-sm-left">
                  <label for="vote-special-form">Post vote prompts (optional)</label>
                </div>
              <div class="col-sm-8">
                <ngb-tabset class="content-tabset" #t="ngbTabset">
                  <ngb-tab *ngFor="let language of languages" [id]="'post-' + language.threeDigitCode">
                    <ng-template ngbTabTitle>
                      {{ language.shortName }}
                    </ng-template>
                    <ng-template ngbTabContent>
                      <textarea class="form-control boxsizingBorder" rows="2" formControlName="post-{{ language.threeDigitCode }}"></textarea>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
          </div>

          <div *ngIf="isGroupPaidFor && isMassVote" class="form-group row">
              <div class="col-sm-4 col-form-label text-md-right text-sm-left">
                  <label for="vote-special-form">Final tweaks</label>
                </div>
              <div class="col-sm-8">
                  <label for="exclude-abstain">
                      <input type="checkbox" class="form-check-input" id="exclude-abstain"
                             formControlName="excludeAbstain">
                      Leave out abstain
                  </label>
                  <label for="exclude-notifications">
                      <input type="checkbox" class="form-check-input" id="exclude-notifications"
                             formControlName="excludeNotifications">
                      Leave out SMSs
                  </label>
              </div>
          </div>

        </form>

        <div class="row" *ngIf="confirmingSend">
          <div class="col-12">
            <h4 [translate]="'group.activity.voteModal.confirmTitle'">Confirm assigned members</h4>
            <p [translate]="'group.activity.voteModal.confirmPara' + (confirmParams?.membersAssigned ? 'Assigned' : 'All')" 
              [translateParams]="confirmParams">
              You are about to call a vote about (subject), closing at (time). The following will be asked to vote: (people)
            </p>
          </div>
        </div>

        <div class="row" *ngIf="confirmingSend && taskPreview">
          <app-task-preview [taskPreview]="taskPreview"></app-task-preview>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="confirmingSend" (click)="confirmingSend = false" class="btn btn-secondary back-button">
          {{ 'action.back' | translate }}
        </button>
        <button type="button" class="btn btn-primary save-button" (click)="next()" [disabled]="!createVoteForm.valid">{{
          'action.send' | translate }}
        </button>
        <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">{{ 'action.cancel' | translate }}</button>
      </div>

    </div>
  </div>
</div>

