<div class="container group-info-row">
  <div class="row flex flex-wrap">
    <div class="order-1 col-6 col-md-2 order-md-1 col-lg-3 group-name">
      <img *ngIf="!group.pinned" class="pin" src="assets/star_empty.png" (click)="handlePinClick()"/>
      <img *ngIf="group.pinned" class="pin" src="assets/star_full.png" (click)="handlePinClick()"/>
      <a href="#group/{{group.groupUid}}">{{group.name}}</a>
    </div>
    <div class="col-md-2 order-md-2 col-lg-2 d-none d-md-block">
          <span class="badge badge-success">
            {{group.userRole}}
          </span>
    </div>
    <div class="col-md-3 order-md-3 col-lg-3 d-none d-md-block">
      <img *ngIf="group.nextEventType" src="assets/{{group.getEventIconName()}}"/>
      {{group.getFormattedEventTime()}}
    </div>
    <div class="col-6 order-3 col-md-2 order-md-4 col-lg-2">
      <img src="assets/members.png"/>
      {{group.memberCount}}
    </div>

    <div class="col-6 order-4 text-right col-md-2 order-md-5 col-lg-1">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {{ 'groups.row.action.title' | translate }}
          </button>
          <div class="dropdown-menu">
            <a *ngIf="group.hasPermission('GROUP_PERMISSION_CREATE_GROUP_MEETING')" class="dropdown-item disabled">{{ 'groups.row.action.meeting' | translate }}</a>
            <a *ngIf="group.hasPermission('GROUP_PERMISSION_CREATE_GROUP_VOTE')" class="dropdown-item disabled">{{ 'groups.row.action.vote' | translate }}</a>
            <a *ngIf="group.hasPermission('GROUP_PERMISSION_CREATE_LOGBOOK_ENTRY')" class="dropdown-item disabled">{{ 'groups.row.action.create' | translate }}</a>
          </div>
      </div>

    </div>

    <div class="col-6 order-2 text-right col-md-1 order-md-6 col-lg-1 chevron">
        <img src="assets/chevron_right.png" (click)="handleChevronPicked()"/>
    </div>
  </div>
</div>


<div *ngIf="extendedInfoVisible" class="container group-info-details">

  <div class="row">
    <div class="col-md-5">
      <h5>{{ 'groups.row.comingUp.title' | translate }}</h5>
      <div class="container ">
        <div class="row task-row" *ngFor="let task of group.comingUpEvents">
          <div class="col-md-4 no-padding-horizontal">
            <img src="assets/{{task.getEventIconName()}}"/>
            <span class="task-type">{{task.type}}</span>
          </div>
          <div class="col-md-8">
            {{task.deadlineTime | date:'dd MMMM, y'}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <h5>{{ 'groups.row.taskTeam.title' | translate }}</h5>
      <div class="container ">
        <div class="row" *ngFor="let subGroup of group.subGroups">
          <div class="col-md-12 no-padding-horizontal">
            <div class="btn-group" role="group">
              <button type="button" class="btn subgroup-link">{{subGroup.name}}</button>
              <span class="input-group-addon" id="btnGroupAddon">{{subGroup.memberCount}}</span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <a href="#">{{ 'groups.row.taskTeam.view' | translate }}</a>
      <a href="#/group/{{group.groupUid}}">
        <button class="btn btn-outline-secondary view-group-btn float-right">{{ 'groups.row.viewGroup' | translate }}</button>
      </a>
    </div>

  </div>
</div>

