<div class="modal fade" tabindex="-1" role="dialog" id="group-join-methods" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ 'group.joinMethods.modalTitle' | translate }}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"*ngIf="group">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <h5 [innerHtml]="'group.joinMethods.ussdCode' | translate:joinMethodParams"></h5>
          </div>
          <div class="col-md-4 col-sm-12">
            <h5 [innerHtml]="'group.joinMethods.joinWords' | translate:joinMethodParams"></h5>
          </div>
          <div class="col-md-4 col-sm-12">
            <h5 [innerHtml]="'group.joinMethods.clickLink' | translate:joinMethodParams"></h5>
          </div>
        </div>

        <div class="row mt-3" *ngIf="group.joinWords && group.joinWords.length > 0">
          <div class="col-md-12 col-sm-12">
            <div class="container join-words-header d-none d-md-block">
              <div class="row flex flex-wrap">
                <div class="col-4">Join word</div>
                <div class="col-4">Short URL</div>
                <div class="col-2"></div>
                <div class="col-2">Remove</div>
              </div>
            </div>
            <div *ngFor="let wordInfo of group.joinWords">
              <app-join-word-row [wordInfo]="wordInfo" [groupJoinCode]="group.joinCode" [groupName]="group.name" 
                (removeWord)="removeJoinWord(wordInfo)"></app-join-word-row>
            </div>
          </div>
        </div>

        <div *ngIf="group.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS')">
          <div class="row join-words-add-container" *ngIf="group.joinWordsLeft > 0; else noWordsLeft">
            <div class="col-md-7 col-sm-12">
              <h4>
                {{ 'group.joinMethods.addJoinWord.' + ((joinMethodParams.joinWords) ? 'some' : 'none') | translate:joinMethodParams }}
              </h4>
            </div>
            <div class="col-md-5 col-sm-12">
              <form [formGroup]="addJoinWordForm" (ngSubmit)="addJoinWord()">
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="joinWord" name="joinWord" id="joinWord"/>
                    <span class="input-group-btn">
                      <button [disabled]="!addJoinWordForm.valid" class="btn btn-primary" type="submit">Add</button>
                    </span>
                  </div>
                  <div class="alert alert-danger" role="alert"
                       *ngIf="addJoinWordForm.controls['joinWord']?.errors?.wordTaken">
                    {{ 'group.joinMethods.joinWordTaken' | translate }}
                  </div>
              </form>
            </div>
          </div>

          <ng-template #noWordsLeft>
            <div class="row" class="join-words-add-container">
              <h4>{{ 'group.joinMethods.noWordsLeft' | translate }}</h4>
            </div>
          </ng-template>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <label for="join-topic-select" class="grassroot-label-em">
              {{ 'group.joinMethods.joinTopicsLabel' | translate }}
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <select class="form-control" style="width: 100%" id="join-topic-select" multiple="multiple">
              <option *ngFor="let topic of group?.topics" [value]="topic" [selected]="group?.isJoinTopic(topic)">{{ topic }}</option>
            </select>
          </div>
        </div>

        <div *ngIf="group.paidFor && group.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS') && accountAdmin">
        <div class="row join-words-add-container">
          <div class="col-12">
            <h4>Set a welcome message</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <textarea class="form-control" [formControl]="welcomeMessageInput" maxlength="160"
            placeholder="You can set an SMS here that anyone joining the group will receive, whether you add them or they join by any other means"></textarea>
          </div>
        </div>
        <div class="row mt-3" *ngIf="welcomeMessageInput?.dirty || welcomeMessageInput?.touched || welcomeMessageInput?.value || welcomeMsgResult">
          <div class="col-md-6 col-sm-12">
            <p *ngIf="welcomeMsgResult">{{ welcomeMsgResult }}</p>
          </div>
          <div class="col-md-6 col-sm-12 float-right">
            <button type="submit" *ngIf="welcomeMessageInput?.value" (click)="clearWelcomeMessage()" class="btn btn-secondary hover-danger float-right">Deactivate</button>
            <button type="button" (click)="setWelcomeMessage()" class="btn btn-secondary hover-primary float-right">Update</button>
          </div>
        </div>
      </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="joinTopicsChanged" (click)="setJoinTopics()">
          {{ 'action.save' | translate }}
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'action.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
