.form-label {
  font-size: 1.1em;
}

.btn-success {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.1em
}

.top-buffer {
  margin-top: 20px;
}

.top-buffer-lg {
  margin-top: 40px;
}

.bottom-buffer {
  margin-bottom: 40px;
}
