<div class="card-body" *ngIf="campaign">
  <div class="row mt-md-1 mb-md-3">
    <div class="d-flex col-12 justify-content-center">
      <h2>{{'campaign.settings.title' | translate}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 col-sm-12 justify-content-center">
      <form [formGroup]="campaignSettingsForm" novalidate>

        <div class="form-row">
          <div class="form-group col-md-12 col-sm-12">
            <label class="form-label grassroot-label-em" for="name">{{ 'campaign.settings.name' | translate }}</label>
            <input type="text" class="form-control form-control-em" id="name" [formControl]="campaignSettingsForm.controls['name']" />
            <div class="alert alert-danger alert-inline" role="alert"
                 *ngIf="campaignSettingsForm.controls.name?.errors?.required && (campaignSettingsForm.controls.name?.touched || campaignSettingsForm.controls.name?.dirty)">
              {{ 'campaign.create.errors.fieldRequired' | translate }}</div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8 col-sm-12">
            <label class="form-label grassroot-label-em" for="description">{{ 'campaign.settings.description' | translate }}</label>
            <textarea class="form-control" id="description" [formControl]="campaignSettingsForm.controls['description']"
                      rows="4"></textarea>
            <div class="alert alert-danger alert-inline" role="alert"
                 *ngIf="campaignSettingsForm.controls.description?.errors?.required && (campaignSettingsForm.controls.description?.touched || campaignSettingsForm.controls.description?.dirty)">
              {{ 'campaign.create.errors.fieldRequired' | translate }}</div>
          </div>
          <div class="form-group col-md-4 col-sm-12">
            <label class="form-label grassroot-label-em">{{ 'campaign.settings.image' | translate }}</label>
            <div draggable="true" class="dragarea">
              <div class="col-md-12 text-center" >
                <img class="img-thumbnail" *ngIf="campaignImageUrl" [src]="campaignImageUrl" />
                <a class="grassroot-link" href="javascript:void(0)" (click)="file.click()" >
                  {{ 'campaign.settings.image_add' | translate}}</a>
                <input type="file" #file
                       [multiple]="false"
                       (change) = "alterCampaignImage($event)"
                       style="display:none" />
              </div>
            </div>
            <label class="form-label" *ngIf="campaignImageUrl">{{ 'campaign.settings.image_remove' | translate }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <label class="grassroot-label-em">{{ 'campaign.settings.ends' | translate }}</label>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="campaign-end-date" [disabled]="!extendingCampaign"
                       [formControl]="campaignSettingsForm.controls['endDate']" name="edp" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn calendar-button" (click)="d.toggle()" type="button">
                    <i class="far fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <!-- blank unless needed for new code -->
            <input *ngIf="needsNewCode" type="text" class="form-control" [value]="campaign.campaignCode"
              [formControl]="campaignSettingsForm.controls['newCode']" />
          </div>
          <div class="col-md-3 col-sm-12 float-right">
            <button class="btn btn-secondary hover-primary float-right" (click)="alterEndDate()">
              {{ campaign?.isActive() ? 'Extend' : 'Reactivate' }}
            </button>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-3 col-sm-6">
            <label class="grassroot-label-em">{{ 'campaign.settings.type' | translate }}</label>
          </div>
          <div class="col-md-3 col-sm-6">
            {{ 'enum.CampaignType.' + campaign.campaignType | translate }}
          </div>
          <div class="col-md-6 col-sm-12 float-right">
            <button class="btn btn-secondary hover-primary float-right">{{ 'action.change' | translate }}</button>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label class="grassroot-label-em">{{ 'campaign.settings.group' | translate }}</label>
          </div>
          <div class="form-group col-sm-3">
            {{ campaign.masterGroupName }}
          </div>
          <div class="col-md-6  col-sm-6 float-right">
            <button class="btn btn-secondary hover-primary float-right">{{ 'action.change' | translate }}</button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <label class="grassroot-label-em">{{ 'campaign.settings.sms_sharing' | translate }}</label>
          </div>
          <div class="form-group col-sm-3">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="radio" value="true" disabled
                       name="sms-share" [formControl]="campaignSettingsForm.controls['smsShare']">
                {{ 'action.yes' | translate }}
              </label>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="radio" value="false" disabled
                       name="sms-share" [formControl]="campaignSettingsForm.controls['smsShare']">
                {{ 'action.no' | translate }}
              </label>
            </div>
          </div>
          <div class="form-group col-sm-3 float-right">
            <button class="btn btn-secondary hover-primary float-right">Change</button>
          </div>
        </div>

        <!-- todo : pull message cost from server -->
        <div class="row" *ngIf="campaignSettingsForm.controls.smsShare?.value == 'true'">
          <div class="col-sm-3">
            <label for="sms-limit" class="grassroot-label-em">{{ 'campaign.create.sms-share.sms-limit' | translate }}</label>
          </div>
          <div class="col-sm-3">
            <input id="sms-limit" type="number" class="form-control" [formControl]="campaignSettingsForm.controls['smsLimit']"/>
          </div>
          <div class="col-sm-3 text-left">
            {{ 'campaign.create.sms-share.sms-cost' | translate }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-12">
            <label for="join-words" class="grassroot-label-em">Join topics: </label>
          </div>
          <div class="form-group col-md-9 col-sm-12">
            <input id="join-words" class="form-control" type="text" />
          </div>
        </div>

        <!-- URL SETTING STARTS HERE -->
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="amandla-url" class="grassroot-label-em">{{ 'campaign.settings.petition' | translate }}</label>
          </div>
          <div class="form-group col-sm-9">
            <input id="amandla-url" type="text" [formControl]="campaignSettingsForm.controls['amandlaUrl']"
                   class="form-control form-control-em"/>
            <div class="alert alert-danger alert-inline" role="alert"
                 *ngIf="campaignSettingsForm.controls.amandlaUrl?.errors?.validUrl && campaignSettingsForm.controls.amandlaUrl?.touched">
              {{ 'campaign.create.errors.urlFormat' | translate }}</div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3">
            <label class="grassroot-label-em">{{ 'campaign.create.landing-page.label' | translate }}</label>
          </div>

          <div class="form-group col-sm-3">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="radio" value="GRASSROOT"
                       name="landing-page" [formControl]="campaignSettingsForm.controls['landingPage']">
                {{ 'campaign.create.landing-page.grassroot' | translate }}
              </label>
            </div>
          </div>

          <div class="form-group col-sm-3" *ngIf="campaignSettingsForm.controls.amandlaUrl?.value">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="radio" value="AMANDLA"
                       name="landing-page" [formControl]="campaignSettingsForm.controls['landingPage']">
                {{ 'campaign.create.landing-page.amandla' | translate }}
              </label>
            </div>
          </div>

          <div class="form-group col-sm-3">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="radio" value="OTHER"
                       name="landing-page" [formControl]="campaignSettingsForm.controls['landingPage']">
                {{ 'campaign.create.landing-page.other' | translate }}
              </label>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="campaignSettingsForm.controls.landingPage?.value == 'OTHER'">
          <div class="form-group col-sm-3">
            <label for="landing-url" class="grassroot-label-em">URL:</label>
          </div>
          <div class="form-group col-sm-9">
            <input id="landing-url" [formControl]="campaignSettingsForm.controls['landingUrl']"
                   type="text" class="form-control form-control-em" />
            <div class="alert alert-danger alert-inline" role="alert"
                 *ngIf="campaignSettingsForm.controls.landingUrl?.errors?.validUrl
                 && (campaignSettingsForm.controls.landingUrl?.touched)">
              {{ 'campaign.create.errors.urlFormat' | translate }}</div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-4">
            <button [routerLink]="['/campaigns']" type="button" class="btn btn-lg btn-secondary cancel-button">
              {{ 'action.cancel' | translate }}
            </button>
          </div>
          <div class="col-sm-8 ">
            <button type="submit" class="btn btn-lg btn-primary float-right save-button"> {{ 'action.save' |
              translate }}
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="create-group-modal" aria-hidden="true">

</div>
