@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?c2xrzj');
  src:  url('icomoon.eot?c2xrzj#iefix') format('embedded-opentype'),
    url('icomoon.ttf?c2xrzj') format('truetype'),
    url('icomoon.woff?c2xrzj') format('woff'),
    url('icomoon.svg?c2xrzj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox:before {
  content: "\e921";
  color: #7a7d8c;
}
.icon-checkbox-selected:before {
  content: "\e922";
  color: #1abc9c;
}
.icon-connect .path1:before {
  content: "\e923";
  color: rgb(235, 237, 240);
}
.icon-connect .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-connect .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(191, 235, 201);
}
.icon-connect .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-connect .path5:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-connect .path6:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-connect .path7:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-success .path1:before {
  content: "\e92a";
  color: rgb(235, 237, 240);
}
.icon-success .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-success .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-success .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(191, 235, 201);
}
.icon-success .path5:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-success .path6:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-success .path7:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-create-action-items .path1:before {
  content: "\e931";
  color: rgb(122, 125, 140);
}
.icon-create-action-items .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(191, 235, 201);
}
.icon-create-action-items .path3:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(191, 235, 201);
}
.icon-create-action-items .path4:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(191, 235, 201);
}
.icon-create-action-items .path5:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(191, 235, 201);
}
.icon-create-action-items .path6:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-create-action-items .path7:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-create-action-items .path8:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-create-action-items .path9:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-create-action-items .path10:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-create-action-items .path11:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-create-action-items .path12:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-create-action-items .path13:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-cast-vote .path1:before {
  content: "\e93e";
  color: rgb(235, 237, 240);
}
.icon-cast-vote .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-cast-vote .path3:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(191, 235, 201);
}
.icon-cast-vote .path4:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-cast-vote .path5:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cast-vote .path6:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-cast-vote .path7:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-call-meetings .path1:before {
  content: "\e945";
  color: rgb(235, 237, 240);
}
.icon-call-meetings .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-call-meetings .path3:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-call-meetings .path4:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-call-meetings .path5:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(191, 235, 201);
}
.icon-call-meetings .path6:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-call-meetings .path7:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-call-meetings .path8:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-call-meetings .path9:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-call-meetings .path10:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-call-meetings .path11:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-call-meetings .path12:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-create-groups .path1:before {
  content: "\e951";
  color: rgb(191, 235, 201);
}
.icon-create-groups .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-create-groups .path3:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-create-groups .path4:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.3;
}
.icon-create-groups .path5:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.3;
}
.icon-create-groups .path6:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-create-groups .path7:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-create-groups .path8:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-create-groups .path9:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-create-groups .path10:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-create-groups .path11:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-search_recall .path1:before {
  content: "\e95c";
  color: rgb(235, 237, 240);
}
.icon-search_recall .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-search_recall .path3:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-search_recall .path4:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(235, 237, 240);
}
.icon-search_recall .path5:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(191, 235, 201);
}
.icon-search_recall .path6:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(44, 188, 76);
}
.icon-search_recall .path7:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(122, 125, 140);
}
.icon-twitter-logo:before {
  content: "\e900";
  color: #fff;
}
.icon-fb-logo:before {
  content: "\e901";
  color: #fff;
}
.icon-github-logo:before {
  content: "\e902";
  color: #fff;
}
.icon-google-play:before {
  content: "\e903";
  color: #fff;
}
.icon-linkedin-logo:before {
  content: "\e904";
  color: #fff;
}
.icon-partners:before {
  content: "\e905";
  color: #2cbc4c;
}
.icon-team:before {
  content: "\e906";
  color: #2cbc4c;
}
.icon-vision:before {
  content: "\e907";
  color: #2cbc4c;
}
.icon-favourite-fill:before {
  content: "\e908";
  color: #7a7d8c;
}
.icon-favourite:before {
  content: "\e909";
  color: #7a7d8c;
}
.icon-help:before {
  content: "\e90a";
  color: #7a7d8c;
}
.icon-add-member:before {
  content: "\e90b";
  color: #929baf;
}
.icon-broadcast:before {
  content: "\e90c";
  color: #7a7d8c;
}
.icon-close:before {
  content: "\e90d";
  color: #7a7d8c;
}
.icon-end-date:before {
  content: "\e90e";
  color: #7a7d8c;
}
.icon-event:before {
  content: "\e90f";
  color: #7a7d8c;
}
.icon-facebook .path1:before {
  content: "\e910";
  color: rgb(146, 155, 175);
}
.icon-facebook .path2:before {
  content: "\e911";
  margin-left: -0.9091796875em;
  color: rgb(255, 255, 255);
}
.icon-filter:before {
  content: "\e912";
  color: #7a7d8c;
}
.icon-grassroot .path1:before {
  content: "\e913";
  color: rgb(122, 125, 140);
  opacity: 0.2531;
}
.icon-grassroot .path2:before {
  content: "\e914";
  margin-left: -0.9091796875em;
  color: rgb(146, 155, 175);
}
.icon-import-list:before {
  content: "\e915";
  color: #929baf;
}
.icon-left-arrow:before {
  content: "\e916";
  color: #7a7d8c;
}
.icon-locked:before {
  content: "\e917";
  color: #7a7d8c;
}
.icon-members:before {
  content: "\e918";
  color: #7a7d8c;
}
.icon-mobile:before {
  content: "\e919";
  color: #929baf;
}
.icon-notification:before {
  content: "\e91a";
  color: #7a7d8c;
}
.icon-petition:before {
  content: "\e91b";
  color: #7a7d8c;
}
.icon-right-arrow:before {
  content: "\e91c";
  color: #7a7d8c;
}
.icon-search:before {
  content: "\e91d";
  color: #7a7d8c;
}
.icon-task-team:before {
  content: "\e91e";
  color: #7a7d8c;
}
.icon-unlocked:before {
  content: "\e91f";
  color: #7a7d8c;
}
.icon-vote:before {
  content: "\e920";
  color: #7a7d8c;
}
