:host {
  display: block;
  background: #525252;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.illustration {
  position: relative;
  bottom: -17px;
  z-index: 10;
  animation: svg-reveal ease 2s forwards;
  transform: translateY(30px);
  opacity: 0;
}

.bg-image {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity ease 0.5s;
  min-width: 100%;
}

.bg-image--shown {
  opacity: 1;
}

.bg-image--high-res {
  z-index: 30;
}

.bg-image--low-res {
  z-index: 20;
}


@keyframes svg-reveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .bg-image {
    height: 100%;
  }
}
