<div class="modal fade" tabindex="-1" role="dialog" id="{{ modalId }}" aria-hidden="true" *ngIf="group">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'group.allMembers.addToTaskTeam.modalTitle' | translate }}</h5>
        <button type="button" class="close" (click)="cancelOrClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="members">
        <div class="container group-info-header d-none d-md-block">
          <div class="row">
            <div class="col-3" [translate]="'group.allMembers.addToTaskTeam.table.name'">Name</div>
            <div class="col-3" [translate]="'group.allMembers.addToTaskTeam.table.role'">Role</div>
            <div class="col-3" [translate]="'group.allMembers.addToTaskTeam.table.phone'">Phone</div>
            <div class="col-3" [translate]="'group.allMembers.addToTaskTeam.table.email'">email</div>
          </div>
        </div>
        <div class="container group-info-row" *ngFor="let member of members">
          <div class="row flex flex-wrap">
            <div class="col-3">
              {{member.displayName}}
            </div>
            <div class="col-3">
              {{'enum.GroupRole.' + member.roleName | translate}}
            </div>
            <div class="col-3">
              {{member.nationalNumber()}}
            </div>
            <div class="col-3">
              {{member.emailAddress}}
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row mt-3" *ngIf="group.subGroups && group.subGroups.length > 0 && !creatingTaskTeam">
            <div class="col-md-6 col-sm-12">
              <h4 [translate]="'group.allMembers.addToTaskTeam.addToTaskTeamLabel'">Add to task team:</h4>
            </div>
            <div class="col-md-6 col-sm-12 float-right">
              <a [routerLink]="['../task-teams']" data-dismiss="modal" class="grassroot-link pull-right manage-link">
                {{ 'group.allMembers.addToTaskTeam.manageTeams' | translate }}
              </a>
            </div>
          </div>

          <div class="row mt=3" *ngIf="group.subGroups && group.subGroups.length > 0 && !creatingTaskTeam">
            <div class="col-md-6 col-sm-12">
              <select class="form-control form-control-em" [(ngModel)]="selectedTaskTeam">
                <option [ngValue]="null">{{'group.allMembers.addToTaskTeam.pickTaskTeam' | translate}}</option>
                <option class="dropdown-item task-team-name" *ngFor="let taskTeam of group.subGroups" [ngValue]="taskTeam">{{taskTeam.name}}</option>
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-4 col-sm-12">
              <button [ngClass]="['btn', (creatingTaskTeam ? 'btn-primary' : 'btn-secondary'), 'create-team']"
                      (click)="toggleNewTeamNameEntry()"><i class="fas fa-plus"></i> {{ 'group.allMembers.addToTaskTeam.addTeam' | translate }}</button>
            </div>
            <div class="col-md-8 col-sm-12 pull-left text-left" *ngIf="creatingTaskTeam">
              <input class="form-control form-control-em" type="text" placeholder="{{ 'group.allMembers.addToTaskTeam.addTeamPlace' | translate }}"
                     (keyup)="storeNewTeamName($event)" />
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save-button" (click)="saveAddMemberToTaskTeam()"
                [disabled]="!selectedTaskTeam && !newTaskTeamName">
          {{ 'action.save' | translate }}
        </button>
        <button type="button" class="btn btn-secondary cancel-button" (click)="cancelOrClose()">
          {{ 'action.cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
