.create-team {
  padding: 5px 10px;
}

.create-team:hover {
  cursor: pointer;
  background: #26A041;
  color: white;
}

.task-team-name {
  width: 100%;
}

.manage-link {
  font-size: 1.1em;
  text-decoration: underline;
  text-align: right;
}
