<div class="jumbotron" id="about_banner">
  <div class="container text-center">
    <div class="intro-content">
      <div class="meet-vote-act">ABOUT US</div>
      <h1>Our vision is a nation self-organizing from the ground-up</h1>
    </div><!-- /.intro-content -->
  </div>
</div><!-- /.jumbotron -->

<div class="row">
  <div class="col-xl-10 offset-xl-1 col-md-10 offset-md-1">
    <div class="section-grey bg-grey">
      <div class="container padded-card">
        <div class="section-header text-center">
          <h2>Our Mission</h2>
        </div>
        <div class="tools-inner row">
          <div class="col-lg-6 text-lg-right">
            <img src="assets/our_mission_2.jpg" class="img-fluid display-photo">
          </div>
          <div class="col-lg-6 mission-statement">
            <p class="mission-para">To rekindle the ability to act together that defeated Apartheid and with it
              transform and strengthen our democracy.</p>
            <p class="mission-para">To create solutions that enable communities and individuals to act together with
              more endurance, skill and independence from above than is feasible today.</p>
            <p class="mission-para">To bring to life the Freedom Charter's first and principle demand, that the people shall
              govern, and to create a beacon for our continent as it enters its century.</p>
            <p class="mission-footnote">* In pursuit of this mission, Grassroot is a non-profit, certified as a tax-exempty, public benefit
              organization under South African law.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bg-white no-top-padding">
  <div class="col-xl-10 offset-xl-1 col-md-10 offset-md-1">
    <div id="team"></div>
    <div class="our-vision bg-white">
      <div class="container">
        <div class="section-header section-header-narrow">
          <h2 class="text-center">Our Team</h2>
        </div><!-- /.section-header -->
        <div class="padded-card">
          <div class="section-content row">
            <div class="col-12"><h3 class="team-list-header">Board</h3></div>
          </div>
          <div class="section-content row">
            <div class="col-md-4 col-sm-12">
              <div class="list-group team-list" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#ravi_naidoo" role="tab">Ravi Naidoo (Chair)</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#astrid_ludin">Astrid Ludin</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#nokwanda_sihlali">Nokwanda Sihlali</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#luke_jordan">Luke Jordan</a>
              </div>
            </div>
            <div class="col-md-8 col-sm-12 tab-content">
              <div class="tab-pane active" id="ravi_naidoo" role="tabpanel">
                <p class="team-bio-para">Founder and CEO of Bluefields; former Executive Director of Economic Development at the City of Johannesburg;
                  executive at the Development Bank of South Africa; and coordinator of the South African Cabinet Committee on
                  the Economy. Independent Non-Executive Director at Grassroot and Chair of the Board.</p>
              </div>
              <div class="tab-pane" id="astrid_ludin" role="tabpanel">
                <p class="team-bio-para">Former Commissioner of the Companies and Intellectual Property Commission (CIPC); Deputy Director-General of the dti;
                  served on the Financial Services Policy Board; National Lotteries Board, among others; over 20 years' experience
                  in public policy, regulation and governance. Independent Non-Executive Director.</p>
              </div>
              <div class="tab-pane" id="nokwanda_sihlali" role="tabpanel">
                <p class="team-bio-para">PhD student at UCT. She was Grassroot's first community builder from 2016-17, in which role she engaged extensively
                  with early adopters and helped build Grassroot's field organization.</p>
              </div>
              <div class="tab-pane" id="luke_jordan" role="tabpanel">
                <p class="team-bio-para">Formerly at McKinsey in Johannesburg and Shanghai for 5 years (2005-10), the World Bank in New Delhi for
                  3 years (2011-14), and advisor to municipal and national government in South Africa (2014-15).
                  Executive Director at Grassroot.
                  .</p>
              </div>
            </div>
          </div>
        </div>
        <div class="padded-card">
          <div class="section-content row">
            <div class="col-12"><h3 class="team-list-header">Staff</h3></div>
          </div>
          <div class="section-content row">
            <div class="col-md-4 col-sm-12">
              <div class="list-group team-list" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#mbali_nkosi" role="tab">Mbalenhle Nkosi</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#zinhle_miya">Zinhle Miya</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#katlego_mohlabane">Katlego Mohlabane</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#march_ratsela">March Ratsela</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#busani_ndlovu">Busani Ndlovo</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#tello_maema">Tello Maema</a>
              </div>
            </div>
            <div class="col-md-8 col-sm-12 tab-content">
              <div class="tab-pane active" id="mbali_nkosi" role="tabpanel">
                <p class="team-bio-para">General Manager. Former Volunteer Development Manager and Consultant at AFS-RSA (American Field Services), with a background in community based projects.  Responsible for overseeing the Ambassador Program; the program with direct outreach and fieldwork in marginal communities.</p>
              </div>
              <div class="tab-pane" id="zinhle_miya" role="tabpanel">
                <p class="team-bio-para">Community builder, coordinating field work in KwaZulu-Natal, assionate about working with the marginalised and helping them change their lives. She holds a degree in Community & Development Studies. Previously worked at various NGO's and Local Governance working with communities.</p>
              </div>
              <div class="tab-pane" id="katlego_mohlabane" role="tabpanel">
                <p class="team-bio-para">Community builder, coordinating field work in the Greater Johannesburg area, managing Grassroot social media and LiveWire. Self taught digital marketer, graphic designer and social activist. Former Gauteng working group member within the Right 2 Know campaign.</p>
              </div>
              <div class="tab-pane" id="march_ratsela" role="tabpanel">
                <p class="team-bio-para">Junior developer, working on core platform maintenance, Angular frontend, and Android client.</p>
              </div>
              <div class="tab-pane" id="busani_ndlovu" role="tabpanel">
                <p class="team-bio-para">Junior developer, building the Grassroot natural language understanding (NLU) service and Android client.</p>
              </div>
              <div class="tab-pane" id="tello_maema" role="tabpanel">
                <p class="team-bio-para">Operational team member, supporting fieldwork in Greater Soweto, content production and awareness building for for LiveWire. Previously studied fashion design, and worked with a range of civil society organizations (including amandla.mobi).</p>
              </div>
            </div>
          </div>
        </div>
        <div class="padded-card">
          <div class="section-content row">
            <div class="col-12"><h3 class="team-list-header">Ambassadors & Past Contributors</h3></div>
            <div class="col-md-3 col-sm-6 team-name-container" *ngFor="let name of teamList">
              <span class="team-name-list">{{ name }}</span>
            </div>
          </div>
          <div class="section-content row">
            <!-- do as a grid -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bg-grey no-top-padding">
  <div class="col-xl-10 offset-xl-1 col-md-10 offset-md-1">

    <div id="partners"></div>
    <div class="choose-how-to-use-grassroot bg-grey">
      <div class="container">
        <div class="section-header text-center">
          <h2>Our Partners</h2>
        </div>
        <div class="boxes row">
          <div class="col-md-4">
            <div class="box box-dial">
              <h4>Civil Society</h4>
              <div class="partner-list">
                <p><a class="grassroot-link" href="http://abahlali.org/" target="_blank">AbaHlali baseMjondolo</a></p>
                <p><a class="grassroot-link" href="https://www.amandla.mobi/" target="_blank">amandla.mobi</a></p>
                <p><a class="grassroot-link" href="http://healthenabled.org/wordpress/" target="_blank">HealthEnabled</a></p>
                <p><a class="grassroot-link" href="https://www.health-e.org.za/" target="_blank">Health-E News</a></p>
                <p><a class="grassroot-link" href="https://openup.org.za/" target="_blank">OpenUp</a></p>
                <p><a class="grassroot-link" href="http://phm-sa.org/" target="_blank">People's Health Movement SA</a></p>
                <p><a class="grassroot-link" href="http://www.r2k.org.za/" target="_blank">Right2Know</a></p>
              </div>
              <p>Grassroot is a member of the <a class="grassroot-link" href="http://www.ggln.org.za/" target="_blank">
                Good Governance Learning Network</a></p>
              <a href="http://www.ggln.org.za/" target="_blank"><img src="assets/logos/ggln_logo.jpg" class="img-fluid max-height-logo" alt=""></a>
            </div><!-- /.box -->
          </div>
          <div class="col-md-4">
            <div class="box box-download">
              <h4>Technical</h4>
              <div class="partner-list">
                <p><a class="grassroot-link" href="http://www.jozihub.org" target="_blank">The JoziHub</a></p>
                <p><a class="grassroot-link" href="https://www.praekelt.org" target="_blank">Praekelt.org</a></p>
              </div>
              <p  class="logo-para">
                <a href="http://anylytical.co.za/" target="_blank"><img src="assets/logos/anylytical-tech-new-1.1.png" class="img-fluid max-height-logo" alt=""></a>
              </p>
            </div><!-- /.box -->
          </div>
          <div class="col-md-4">
            <div class="box box-visit">
              <h4>Support</h4>
              <p class="logo-para"><img src="assets/logos/slack.png" class="img-fluid max-height-logo" alt=""></p>
              <p class="logo-para"><img src="assets/logos/github.png" class="img-fluid max-width-logo max-height-logo" alt=""></p>
              <p  class="logo-para"><img src="assets/logos/atlassian.png" class="img-fluid max-width-logo max-height-logo" alt=""></p>
            </div>
          </div><!-- /.box -->
        </div><!-- /.row -->
      </div>
    </div>

    <div id="impact"></div>
    <div class="our-vision bg-white">
      <div class="container">
        <div class="section-header section-header-narrow">
          <h2 class="text-center">Our Impact</h2>
        </div><!-- /.section-header -->
        <div class="padded-card">
          <div class="section-content row">
            <div class="col-12"><h3>Some stories of how our tools have helped people act together</h3></div>
          </div>
          <div class="section-content row">
            <div class="col-md-4 col-sm-12">
              <div class="list-group team-list" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#mzondi" role="tab">Mzondi</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#datamustfall">#DataMustFall</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#tshepisong">Tshepisong</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#thembelihle">Thembelihle</a>
              </div>
            </div>
            <div class="col-md-8 col-sm-12 tab-content">
              <div class="tab-pane active" id="mzondi" role="tabpanel">
                <p class="team-bio-para">Every Saturday morning, residents of Mzondi informal settlement get Grassroot
                  notifications reminding them of their weekly meeting. The agenda is such meetings is usually development.
                  It is decided here into how many groups they will be split into and and what will be the task of each
                  individual group. In and through these groups they have built informal housing, dug their own water,
                  and built sanitation. Recently they conducted a fundraising campaign, raising over R70k to install
                  their own sanitation, for a community of thousands of people. They're now increasing their pace of
                  self-organizing through Grassroot, to use the funds well and continue building their community.</p>
              </div>
              <div class="tab-pane" id="datamustfall" role="tabpanel">
                <p class="team-bio-para">We have partnered with <a class="grassroot-link" href="http://www.amandla.mobi/">amandla.mobi</a>,
                  on the <a class="grassroot-link" href="https://www.amandla.mobi/data-inquiry">#DataMustFall</a> to lower mobile data costs.
                  They recruited volunteers to head out into the streets and collect signatures of people in support to
                  the campaign, which were then uploaded using the Grassroot app to a master list. That enabled the
                  campaign to broaden its reach and include people that otherwise wouldn’t be reached by online methods.
                  That added thousands of extra people to the campaign, who were then repeatedly mobilized through
                  broadcasts and notifications during key campaigns.</p>
              </div>
              <div class="tab-pane" id="tshepisong" role="tabpanel">
                <p class="team-bio-para">In Tshepisong, “a meeting is not a meeting if it’s not called through Grassroot”.
                  The community there has organized itself all the way down into various block committees, and as a whole
                  has over a thousand people on is Grassroot group. It recently used its organizational strength to engage
                  a local school that had classes built for preschool but had never opened them. The classes will open for
                  children in January.</p>
              </div>
              <div class="tab-pane" id="thembelihle" role="tabpanel">
                <p class="team-bio-para">The community of Thembelihle has been conducting a "social audit" to find out
                  the challenges facing the community, specifically on corruption and service delivery. It is said that
                  a local contractor has been given an extended period with a budget of 12 million rand for six months
                  that was granted in January. Yet people still get inadequate sanitation services. The goal is to
                  compare the specifications on the tender document and to do physical verification to find out whether
                  the specifications are as explained on the tender specification and must match with what the community sees.
                  The audit has been led by <a class="grassroot-link" href="http://www.planact.org.za/">PlanAct</a>, who have in turn relied on
                  Grassroot to get the message out -- as their ground organizer put it,
                  "with Grassroot half the battle is won".</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
