<div class="container primary-container">
  <div class="card padded-card">
    <div class="card-body pl-3 pr-3">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Our Privacy Policy</h2>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-12">
          <h3><strong>Principles</strong></h3>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Grassroot is a non-profit company. We will never sell advertising, or sell users' data to advertisers.
            </li>
            <li class="list-group-item">
              Grassroot claims no ownership of users' data. Grassroot employees are not authorized to examine any data on individual users and groups without explicit permission.
            </li>
            <li class="list-group-item">
              Grassroot does not claim the right to unilaterally change these terms in the future.
            </li>
          </ul>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-12">
          <h3><strong>Specifics</strong></h3>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Grassroot is a non-profit, public benefit organization. There is no fiduciary duty or commercial pressure for it to derive value from users' data, nor will there be.</li>
            <li class="list-group-item">Grassroot will never disclose data regarding individual users and any individual group to any third party for commercial gain. It will at no point use any of its data to provide targeted advertising services. We waive all future rights to alter this clause.</li>
            <li class="list-group-item">In order for Grassroot to provide the services that it does, the platform necessarily stores data regarding users, groups and the actions of both. Grassroot has no requirement for users to enter their legal names.</li>
            <li class="list-group-item">Grassroot's employees as a matter of policy are not permitted to examine or otherwise use the data stored in the application, except when granted explicit permission by a user for administrative or maintenance purposes.</li>
            <li class="list-group-item">Some functions may require additional data from users in order to function effectively: the "emergency message" function requests users to provide addresses, to inform respondents; the "group search" function requests groups to be publicly "discoverable"; and the "search within a radius" function requires location data. In all instances, users are able to opt-out from the feature, with no consequence for other services provided by the application.</li>
            <li class="list-group-item">Grassroot does reserve the right to provide aggregate data regarding trends in the use of the platform to other organizations, such as media channels and public interest bodies, but, as above, such data will only be at aggregate level (for example, at municipal or ward level), and will only be prospective, i.e., related to prior activity. On a strictly opt-in basis, Grassroot may provide a service to connect community groups and media or public interest organizations conducting research on particular issues.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
