<div class="container primary-container">
  <div class="card padded-card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h2>Grassroot Terms of Use</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3><strong>I. Using these Services</strong></h3>
          <ol>
            <li>
              <p>If you use Grassroot's Services (as defined below) then these Terms of Use apply to you. By using these
                Services you agree that you are bound by them. These Terms of Use are an agreement between you and Grass Root
                Nation NPC.
              </p>
            </li>
            <li>
              <p>Anyone who uses these Services, is referred to as You in these Terms of Use.
              </p>
            </li>
            <li>
              <p>You agree that in these Terms of Use the words “these Services” refer to (a) a website operated by Grass
                Root Nation NPC usually available at the Uniform Resource Locators:
                <a class="grassroot-link" href="https://app.grassroot.org.za/">https://app.grassroot.org.za</a>,
                <a class="grassroot-link" href="https://www.grassroot.org.za">https://www.grassroot.org.za</a> and
                <a class="grassroot-link" href="https://alpha.grassroot.cloud">https://alpha.grassroot.cloud</a>; (b) an application available over
                unstructured supplementary service data (“USSD”), via the dialling code *134*1994#;
                and (c) through the Android interface, whether downloaded from the Google Play Store or accessed via
                a distributed Android package file. You agree that the words “service provider” refers to Grass Root Nation NPC.
              </p>
            </li>
            <li>
              <p>You agree that the Service Provider making these Services available from time to time is sufficient consideration
                for You to agree to and abide by these Terms of Use.
              </p>
            </li>
            <li>
              <p>If You are younger than 18, or if You need the consent of a parent or guardian to enter into a contract
                then by using you are representing to the Service Provider that you have the consent of your parents or
                guardian to use these Services, and to agree to these Terms of Use. If You do not have your parent or
                guardian's consent you must stop using these Services straight away.
              </p>
            </li>
            <li>
              <p>You agree that the Service Provider may use technical means to block any user, including You, who is not
                complying with the Terms of Use.
              </p>
            </li>
          </ol>
          <h3><strong>II. Copyright and Related Rights</strong></h3>
          <ol>
            <li>Unless otherwise indicated, all “Grassroot” marks displayed are subject to the trademark rights of the Grass
              Root Nation NPC.</li>
            <li>
              <p>
                Unless indicated otherwise the copyright of all material (except computer programmes) on these Services is
                licensed under a Creative Commons ShareAlike License. That means that anyone is free to Share, and Remix
                the content as long as he or she attributes the author by stating the author's name, and attributes these
                Services by stating “From Grassroot” and by giving a link to these Services and if he or she alters, transforms,
                or builds upon this work, he or she must distribute the resulting work only under the same or similar license.
                You must check whether there is different licensing information in or accompanying images, video clips, podcasts
                and documents. The Creative Commons ShareAlike licenses is available at the
                URL:&nbsp;https://creativecommons.org/licenses/by-sa/4.0/</p>
            </li>
            <li>
              <p>The copyright license refers only to copyright and does not grant any rights over trademarks, brands,
                Uniform Resource Locators, patents, designs or other Intellectual Property. You are permitted to reproduce
                all intellectual property other than copyright material only to the extent necessary to use these Services.
                If you remix the material under the Creative Commons licence specified you may not include any logos, brand
                marks or trademarks in your remix, or suggest the endorsement of the Service Provider.
              </p>
            </li>
          </ol>
          <h3><strong>III. Liability </strong></h3>
          <ol>
            <li>
              <p>
                You agree that while every reasonable effort is made to keep these Services running smoothly the Service
                Provider takes no responsibility for, and will not be liable for these Services being temporarily unavailable.
              </p>
            </li>
            <li>
              <p>You agree that the information contained on these Services is provided by the Service Provider without
                warranty of any kind, expressed or implied, including (but not limited to) any implied warranties of fitness
                for any particular purpose, or non-infringement. You agree that You are aware that information may include
                errors or inaccuracies.
              </p>
            </li>
            <li>
              <p>You agree that you have no right to make any kind of legal claim against the Service Provider for anything
                to do with the these Services or the content on these Services. In other words You agree to defend, indemnify
                and hold the Service Provider harmless from and against any claims, actions or demands, and liabilities
                including without limitation, reasonable legal and accounting fees, resulting from, or alleged to, result
                from Your use of these Services.
              </p>
            </li>
            <li>
              <p>You agree that the indemnity in the previous paragraphs applies to all the partners, employees, agents,
                suppliers, consultants, associates,heirs and assigns of the Service Provider. Those people and entities
                aren't parties to this agreement, so the Service Provider accepts the benefit of Your agreement on their
                behalf. In other words the acceptance by the Service Provider of the benefit is solely as a stipulatio
                alteri and does not create any liability, partnership or agency between the person or entity benefited and
                the Service Provider.
              </p>
            </li>
            <li>
              <p>By using these Services you are communicating that you understand that unauthorised use of these Services
                or failure to adhere to these Terms of Use may give rise to the Service Provider instituting a claim for
                damages against You or You may be found guilty of a statutory or criminal offence.
              </p>
            </li>
            <li>
              <p>You understand that these Services may also include links to sites created and controlled by others on the
                World Wide Web or other networks. You agree that it is in the nature of the World Wide Web and similar networks
                for sites to link to other sites, and that these links are provided for Your convenience for the purposes of
                providing further information. You understand and agree that these links are to sites outside the control of
                The Service Provider so that obviously the Service Provider cannot be held responsible for the content of
                those sites. You agree that you cannot claim that links signify that the Service Provider endorses the site(s)
                linked to. You agree that even if this the Service Provider knows that sites linked to infringe or allegedly
                infringe your legal rights that it is in the nature of the Internet that links to other sites are made without
                imposing any duty or liability on the linking site and that the Service Provider has and will have no
                responsibility and bear no liability in relation to the the linked site(s).
              </p>
            </li>
          </ol>
          <h3><strong>V.&nbsp;General Terms</strong><strong></strong></h3>
          <ol dir="ltr">
            <li>
              <p>
                You agree that if any of the terms in this Terms of Use is found to be invalid by any court all the other terms
                still bind You.
              </p>
            </li>
            <li>
              <p>You agree that the Service Provider may change these Terms of Use at any time by posting the changed Terms
                of Use on its official website or a successor site. If you use these Services after the terms have been
                amended on the site then the new terms bind You. You should regularly check these Terms of Use for any
                amendments or updates.
              </p>
            </li>
            <li>
              <p>You agree that all or part of these Terms of Use, and other legally binding terms or conditions of the site
                may be translated from English into one or more languages and displayed on the site and that the Service
                Provider does not warrant that any translation is accurate. If there is conflict between the English version
                of a provision and translation of that provision into another language then You agree that the version in
                English will be authoritative and bind You.
              </p>
            </li>
            <li>
              <p>You agree that these Terms of Use will be construed and interpreted in accordance with the laws of the
                Republic of South Africa.
              </p>
            </li>
            <li>
              <p>
                If you allege a complaint or claim against then you should send a notice setting out the grounds of your
                complaint or claim, your full names, address, phone numbers, and email address to the address below:
                &nbsp;contact@grassroot.org.za
              </p>
            </li>
            <li>
              <p>If You send a complaint about a copyright issue to the person who is detailed to take the complaint then
                you should also include the following: the name of the copyright work in which you claim a right or license,
                the type of work, the format of the work, the author, the date and place of origin of the work, the precise
                nature of your claim over the work, and the legal basis for your complaint.&nbsp;
              </p>
            </li>
            <li>
              <p>If there is any apparent conflict between these Terms of Use and the terms of use of any other service
                which you use to access then the two sets of terms shall be read so as not to conflict, or if that is not
                possible then the these Terms of Use will override the other terms of use, unless that would result in any
                liability on the part of the Service Provider.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
