<div style="margin-top: 32px;">
  <div class="card">
    <div class="card-body events-box">
      <div class="row">
        <div class="col-6">
          <h2>
            {{'group.broadcast.title' | translate}}
          </h2>
        </div>
        <div class="col-6">
          <div class="float-right text-right">
            <a *ngIf="group" [routerLink]="['/broadcast/create/group', group.groupUid]" class="btn btn-success">
              <img src="assets/icon_megaphone.png"/>
              {{'group.sendBroadcast' | translate}}
            </a>
          </div>
        </div>
      </div>

      <div class="card scheduled-broadcast" *ngIf="currentScheduledPage.content.length > 0">
        <div class="card-body events-box">
          <div class="row">
            <div class="col-7">
              <h1>Scheduled messages</h1>
            </div>
          </div>
          <div class="container group-info-header d-none d-md-block">
            <div class="row">
              <div class="col-2"> {{'group.broadcast.table.sendOn' | translate}}</div>
              <div class="col-3">{{'group.broadcast.table.sendTo' | translate}}</div>
              <div class="col-1">{{'group.broadcast.table.sms' | translate}}</div>
              <div class="col-1">{{'group.broadcast.table.email' | translate}}</div>
              <div class="col-2">{{'group.broadcast.table.facebook' | translate}}</div>
              <div class="col-2">{{'group.broadcast.table.twitter' | translate}}</div>
              <div class="col-1">{{'group.broadcast.table.actions' | translate}}</div>
            </div>
          </div>
          <div *ngFor="let broadcast of currentScheduledPage.content">
            <div class="container group-info-row">
              <div class="row flex flex-wrap">
                <div class="col-2">
                  {{broadcast.getFormattedScheduleDateTimeSend()}}
                </div>

                <div class="col-3">
                  {{broadcast.provinces}}
                </div>

                <div class="col-1">
                  {{broadcast.smsCount}}
                </div>

                <div class="col-1">
                  {{broadcast.emailCount}}
                </div>

                <div class="col-2">
                  {{broadcast.fbPages ? Array.prototype.join.call(broadcast.fbPages, ", ") : ""}}
                </div>

                <div class="col-2">
                  {{broadcast.twitterAccount}}
                </div>

                <div class="col-1">

                  <div class="dropdown">
                    <a class="dropdown-toggle" id="scheduledActionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="sentActionsDropdown">
                      <a class="dropdown-item" (click)="showViewModal(broadcast)">{{'group.broadcast.table.scheduledActions.view' | translate}}</a>
                      <a class="dropdown-item">{{'group.broadcast.table.scheduledActions.edit' | translate}}</a>
                      <a class="dropdown-item">{{'group.broadcast.table.scheduledActions.cancel' | translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex-wrap">
                <div class="col-12 title">
                  Title: {{broadcast.title}}
                </div>
              </div>
            </div>
          </div>
          <app-pagination [totalPages]="currentScheduledPage.totalPages" [shownPages]="3"
                          (onPageSelected)="goToScheduledPage($event)"></app-pagination>

        </div>

      </div>

      <div class="card" *ngIf="currentSentPage.content.length > 0">
        <div class="card-body events-box">
          <div class="row">
            <div class="col-7">
              <h1>Sent messages</h1>
            </div>
          </div>
          <div class="container group-info-header d-none d-md-block">
            <div class="row">
              <div class="col-2"> {{'group.broadcast.table.sendOn' | translate}}</div>
              <div class="col-2">{{'group.broadcast.table.sendTo' | translate}}</div>
              <div class="col-1">{{'group.broadcast.table.sms' | translate}}</div>
              <div class="col-1">{{'group.broadcast.table.email' | translate}}</div>
              <div class="col-2">{{'group.broadcast.table.facebook' | translate}}</div>
              <div class="col-2">{{'group.broadcast.table.twitter' | translate}}</div>
              <div class="col-2">{{'group.broadcast.table.actions' | translate}}</div>
            </div>
          </div>
          <div *ngFor="let broadcast of currentSentPage.content">
            <app-broadcast-listing [broadcast]="broadcast"
              (onViewDetailsClicked)="showViewModal(broadcast)"
              (onResendClicked)="showResendModal(broadcast)"
              (onDownloadAllClicked)="downloadBroadcastAllReport(broadcast)"
              (onDownloadErrorsClicked)="donwloadBroadcastErrorReport(broadcast)"></app-broadcast-listing>
          </div>
          <app-pagination [totalPages]="currentSentPage.totalPages" [shownPages]="3"
                          (onPageSelected)="goToSentPage($event)"></app-pagination>

        </div>
      </div>
    </div>


  </div>
</div>

<app-broadcast-view [modalBroadcast]="modalBroadcast"></app-broadcast-view>

<!--modals-->
<div class="modal fade" tabindex="-1" role="dialog" id="broadcast-resend-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Resend broadcast</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="resendBroadcast">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <p>
              Which parts of the broadcast would you like to resend? Note that this will resend
              these messages <strong>exactly</strong> as in the original broadcast, to the same
              recipients and/or pages and accounts.
            </p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3 col-sm-6 form-group-inline" *ngIf="resendBroadcast.smsContent">
            <label>
              <input type="checkbox" [formControl]="resendForm.controls['resendText']">
              Resend SMS
            </label>
          </div>
          <div class="col-md-3 col-sm-6 form-group-inline" *ngIf="resendBroadcast.emailContent">
            <label>
                <input type="checkbox" [formControl]="resendForm.controls['resendText']">
                Resend Email
            </label>
          </div>
          <div class="col-md-3 col-sm-6 form-group-inline" *ngIf="resendBroadcast.fbPost">
              <label>
                  <input type="checkbox" [formControl]="resendForm.controls['resendFb']">
                  Repost to Facebook
              </label>
          </div>
          <div class="col-md-3 col-sm-6 form-group-inline" *ngIf="resendBroadcast.twitterPost">
              <label>
                  <input type="checkbox" [formControl]="resendForm.controls['resendFb']">
                  Repost to Twitter
              </label>
          </div>          
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">
            {{ 'action.close' | translate }}
          </button>
          <button type="button" class="btn btn-primary save-button" (click)="resendModalComplete(resendBroadcast)">
            {{ 'action.send' | translate }}
          </button>
        </div>
    </div>
  </div>
</div>