
.group-info-header {
  border-top: none;
  border-bottom: none;
  background-color: #F5F6FA;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 12px;
  line-height: 16px;
}

.group-info-row {
  padding-top: 1rem;
  padding-bottom: 1rem;
  vertical-align: middle;
  border-top: solid #ECEEF1 1px;
}

.group-info-row {
  font-size: 14px;
  line-height: 22px;
}

.group-info-row img {
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}

.title{
  height: 19px;
  width: 373px;
  color: #7A7D8C;
  font-family: Nunito;
  font-size: 14px;
  line-height: 19px;
}

.scheduled-broadcast{
  margin-bottom: 1rem;
}

.broadcast-btn {
  width: 100%;
}
