<div class="card-body">
  <div class="row">
    <div class="col-md-12 text-center" >
      <h3>{{ 'broadcasts.create.content.pageTitle' | translate }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-left">
      <form [formGroup]="contentForm"
            (ngSubmit)="next()">
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label>{{ 'broadcasts.create.content.titleLabel' | translate }}</label>
            <input type="text" formControlName="title" class="form-control" >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12" *ngIf="types.shortMessage">
            <label>{{ 'broadcasts.create.content.smsSection' | translate }}</label>
            <textarea formControlName="shortMessage" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12" *ngIf="types.email">
            <label>{{ 'broadcasts.create.content.emailSection' | translate }}</label>
            <textarea formControlName="emailContent" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12" *ngIf="types.facebook">
            <label>{{ 'broadcasts.create.content.fbSection' | translate }}</label>
            <textarea formControlName="facebookPost" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12" *ngIf="types.twitter">
            <label>{{ 'broadcasts.create.content.twitterSection' | translate }}</label>
            <textarea formControlName="twitterPost" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-4 pull-left">
            <button type="button" (click)="cancel()" class="btn btn-secondary">
              {{ 'action.cancel' | translate }}</button>
          </div>
          <div class="col-sm-4">
            <button type="button" (click)="back()" class="btn btn-secondary">
              {{ 'action.back' | translate }}</button>
          </div>
          <div class="col-sm-4 pull-right">
            <button type="submit" class="btn btn-primary"> {{ 'action.next' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
