<div class="card-body">
  <div class="row">
    <div class="col-md-12 text-center" >
      <h2>{{ 'broadcasts.create.content.pageTitle' | translate }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-left">
      <form [formGroup]="contentForm"
            (ngSubmit)="next()">

        <div class="form-row mt-md-3">
          <h3>{{ 'broadcasts.create.content.titleSection' | translate }}</h3>
        </div>

        <div class="form-row mb-md-3">
          <div class="form-group col-sm-12">
            <label for="title">{{ 'broadcasts.create.content.titleLabel' | translate }}</label>
            <input id="title" type="text" formControlName="title" class="form-control" maxlength="200" >
          </div>
          <div class="error" [hidden]="contentForm.controls['title'].valid || contentForm.controls['title'].untouched">
            {{ 'broadcasts.create.content.errors.title' | translate }}
          </div>
        </div>

        <hr *ngIf="types.shortMessage"/>

        <div class="form-row mt-md-3" *ngIf="types.shortMessage">
          <h3>{{ 'broadcasts.create.content.smsSection' | translate }}</h3>
        </div>
        <div class="form-row" *ngIf="types.shortMessage">
          <div class="form-group col-sm-12">
            <textarea (keyup)="keyUpShortMessage($event)" formControlName="shortMessage"
                      class="form-control" maxlength="160"></textarea>
          </div>
        </div>
        <div class="row" *ngIf="types.shortMessage">
          <div class="col-md-5 col-sm-12">
            {{ smsCharsLeft }} characters remaining
          </div>
          <div class="col-md-3 col-sm-3">
            <span class="text-right">{{ 'broadcasts.create.content.merge.label' | translate }}</span>
          </div>
          <div class="col-md-4 col-sm-9">
            <select class="form-control form-control-sm" (change)="insertMergeFieldSms($event.target.value)" [formControlName]="'smsMergeField'">
              <option value="">{{ 'broadcasts.create.content.merge.select' | translate }}</option>
              <option *ngFor="let field of params?.mergeFields" [value]="field"
                      [translate]="'broadcasts.create.content.merge.' + field"></option>
            </select>
          </div>
        </div>
        <div class="error" [hidden]="contentForm.controls['shortMessage'].valid || contentForm.controls['shortMessage'].untouched">
          {{ 'broadcasts.create.content.errors.shortMessage' | translate }}
        </div>

        <hr *ngIf="types.email" />

        <div class="form-row mt-md-3" *ngIf="types.email">
          <h3>{{ 'broadcasts.create.content.emailSection' | translate }}</h3>
        </div>
        <div class="form-row mb-md-3" *ngIf="types.email">
          <div class="form-group col-sm-12">
            <quill-editor #emailEditor [style]="{height: '180px'}" [formControlName]="'emailContent'"></quill-editor>
          </div>
        </div>
        <div class="form-row" *ngIf="types.email">
          {{ emailHtml }}
        </div>
        <div class="row" *ngIf="types.email">
          <div class="col-md-5 col-sm-12">
            <button (click)="chooseLink('email')" class="email-link"><i class="fas fa-link"></i>
              {{ 'broadcasts.create.content.link.join' | translate }}</button>
            <button *ngIf="!!lastLinkInserted" class="insertion-link" (click)="addLinkToEmail(lastLinkInserted, lastLinkCaption)">
              <i class="fas fa-link"></i> reuse last inserted link
            </button>
          </div>
          <div class="col-md-3 col-sm-3">
            <span class="text-right">{{ 'broadcasts.create.content.merge.label' | translate }}</span>
          </div>
          <div class="col-md-4 col-sm-9">
            <select class="form-control form-control-sm" (change)="insertMergeFieldEmail($event)" [formControlName]="'emailMergeField'">
              <option value="">{{ 'broadcasts.create.content.merge.select' | translate }}</option>
              <option *ngFor="let field of params?.mergeFields" [value]="field"
                [translate]="'broadcasts.create.content.merge.' + field"></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="error" [hidden]="contentForm.controls['emailContent'].valid || contentForm.controls['emailContent'].untouched">
            {{ 'broadcasts.create.content.errors.email' | translate }}
          </div>
        </div>

        <hr *ngIf="types.facebook" />

        <div class="form-row mt-md-3" *ngIf="types.facebook">
          <h3>{{ 'broadcasts.create.content.fbSection' | translate }}</h3>
        </div>
        <div class="form-row mt-md-3" *ngIf="types.facebook">
          <div class="form-group col-md-8 col-sm-12">
            <textarea (keyup)="fbKeyUp($event)" formControlName="facebookPost" class="form-control"></textarea>
            {{ fbCharsLeft }} characters left
            <img *ngIf="!!fbImageUrl" src="{{ fbImageUrl }}" class="img-thumbnail" />
          </div>
          <div class="col-md-4">
            <button (click)="chooseLink('facebook')" data-toggle="modal" class="insertion-link">
              <i class="fas fa-link"></i> {{ 'broadcasts.create.content.link' + (!!fbLink ? '.change' : '.join') | translate }}
            </button>
            <button *ngIf="!!fbLink" class="insertion-link" (click)="addFbLink(null, null)">
              <i class="fas fa-unlink"></i> {{ 'broadcasts.create.content.link.remove' | translate }}
            </button>
            <button *ngIf="!!twitterLink" class="insertion-link" (click)="addFbLink(twitterLink, twitterLinkCaption)">
              <i class="fas fa-unlink"></i> {{ 'broadcasts.create.content.link.copyTwitter' | translate }}
            </button>
            <button *ngIf="!!lastLinkInserted && !fbLink" class="insertion-link" (click)="addFbLink(lastLinkInserted, lastLinkCaption)">
              <i class="fas fa-link"></i> reuse last inserted link
            </button>
            <button (click)="fbFile.click()" class="insertion-link">
              <i class="fas fa-images"></i>{{ 'broadcasts.create.content.link.file' | translate }}</button>
            <input type="file" #fbFile
                   [multiple]="false"
                   accept="image/*"
                   (change) = "uploadImage($event, 'facebook')"
                   style="display:none" />
          </div>
        </div>
        <div class="row" *ngIf="!!fbLink">
          <div class="col-12">
            {{ 'broadcasts.create.content.link.inserted' | translate }} <a href="{{fbLink}}" target="_blank" class="grassroot-link">{{ fbLinkCaption }}</a>
          </div>
        </div>
        <div class="error" [hidden]="contentForm.controls['facebookPost'].valid || contentForm.controls['facebookPost'].untouched">
          {{ 'broadcasts.create.content.errors.facebook' | translate }}
        </div>

        <hr *ngIf="types.twitter" />

        <div class="form-row mt-md-3" *ngIf="types.twitter">
            <h3>{{ 'broadcasts.create.content.twitterSection' | translate }}</h3>
        </div>
        <div class="form-row mt-md-3" *ngIf="types.twitter">
          <div class="form-group col-md-8 col-sm-12">
            <textarea (keyup)="twKeyUp($event)" formControlName="twitterPost" class="form-control"></textarea>
            {{ twCharsLeft }} characters left
          </div>
          <div class="col-md-4">
            <button (click)="chooseLink('twitter')" class="insertion-link"><i class="fas fa-link"></i> {{ 'broadcasts.create.content.link.join' | translate }}</button>
            <button *ngIf="!!fbLink" class="insertion-link" (click)="addTwitterLink(fbLink, fbLinkCaption)">
              <i class="fas fa-unlink"></i> {{ 'broadcasts.create.content.link.copyFacebook' | translate }}
            </button>
            <button (click)="twitterFile.click()" class="insertion-link"><i class="fas fa-images"></i> {{ 'broadcasts.create.content.link.file' | translate }}</button>
            <button *ngIf="!!lastLinkInserted && !twitterLink" class="insertion-link" (click)="addTwitterLink(lastLinkInserted, lastLinkCaption)">
              <i class="fas fa-link"></i> reuse last inserted link
            </button>
            <input type="file" #twitterFile
                   [multiple]="false"
                   accept="image/*"
                   (change) = "uploadImage($event, 'twitter')"
                   style="display:none" />
          </div>
        </div>
        <div class="row" *ngIf="!!twitterImageUrl">
          <div class="col-md-8 col-sm-12"><img src="{{ twitterImageUrl }}" class="img-thumbnail" /></div>
        </div>
        <div class="row" *ngIf="!!twitterLink">
          <div class="col-12">
            {{ 'broadcasts.create.content.link.inserted' | translate }} <a href="{{twitterLink}}" target="_blank" class="grassroot-link">{{ twitterLinkCaption }}</a>
          </div>
        </div>
        <div class="error" [hidden]="contentForm.controls['twitterPost'].valid || contentForm.controls['twitterPost'].untouched">
          {{ 'broadcasts.create.content.errors.twitterPost' | translate }}
        </div>

        <hr/>

        <div class="form-row">
          <div class="col-sm-4">
            <button type="button" (click)="cancel()" class="btn btn-secondary cancel-button">
              {{ 'action.cancel' | translate }}</button>
          </div>

          <div class="col-sm-8">

            <button [disabled]="!contentForm.valid" type="submit" class="btn btn-primary next-button float-right">
              {{ 'action.next' | translate }}
            </button>

            <button type="button" (click)="back()" class="btn btn-secondary back-button float-right">
              {{ 'action.back' | translate }}</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="insert-link-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'broadcasts.create.content.modal.title' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
        <form [formGroup]="linkForm">
          <div class="form-row">
            <div class="form-group col-md-4 col-sm-12">
              <div class="form-check form-check-inline">
                <label class="form-check-label grassroot-label-em">
                  <input class="form-check-input" type="radio" checked value="GROUP" name="linkType" [formControl]="linkForm.controls['linkType']">
                  {{ 'broadcasts.create.content.modal.group' | translate }}
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-12" *ngIf="!!params.campaignLinks">
              <div class="form-check form-check-inline">
                <label class="form-check-label grassroot-label-em">
                  <input class="form-check-input" type="radio" value="CAMPAIGN" name="linkType" [formControl]="linkForm.controls['linkType']">
                  {{ 'broadcasts.create.content.modal.campaign' | translate }}
                </label>
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-12">
              <div class="form-check form-check-inline">
                <label class="form-check-label grassroot-label-em">
                  <input class="form-check-input" type="radio" value="OWN" name="linkType" [formControl]="linkForm.controls['linkType']">
                  {{ 'broadcasts.create.content.modal.own' | translate }}
                </label>
              </div>
            </div>
          </div>
          <div class="form-row" *ngIf="linkForm.controls['linkType']?.value === 'OWN'">
            <div class="form-group col-md-12 col-sm-12">
              <input class="form-control form-control-em" type="text" [formControl]="linkForm.controls['url']"
                placeholder="{{ 'broadcasts.create.content.modal.urlPlace' | translate }}"/>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12 col-sm-12">
              <label class="grassroot-label-em">{{ 'broadcasts.create.content.modal.captionLabel' | translate }}</label>
              <input class="form-control form-control-em" type="text" [formControl]="linkForm.controls['caption']"
                placeholder="{{ 'broadcasts.create.content.modal.captionPlace' | translate }}"/>
            </div>
          </div>
        </form>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="insertLink()" [disabled]="!linkForm.valid" type="button" class="btn btn-primary save-button">{{ 'action.insert' | translate }}</button>
        <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">{{ 'action.cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>
