@import "https://cdn.quilljs.com/1.2.2/quill.snow.css";

.error {
  color: #ff0000;
}

.btn-primary {
  margin-left: 2rem;
}

.insertion-link {
  font-size: 1.1em;
  background: none;
  color: #2CBC4C;
  padding: 0;
  border: none;
  text-decoration: underline;
  display: block;
}

.email-link {
  background: none;
  color: #2CBC4C;
  padding: 0;
  border: none;
  text-decoration: underline;
}

.insertion-link:hover {
  cursor: pointer;
}
