<div class="card-body">
  <div class="row">
    <div class="col-md-12 text-center" >
      <h2>{{ 'broadcasts.create.content.pageTitle' | translate }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-left">
      <form [formGroup]="contentForm"
            (ngSubmit)="next()">

        <div class="form-row mt-md-3">
          <h3>{{ 'broadcasts.create.content.titleSection' | translate }}</h3>
        </div>

        <div class="form-row mb-md-3">
          <div class="form-group col-sm-12">
            <label for="title">{{ 'broadcasts.create.content.titleLabel' | translate }}</label>
            <input id="title" type="text" formControlName="title" class="form-control" maxlength="200" >
          </div>
          <div class="error" [hidden]="contentForm.controls['title'].valid || contentForm.controls['title'].untouched">
            {{ 'broadcasts.create.content.errors.title' | translate }}
          </div>
        </div>

        <hr/>

        <div class="form-row mt-md-3">
          <h3>{{ 'broadcasts.create.content.smsSection' | translate }}</h3>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12" *ngIf="types.shortMessage">
            <textarea (keyup)="keyUpShortMessage($event)" formControlName="shortMessage"
                      class="form-control" maxlength="160"></textarea>
            {{ smsCharsLeft }} characters remaining
          </div>
        </div>
        <div class="error" [hidden]="contentForm.controls['shortMessage'].valid || contentForm.controls['shortMessage'].untouched">
          {{ 'broadcasts.create.content.errors.shortMessage' | translate }}
        </div>

        <hr *ngIf="types.email" />

        <div class="form-row mt-md-3" *ngIf="types.email">
          <h3>{{ 'broadcasts.create.content.emailSection' | translate }}</h3>
        </div>
        <div class="form-row mb-md-3">
          <div class="form-group col-sm-12" *ngIf="types.email">
            <!--<textarea formControlName="emailContent" class="form-control"></textarea>-->
            <quill-editor class="form-control" formControlName="emailContent">
            </quill-editor>
            <button class="email-link"><i class="fas fa-link"></i> {{ 'broadcasts.create.content.link.join' | translate }}</button>
            <button class="email-link"><i class="fas fa-link"></i> {{ 'broadcasts.create.content.link.campaign' | translate }}</button>
            {{ 'broadcasts.create.content.merge.label' | translate }}
            <select>
              <option value="none">{{ 'broadcasts.create.content.merge.select' | translate }}</option>
              <option value="name">{{ 'broadcasts.create.content.merge.name' | translate }}</option>
              <option value="province">{{ 'broadcasts.create.content.merge.province' | translate }}</option>
            </select>
          </div>
          <div class="error" [hidden]="contentForm.controls['emailContent'].valid || contentForm.controls['emailContent'].untouched">
            {{ 'broadcasts.create.content.errors.email' | translate }}
          </div>
        </div>

        <hr *ngIf="types.facebook" />

        <div class="form-row mt-md-3" *ngIf="types.facebook">
          <h3>{{ 'broadcasts.create.content.fbSection' | translate }}</h3>
        </div>
        <div class="form-row mt-md-3" *ngIf="types.facebook">
          <div class="form-group col-md-8 col-sm-12">
            <textarea (keyup)="fbKeyUp($event)" formControlName="facebookPost" class="form-control"></textarea>
            {{ fbCharsLeft }} characters left
          </div>
          <div class="col-md-4">
            <button class="insertion-link"><i class="fas fa-link"></i> {{ 'broadcasts.create.content.link.join' | translate }}</button>
            <button (click)="fbFile.click()" class="insertion-link"><i class="fas fa-images"></i>
              {{ 'broadcasts.create.content.link.file' | translate }}</button>
            <button *ngIf="(params.campaignLinks)" class="insertion-link"><i class="fas fa-link"></i> {{ 'broadcasts.create.content.link.campaign' | translate }}</button>
            <input type="file" #fbFile
                   [multiple]="false"
                   accept="image/*"
                   (change) = "uploadImage($event, 'facebook')"
                   style="display:none" />
          </div>
        </div>
        <div class="error" [hidden]="contentForm.controls['facebookPost'].valid || contentForm.controls['facebookPost'].untouched">
          {{ 'broadcasts.create.content.errors.facebook' | translate }}
        </div>

        <hr *ngIf="types.twitter" />

        <div class="form-row mt-md-3" *ngIf="types.twitter">
            <h3>{{ 'broadcasts.create.content.twitterSection' | translate }}</h3>
        </div>
        <div class="form-row mt-md-3" *ngIf="types.twitter">
          <div class="form-group col-md-8 col-sm-12">
            <textarea (keyup)="twKeyUp($event)" formControlName="twitterPost" class="form-control"></textarea>
            {{ twCharsLeft }} characters left
          </div>
          <div class="col-md-4">
            <button class="insertion-link"><i class="fas fa-link"></i> {{ 'broadcasts.create.content.link.join' | translate }}</button>
            <button (click)="twitterFile.click()" class="insertion-link"><i class="fas fa-images"></i> {{ 'broadcasts.create.content.link.file' | translate }}</button>
            <button *ngIf="(params.campaignLinks)" class="insertion-link"><i class="fas fa-link"></i> {{ 'broadcasts.create.content.link.campaign' | translate }}</button>
            <input type="file" #twitterFile
                   [multiple]="false"
                   accept="image/*"
                   (change) = "uploadImage($event, 'twitter')"
                   style="display:none" />
          </div>
        </div>
        <div class="error" [hidden]="contentForm.controls['twitterPost'].valid || contentForm.controls['twitterPost'].untouched">
          {{ 'broadcasts.create.content.errors.twitterPost' | translate }}
        </div>

        <hr/>

        <div class="form-row">
          <div class="col-sm-4">
            <button type="button" (click)="cancel()" class="btn btn-secondary cancel-button">
              {{ 'action.cancel' | translate }}</button>
          </div>

          <div class="col-sm-8">

            <button [disabled]="!contentForm.valid" type="submit" class="btn btn-primary next-button float-right">
              {{ 'action.next' | translate }}
            </button>

            <button type="button" (click)="back()" class="btn btn-secondary back-button float-right">
              {{ 'action.back' | translate }}</button>

          </div>
        </div>
      </form>
    </div>
  </div>

</div>
