<div class="row justify-content-center">
  <div class="col-3">
    <button class="btn btn-block btn-outline-secondary hover-primary" (click)="showCreateMeetingModal()">
      <img src="assets/icon_meeting.png"/>
      {{'group.activity.meeting' | translate}}</button>
  </div>
  <div class="col-3">
    <button class="btn btn-block btn-outline-secondary hover-primary" (click)="showCreateVoteModal()">
      <img src="assets/icon-votes.png"/>
      {{'group.activity.vote' | translate}}</button>
  </div>
  <div class="col-3">
    <button class="btn btn-block btn-outline-secondary hover-primary" (click)="showCreateTodoModal()">
      <img src="assets/icon_todo.png"/>
      {{'group.activity.actionItem' | translate}}</button>
  </div>
</div>

<div *ngIf="upcomingTasks.length > 0" style="margin-top: 32px;">
  <div class="card">
    <div class="card-body events-box">
      <div class="row">
        <div class="col-7">
          <h1 [translate]="'group.activity.upcoming'"> Upcoming</h1>
        </div>
      </div>
      <div class="card" *ngFor="let task of upcomingTasks" style="margin-bottom: 1rem !important; cursor: pointer">
        <div class="card-body events-box">
          <div class="row">
            <div class="col-1" (click)="handleTaskClicked(task)">
              <div class="date-box rounded text-center">
                <h3>{{task.deadlineDate | date: 'dd'}}</h3>
                {{task.deadlineDate | date: 'MMM'}}
              </div>
            </div>
            <div class="col-11">
              <div class="row" (click)="handleTaskClicked(task)">
                <span class="font-weight-bold">
                  <img [src]="'assets/' + task.getEventIconName() "/>
                  {{task.type}}:&nbsp;
                </span>
                {{task.title}}
              </div>
              <div class="row" *ngIf="task.errorReport">
                <a (click)="downloadEventErrorReport(task)" class="download-error-report">Download error report</a>
              </div>
              <div class="row" *ngIf="task.type == taskTypes.VOTE">
                <span class="font-weight-bold" [translate]="'group.activity.voteCloses'"> Closes:</span>&nbsp;
                {{task.deadlineDate | date: 'hh:mm a on dd MMM yy'}}
              </div>
              <div class="row">
                <p>{{task.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="pastTasks.length > 0" style="margin-top: 32px;">
  <div class="card">
    <div class="card-body events-box">
      <div class="row">
        <div class="col-7">
          <h1> Past Activity</h1>
        </div>
      </div>
      <div class="card" *ngFor="let task of pastTasks" style="margin-bottom: 1rem !important; cursor: pointer">
        <div class="card-body events-box" >
          <div class="row">
            <div class="col-1" (click)="handleTaskClicked(task)">
              <div class="date-box rounded text-center">
                <h3>{{task.deadlineDate | date: 'dd'}}</h3>
                {{task.deadlineDate | date: 'MMM'}}
              </div>
            </div>
            <div class="col-11">
              <div class="row" (click)="handleTaskClicked(task)">
                <span class="font-weight-bold">
                  <img [src]="'assets/' + task.getEventIconName() "/>
                  {{task.type}}:&nbsp;
                </span>
                {{task.title}}
              </div>
              <div class="row" *ngIf="task.errorReport">
                <a (click)="downloadEventErrorReport(task)" class="download-error-report">Download error report</a>
              </div>
              <div class="row" *ngIf="task.type == taskTypes.VOTE">
                <span class="font-weight-bold" [translate]="'group.activity.voteCloses'"> Closes:</span>&nbsp;
                {{task.deadlineDate | date: 'hh:mm a on dd MMM yy'}}
              </div>
              <div class="row">
                <p>{{task.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--modals-->

<app-create-meeting [groupUid]="createTaskGroupUid"
  (meetingSaved)="meetingSaved($event)"></app-create-meeting>

<app-create-vote [groupUid]="createTaskGroupUid"
  (voteSaved)="voteSaved($event)"></app-create-vote>

<app-create-todo [groupUid]="createTaskGroupUid"
  (todoSaved)="todoSaved($event)"></app-create-todo>

<app-view-meeting [taskToView]="taskToView"></app-view-meeting>

<app-view-vote [voteToView]="taskToView"></app-view-vote>

<app-view-todo [todoTask]="taskToView"></app-view-todo>
