<div class="row justify-content-center">
  <div class="col-3">
    <button class="btn btn-block btn-outline-secondary" (click)="showCreateMeetingModal()">
      <img src="assets/icon_meeting.png"/>
      {{'group.activity.meeting' | translate}}</button>
  </div>
  <div class="col-3">
    <button class="btn btn-block btn-outline-secondary" (click)="showCreateVoteModal()">
      <img src="assets/icon-votes.png"/>
      {{'group.activity.vote' | translate}}</button>
  </div>
  <div class="col-3">
    <button class="btn btn-block btn-outline-secondary">
      <img src="assets/icon_todo.png"/>
      {{'group.activity.actionItem' | translate}}</button>
  </div>
</div>

<div *ngIf="upcomingTasks.length > 0" style="margin-top: 32px;">
  <div class="card">
    <div class="card-body events-box">
      <div class="row">
        <div class="col-7">
          <h1 [translate]="'group.activity.upcoming'"> Upcoming</h1>
        </div>
      </div>
      <div class="card" *ngFor="let task of upcomingTasks" style="margin-bottom: 1rem !important;">
        <div class="card-body events-box" >
          <div class="row">
            <div class="col-1">
              <div class="date-box rounded text-center">
                <h3>{{task.deadlineDate | date: 'dd'}}</h3>
                {{task.deadlineDate | date: 'MMM'}}
              </div>
            </div>
            <div class="col-11">
              <div class="row">
                <span class="font-weight-bold">
                  <img [src]="'assets/' + task.getEventIconName() "/>
                  {{task.type}}:&nbsp;
                </span>
                  {{task.title}}
              </div>
              <div class="row" *ngIf="task.type === taskTypes.VOTE">
                <span class="font-weight-bold" [translate]="'group.activity.voteCloses'"> Closes:</span>&nbsp;
                {{task.deadlineDate | date: 'hh:mm a on dd MMM yy'}}
              </div>
              <div class="row">
                <p>{{task.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modals -->
<div class="modal fade" tabindex="-1" role="dialog" id="create-meeting-modal" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'group.activity.meetingModal.title' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="createMeetingForm"
              (ngSubmit)="createMeeting()">

          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-right">
              <label for="meeting-subject">{{ 'group.activity.meetingModal.subject' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="meeting-subject" placeholder="{{ 'group.activity.meetingModal.subject' | translate }}"
                     name="subject" [formControl]="createMeetingForm.controls['subject']">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-right">
              <label for="meeting-location">{{ 'group.activity.meetingModal.location' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <input type="text" id="meeting-location" class="form-control" placeholder="{{ 'group.activity.meetingModal.location' | translate }}"
                     name="location" [formControl]="createMeetingForm.controls['location']">
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-right">
              <label for="meeting-date-time">{{ 'group.activity.meetingModal.dateAndTime' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <ngbd-datetimepicker id="meeting-date-time" #dtp datePlaceholder="yyyy-mm-dd"
                                   [formControl]="createMeetingForm.controls['dateTimeEpochMillis']"
                                   [displayMonths]="displayMonths"></ngbd-datetimepicker>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-right">
              <label for="meeting-public">{{ 'group.activity.meetingModal.public' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <input type="checkbox" class="form-check-input" id="meeting-public" [formControl]="createMeetingForm.controls['publicMeeting']">
            </div>
          </div>


        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createMeeting()" [disabled]="!createMeetingForm.valid">{{ 'action.save' | translate }}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="create-vote-modal" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'group.activity.meetingModal.title' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="createVoteForm"
              (ngSubmit)="createVote()">

          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-right">
              <label for="vote-subject">{{ 'group.activity.voteModal.subject' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="vote-subject" placeholder="{{ 'group.activity.voteModal.subject' | translate }}"
                     name="subject" [formControl]="createVoteForm.controls['title']">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-right">
              <label for="vote-type">{{ 'group.activity.voteModal.typeOfVote' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <select class="form-control" id="vote-type" name="name-select" (change)="voteTypeChanged($event.target.value)">
                <option value="YES_NO">{{ 'group.activity.voteModal.yesNo' | translate }}</option>
                <option value="MULTI_OPTION">{{ 'group.activity.voteModal.multiOption' | translate }}</option>
              </select>
            </div>
          </div>

          <div class="form-group row" *ngIf="!yesNoVote">
            <div class="col-sm-4 col-form-label">

            </div>
            <div class="col-sm-8">
              <div formArrayName="voteOptions">
                <div *ngFor="let options of createVoteForm.controls.voteOptions.controls; let i=index">

                  <div [formGroupName]="i" style="margin-bottom: 0.1rem">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="{{'group.activity.voteModal.enterVoteOption' | translate}}"
                             aria-describedby="basic-addon2" formControlName="option">
                      <span class="input-group-addon" id="basic-addon" *ngIf="createVoteForm.controls.voteOptions.controls.length > 1"
                            (click)="removeOption(i)">
                        -
                      </span>
                    </div>
                  </div>
                </div>

              </div>

              <div>
                <button type="button" class="btn btn-secondary" (click)="addOption()">
                  {{'group.activity.voteModal.addVoteOption' | translate}}
                </button>
              </div>

            </div>
          </div>





          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-right">
              <label for="vote-date-time">{{ 'group.activity.voteModal.dateAndTime' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <ngbd-datetimepicker id="vote-date-time" #dtp datePlaceholder="yyyy-mm-dd"
                                   [formControl]="createVoteForm.controls['time']"
                                   [displayMonths]="displayMonths"></ngbd-datetimepicker>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 col-form-label text-right">
              <label for="vote-description">{{ 'group.activity.voteModal.description' | translate }}</label>
            </div>
            <div class="col-sm-8">
              <textarea class="form-control" id="vote-description" rows="3"
                        placeholder="{{ 'group.activity.voteModal.description' | translate }}"
                        [formControl]="createVoteForm.controls['description']"></textarea>
            </div>
          </div>


        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createVote()" [disabled]="!createVoteForm.valid">{{ 'action.save' | translate }}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>
