<div class="container primary-container" *ngIf="campaign != null">
  <div class="row mb-3">
    <div class="col-12">
      <a [routerLink]="['/campaigns']" class="grassroot-breadcrumb"><i class="fas fa-arrow-left"></i> {{ 'general.breadcrumb.campaigns' | translate }}</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="campaign-title">{{ campaign.name }}</h2>
      <div class="row">
        <div class="col-md-4">
          <img *ngIf="campaignImageUrl" class="img-fluid" [src]="campaignImageUrl" />
          <span>{{ campaign.campaignStartDate.format('DD MMM YYYY') }}</span> to
          <span>{{ campaign.campaignEndDate.format('DD MMM YYYY') }}</span>
        </div>
        <div class="col-md-8 campaign-description">
          <div class="row">
            <div class="col-md-7">
              <p>{{campaign.description}} {{ 'enum.CampaignLog.CAMPAIGN_SHARED' | translate }} </p>
              <!-- some details -->
              <div class="campaign-info creation-info">
                <strong>{{'campaign.dashboard.creationLabel' | translate}}</strong>
                <span translate [translateParams]="{
                  creatingUserName: campaign.creatingUserName,
                  createdDate: campaign.createdDate.format('DD MMMM YYYY')}">
                  campaign.dashboard.creationInfo</span>
              </div>
              <div class="campaign-info">
                {{ 'campaign.dashboard.typeLabel' | translate }}{{ 'campaign.types.' + campaign.campaignType | translate }}
              </div>
              <div class="campaign-info">
                {{ 'campaign.dashboard.groupLabel' | translate }}
                <a [routerLink]="['/group', campaign.masterGroupUid]" class="grassroot-link">// {{ campaign.masterGroupName }}</a>
              </div>
              <div class="campaign-info">
                <a class="grassroot-link" href="#" (click)="exportToExcel()">Export to Excel</a>
              </div>
            </div>
            <div class="col-md-5 text-right">
              <div class="campaign-info">
                <a [routerLink]="['/broadcast/create/campaign', campaign.campaignUid]" class="btn btn-success broadcast-btn">
                  <i class="fas fa-bullhorn"></i>
                  {{'group.sendBroadcast' | translate}}
                </a>
              </div>
              <div class="campaign-info">
                <div class="card">
                  <div class="card-body text-center">
                    <strong>{{ 'campaign.dashboard.code-title' | translate}}</strong>
                    <div class="join-code">
                      {{ 'campaign.dashboard.code-specified' | translate:campaign }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#campaignNavbars"
            aria-controls="campaignNavbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="campaignNavbars">
      <ul class="main-nav navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{active: currentTab === 'analyze'}">
          <a class="nav-link" href="#" [routerLink]="['analyze']" [translate]="'campaign.dashboard.analyze'"> Dashboard </a>
        </li>
        <li class="nav-item" [ngClass]="{active: currentTab === 'ussd'}">
          <a class="nav-link" href="#" [routerLink]="['messages', 'ussd']" [translate]="'campaign.dashboard.ussd'"> USSD </a>
        </li>
        <li class="nav-item" [ngClass]="{active: currentTab === 'whatsapp'}">
          <a class="nav-link" href="#" [routerLink]="['messages', 'whatsapp']" [translate]="'campaign.dashboard.whatsapp'"> WhatsApp </a>
        </li>
        <li class="nav-item" [ngClass]="{active: currentTab === 'broadcasts'}">
          <a class="nav-link" href="#" [routerLink]="['broadcasts']" [translate]="'campaign.dashboard.broadcasts'"> Broadcasts </a>
        </li>
        <li class="nav-item" [ngClass]="{active: currentTab === 'settings'}">
          <a class="nav-link" href="#" [routerLink]="['settings']" [translate]="'campaign.dashboard.settings'"> Settings </a>
        </li>
      </ul>
    </div>

  </nav>

  <div class="tab-area card-body">
    <router-outlet></router-outlet>
  </div>

</div>
