.campaign-title {
  margin-bottom: 1rem;
}

.campaign-info {
  margin-top: 1rem;
}

.campaign-description {
  color: #7A7D8C;
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  padding: 0 !important;
  margin-bottom: 2rem;
  margin-top: 2em;
  border-bottom: solid #cccccc 2px !important;
}

.navbar-light .navbar-nav.main-nav .nav-link {
  margin-right: 3rem !important;
  padding-top: 1rem;
  font-size: 20px;
  font-weight: 300;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #2CBC4C !important;
  border-bottom: solid #2CBC4C 1px !important;
}

.card-body {
  background: white;
}

.join-code {
  font-size: 1.3rem;
  line-height: 2rem;
}
