<div class="card-body">
  <div class="form-row">
    <div class="col-12 text-center">
      <h1 class="pwd-header text-center">Password reset</h1>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 text-center">
      <p class="pwd-info">To reset your password, first please enter the phone number or email address
      you use to sign into Grassroot</p>
    </div>
  </div>
  <form>
    <div class="form-row">
      <div class="form-group col-md-10 offset-md-1 col-12 text-center">
        <input type="text" class="form-control pwd-input" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12 text-center">
        <button type="submit" class="btn btn-primary pwd-next">Get OTP</button>
      </div>
    </div>
  </form>
</div>
