<div class="row">
  <div class="col-md-5 md-offset-1 d-none d-md-block">

  </div>
  <div class="col-md-6 col-sm-12 bg-white padding-vertical">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <h2>{{ 'login.title' | translate }}</h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="col-12">
        <form>
          <div class="form-group">
            <label for="username">{{ 'login.username' | translate }}</label>
            <input type="text" class="form-control" name="username" id="username" #username>
          </div>

          <div class="form-group">
            <label for="password">{{ 'login.password' | translate }}</label>
            <input type="password" class="form-control" name="password" id="password" #password>
            <a [routerLink]="['/password']" class="grassroot-link">{{ 'login.forgot' | translate }}</a>
          </div>

          <div class="form-group">
          </div>

          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary login-button"
                    (click)="login(username.value, password.value)"> {{ 'login.title' | translate }} </button>
          </div>
        </form>

        <div class="alert alert-danger my-lg-3" role="alert" *ngIf="message">
          {{ message }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          {{ 'login.newUser-prefix' | translate }}
          <a class="grassroot-link register-user" [routerLink]="['/register']">{{ 'login.newUser-suffix' | translate }}</a>
        </div>
      </div>
    </div>

  </div>
</div>

