<div class="row">

  <div class="col-sm-3 col-lg-2 filter-item" *ngIf="includeNameFilter">
    <label for="joinMethods" class="grassroot-label-em" [translate]="'group.allMembers.filterMembers.nameOrPhone'">Name or phone</label>
  </div>

  <div class=" col-sm-9 col-lg-10 filter-item" *ngIf="includeNameFilter">
    <input id="nameOrPhone" class="form-control"
           placeholder="{{ 'group.allMembers.filterMembers.nameOrPhonePlaceHolder' | translate}}"
           (keyup)="nameOrPhoneChanged($event.target.value)"/>
  </div>

  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="province" class="grassroot-label-em">{{ 'group.allMembers.filterMembers.province' | translate }}</label>
  </div>
  <div class=" col-sm-9 col-lg-4 filter-item">
    <select id="province" class="form-control provinces-multi-select" multiple="multiple" style="width: 100%">
      <option *ngFor="let p of provinceKeys" [value]="p" [translate]="'enum.UserProvince.' + p">Province</option>
      <option value="UNKNOWN">Unknown</option>
    </select>
  </div>

  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="role" class="grassroot-label-em">{{ 'group.allMembers.filterMembers.role' | translate }}</label>
  </div>
  <div class=" col-sm-9 col-lg-4 filter-item">
    <select id="role" class="form-control form-control-em" [formControl]="filterForm?.controls['role']">
      <option value="ANY">Any</option>
      <option *ngFor="let r of roleKeys" [value]="r" [translate]="'enum.GroupRole.' + r">Role name
      </option>
    </select>
  </div>

  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="topics" class="grassroot-label-em" [translate]="'group.allMembers.filterMembers.topics'">Topics</label>
  </div>
  <div class=" col-sm-9 col-lg-4 filter-item">
    <select id="topics" class="form-control topics-multi-select-filter" multiple="multiple" style="width: 100%">
      <option *ngFor="let tp of topics" [value]="tp">{{ tp }}</option>
    </select>
  </div>

  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="taskTeams" class="grassroot-label-em">{{ 'group.allMembers.filterMembers.taskTeam' | translate }}</label>
  </div>
  <div class=" col-sm-9 col-lg-4 filter-item">
    <select id="taskTeams" class="form-control task-teams-multi-select" multiple="multiple" style="width: 100%">
      <option *ngFor="let tt of taskTeams" [value]="tt.groupUid">{{tt.name}}</option>
    </select>
  </div>

  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="affiliations" class="grassroot-label-em">{{ 'group.allMembers.filterMembers.affiliations' | translate }}</label>
  </div>
  <div class="col-sm-9 col-lg-4 filter-item">
    <select id="affiliations" class="form-control affiliations-multi-select" multiple="multiple" style="width: 100%">
      <option *ngFor="let af of affiliations" [value]="af">{{ af }}</option>
    </select>
  </div>


  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="joinMethods" class="grassroot-label-em" [translate]="'group.allMembers.filterMembers.joinMethods'">Joined
      source</label>
  </div>
  <div class=" col-sm-9 col-lg-4 filter-item">
    <select id="joinMethods" class="form-control join-methods-multi-select" multiple="multiple" style="width: 100%">
      <option *ngFor="let jm of joinMethods" [value]="jm" [translate]="'enum.GroupJoinMethod.' + jm">Join method
      </option>
    </select>
  </div>

  

  <div class="col-sm-3 col-lg-2 filter-item" *ngIf="hasCampaigns">
    <label for="campaigns" class="grassroot-label-em" [translate]="'group.allMembers.filterMembers.campaigns'">Joined
      via campaign</label>
  </div>
  <div class=" col-sm-9 col-lg-4 filter-item" *ngIf="hasCampaigns">
    <select id="campaigns" class="form-control campaigns-multi-select" multiple="multiple" style="width: 100%">
      <option *ngFor="let cm of campaigns" [value]="cm.campaignUid"> {{cm.name}}</option>
    </select>
  </div>

  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="userLanguage" class="grassroot-label-em" [translate]="'group.allMembers.filterMembers.userLanguage'">User
      language</label>
  </div>
  <div class=" col-sm-9 col-lg-4 filter-item">
    <select id="userLanguage" class="form-control language-multi-select" multiple="multiple" style="width: 100%">
      <option *ngFor="let language of userLanguages" [value]="language.twoDigitCode"> {{language.fullName}}</option>
    </select>
  </div>

  <div *ngIf="provinceMunicipalities.length > 0" class="col-sm-3 col-lg-2 filter-item">
    <label for="municipality" class="grassroot-label-em">Municipalities</label>
  </div>
  <div *ngIf="provinceMunicipalities.length > 0" class="col-sm-9 col-lg-4 filter-item">
    <select id="municipality" class="form-control form-control-em"  
            [formControl]="filterForm?.controls['municipality']"
            style="width: 100%">
      <option value="CHOOSE">Select Municipality</option>
      <option *ngFor="let municipality of provinceMunicipalities" [value]="municipality.id"> {{municipality.name}} ({{countMembersInMunicipality(municipality.id)}})</option>
    </select>
  </div>

</div>

<div class="row">
  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="campaigns" class="grassroot-label-em" [translate]="'group.allMembers.filterMembers.joinDate'">Joined
      on date</label>
  </div>
  <div class=" col-sm-3 col-lg-3 filter-item">
    <select id="joinDateCondition" class="form-control join-date-condition-multi-select"
            (change)="dateConditionTypeChanged($event.target.value)">
      <option value="ANY" [translate]="'group.allMembers.filterMembers.joinDateAny'"> Any date</option>
      <optgroup label="Days ago">
        <option [value]="joinDateConditions[0]" [translate]="'group.allMembers.filterMembers.' + joinDateConditions[0]">
          more then
        </option>
        <option [value]="joinDateConditions[1]" [translate]="'group.allMembers.filterMembers.' + joinDateConditions[1]">
          exactly
        </option>
        <option [value]="joinDateConditions[2]" [translate]="'group.allMembers.filterMembers.' + joinDateConditions[2]">
          less then
        </option>
      </optgroup>
      <optgroup label="Date">
        <option [value]="joinDateConditions[3]" [translate]="'group.allMembers.filterMembers.' + joinDateConditions[3]">
          before
        </option>
        <option [value]="joinDateConditions[4]" [translate]="'group.allMembers.filterMembers.' + joinDateConditions[4]">
          on
        </option>
        <option [value]="joinDateConditions[5]" [translate]="'group.allMembers.filterMembers.' + joinDateConditions[5]">
          after
        </option>
      </optgroup>
    </select>
  </div>

  <div class=" col-sm-6 col-lg-7 filter-item">
    <input *ngIf="joinDateConditionType == 'DAYS_AGO'" type="number" [formControl]="filterForm.controls['daysAgo']"
           class="form-control float-left" value="1" (keydown)="daysAgoChanged($event.target.value)"
           (change)="daysAgoChanged($event.target.value)" style="width: auto !important;"/>
    <span *ngIf="joinDateConditionType == 'DAYS_AGO'">&nbsp;&nbsp;</span>
    <label *ngIf="joinDateConditionType == 'DAYS_AGO'" class="grassroot-label-em"
           [translate]="'group.allMembers.filterMembers.DAYS_AGO_SUFIX'">days ago</label>

    <div *ngIf="joinDateConditionType == 'DATE'" class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" [formControl]="filterForm.controls['date']"
               ngbDatepicker #d="ngbDatepicker" (ngModelChange)="dateChanged($event)" style="width: auto !important;">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="assets/icon-calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>
  </div>



</div>
