<div class="row">

  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="province" class="grassroot-label-em">{{ 'group.allMembers.filterMembers.province' | translate }}</label>
  </div>
  <div class=" col-sm-9 col-lg-10 filter-item">
    <select id="province" class="form-control provinces-multi-select" multiple="multiple" style="width: 100%">
      <option *ngFor="let p of provinceKeys" [value]="p" [translate]="'enum.UserProvince.' + p">Province</option>
    </select>
  </div>


  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="topics" class="grassroot-label-em" [translate]="'group.allMembers.filterMembers.topics'">Topics</label>
  </div>
  <div class=" col-sm-9 col-lg-10 filter-item">
    <select id="topics" class="form-control topics-multi-select" multiple="multiple" style="width: 100%">
      <option *ngFor="let tp of topics" [value]="tp">Topic</option>
    </select>
  </div>


  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="taskTeams" class="grassroot-label-em">{{ 'group.allMembers.filterMembers.taskTeam' | translate
      }}</label>
  </div>
  <div class=" col-sm-9 col-lg-10 filter-item">
    <select id="taskTeams" class="form-control task-teams-multi-select" multiple="multiple" style="width: 100%">
      <option *ngFor="let tt of taskTeams" [value]="tt.id">{{tt.name}}</option>
    </select>
  </div>


  <div class="col-sm-3 col-lg-2 filter-item">
    <label for="joinMethods" class="grassroot-label-em" [translate]="'group.allMembers.filterMembers.joinMethods'">Joined
      source</label>
  </div>
  <div class=" col-sm-9 col-lg-10 filter-item">
    <select id="joinMethods" class="form-control join-methods-multi-select" multiple="multiple" style="width: 100%">
      <option *ngFor="let jm of joinMethods" [value]="jm" [translate]="'enum.GroupJoinMethod.' + jm">Join method
      </option>
    </select>
  </div>

</div>


<!--<button type="button" class="btn btn-primary" style="margin-top: 1rem;" (click)="filterData()">{{ 'group.allMembers.filterMembers.update' | translate }}</button>-->
