.attendence-info-header {
  background: #929292;
  font-style: inherit;
  color: #ffffff;
  margin-top: 5%;
}

.attendee-name{
  font-weight: bold;
}

.meeting-title{
  margin-bottom: 5%;
}

.assigned-members{
  margin-top: 5%;
  font-weight: bold;
}

.responses{
  margin-top: 3%;
  background-color: #E5E9F2;
}

.responses .header{
  font-weight: bold;
}

.attendence-header{
  margin-top: 5%;
}

.attendance .card {
  border-radius: 2px;
  border: 1px solid #E5E9F2;
  /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);*/
}

.attendance .card-header {
  background-color: #929BAF;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.attendance .card-title {
  font-size: 14px;
  color: #FFFFFF;
  font-family: Nunito;
  font-weight: 600;
  line-height: 16px;
}

.attendance .card-body {
  padding-top: 0.5rem;
}

.attendance .info-row {
  border-top: none;
  border-bottom: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 15px;
  line-height: 16px;
}

.download-error-report {
  text-decoration: underline !important;
  color: blue !important;
}

.download-error-report:hover{
  cursor: pointer;
}
