<div>
	<div *ngFor="let alert of news; let i = index" class="card">
		<div [ngClass]="(alert.serverUid == alertUid)?'loaded-outside':'card-body'" 
							[id]="(alert.serverUid == alertUid)?'target':'news-item'">
			<div class="row alert-header">
				<div class="col-md-10 alert-headline">
					<span>
						#LiveWire {{alert.headline}}
					</span>
				</div>
				<div class="col-md-2">
					{{alert.creationTimeMillis | date: 'dd MMM yyyy'}}
				</div>
			</div>
			<div class="row alert-description">
				<div class="col-md-12">
					<span>{{alert.description}}</span>
				</div>
			</div>
			<div *ngIf="alert.imageKeys.length > 0" class="row">
				<div *ngFor="let imageKey of alert.imageKeys; let i = index" class="col-md-3 col-sm-6 col">
					<img (click)="openImage(imageKey)" class="alert-image" alt="" src="{{loadImageUrl(alert.imageKeys[i])}}">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="open-image-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <span class="alert-modal-image-close">&times;</span>
      <div class="modal-body">
        <img class="alert-modal-image" alt="" src="{{imageUrl}}">
      </div>
      
    </div>
  </div>
</div>

<nav *ngIf="news.length > 0" aria-label="Group list navigation">
  <ul class="pagination justify-content-end">
  	<a class="page-indicator" style="font-weight: bold;" (click)="showLatestPosts()"><i class="fa fa-chevron-left"></i> Latest Posts</a>
   	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="page-indicator " style="font-weight: bold;" (click)="showOlderPosts()">Older Posts <i class="fa fa-chevron-right"></i></a>
  </ul>
</nav>
