.card-body {
  padding: 0.3rem;
}

.group-info-header {
  border-top: none;
  border-bottom: none;
  background-color: #F5F6FA;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 12px;
  line-height: 16px;
}

.group-info-row {
  font-size: 14px;
  line-height: 22px;
}

.group-info-row img {
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}


.pinned-groups {
  margin-bottom: 3rem;
}

.btn.dropdown-toggle {
  padding: 0.5rem;
  font-size: 14px;
  background-color: white;
  border: solid 1px #cccccc;
}

.filter{
  margin-bottom: 0.9rem;
}

.filter .dropdown{
  margin-right: 1rem
}

.page-indicator{
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
}

.page-indicator:hover{
  cursor: pointer;

}

.page-selected{
  background-color: #929BAF;
  border-radius: 50%;
  color: #ffffff !important;
}

.page-item{
  margin-right: 0.5rem;
}

.pagination{
  margin-top:35px;
  font-size:12px;
}

.clear-filters{
  margin-left:10px;
}
