<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#create-group-modal">
  {{ 'groups.create' | translate }}
</button>
<h1 class="main-title">{{ 'groups.title' | translate }}</h1>

<h2 *ngIf="pinnedGroups.length > 0">
  <img src="assets/star_black.png"/>
  {{ 'groups.pinnedGroups.title' | translate }}
</h2>

<div *ngIf="pinnedGroups.length > 0" class="card pinned-groups">

  <div class="card-body">

    <div class="container group-info-header">
      <div class="row">
        <div class="col-3">{{ 'groups.pinnedGroups.name' | translate }}</div>
        <div class="col-2">{{ 'groups.pinnedGroups.role' | translate }}</div>
        <div class="col-3">{{ 'groups.pinnedGroups.upNext' | translate }}</div>
        <div class="col-2">{{ 'groups.pinnedGroups.members' | translate }}</div>
        <div class="col-2"></div>
      </div>
    </div>

    <app-group-info *ngFor="let gr of pinnedGroups"
                    [group]="gr"
                    [extendedInfoVisible]="pinnedGroups.length == 1"
                    (pinToggled)="toggleGroupPin($event)">
    </app-group-info>

  </div>
</div>


<h2>
  <img src="assets/star_black.png"/>
  {{ 'groups.allGroups.title' | translate }}
</h2>

<div class="form-inline filter">
    <label class="mr-sm-2" for="inlineRolePick">Role</label>
    <div class="dropdown" id="inlineRolePick">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ 'groups.filter.selectRole' | translate }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="filterGroupsByRole('ROLE_COMMITTEE_MEMBER','Commitee')">{{ 'groups.filter.commitee' | translate }}</a>
        <a class="dropdown-item" (click)="filterGroupsByRole('ROLE_ORDINARY_MEMBER', 'Member')">{{ 'groups.filter.member' | translate }}</a>
        <a class="dropdown-item" (click)="filterGroupsByRole('ROLE_GROUP_ORGANIZER', 'Organizer')">{{ 'groups.filter.organizer' | translate }}</a>
      </div>
    </div>

    <label class="mr-sm-2" for="inlineKeywordPick">{{ 'groups.filter.keyword' | translate }} </label>
    <input type="text" class="form-control" id="inlineKeywordPick" placeholder="{{ 'groups.filter.keywordPlaceholder' | translate }}"
           name="name" (keyup)="filterByKeyword()">

    <button type="button" class="btn btn-success clear-filters" (click)="clearAllFilters()">{{ 'groups.filter.clear' | translate }}</button>
</div>


<div *ngIf="groups.length > 0" class="card">
  <div class="card-body">

    <div class="container group-info-header">
      <div class="row">
        <div class="col-3">{{ 'groups.allGroups.name' | translate }}</div>
        <div class="col-2">{{ 'groups.allGroups.role' | translate }}</div>
        <div class="col-3">{{ 'groups.allGroups.upNext' | translate }}</div>
        <div class="col-2">{{ 'groups.allGroups.members' | translate }}</div>
        <div class="col-2"></div>
      </div>
    </div>

    <app-group-info *ngFor="let gr of filteredGroupsPage" [group]="gr" (pinToggled)="toggleGroupPin($event)"></app-group-info>

  </div>
</div>

<nav aria-label="Page navigation example" *ngIf="pagesList.length > 0">
  <ul class="pagination justify-content-end">
    <li class="page-item " [ngClass]="(currentPage==1)?'disabled':''">
      <a class="page-indicator " (click)="previousPage()">
        <img src="../../../assets/arrow-left.png">{{ 'pagination.previous' | translate }}
      </a>
    </li>
    <li class="page-item" *ngFor="let page of pagesList">
      <a class="page-indicator " [ngClass]="(page==currentPage)?'page-selected':''" (click)="goToPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="(currentPage==pagesList.length)?'disabled':''">
      <a class="page-indicator " (click)="nextPage()">
        {{ 'pagination.next' | translate }} <img src="../../../assets/arrow-right.png">
      </a>
    </li>
  </ul>
</nav>


<div class="modal fade" tabindex="-1" role="dialog" id="create-group-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'groups.createNewModal.title' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="createGroupForm"
              (ngSubmit)="createGroup()">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>{{ 'groups.createNewModal.groupName' | translate }}</label>
              <input type="text" class="form-control" placeholder="{{ 'groups.createNewModal.groupName' | translate }}"
                     name="name" [formControl]="createGroupForm.controls['name']">
            </div>
            <div class="form-group col-md-4">
              <label>{{ 'groups.createNewModal.network' | translate }}</label>
              <select class="form-control">
                <option>-</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>{{ 'groups.createNewModal.description' | translate }}</label>
            <textarea class="form-control"
                      name="description" [formControl]="createGroupForm.controls['description']"></textarea>
          </div>

          <div class="form-row">
            <div class="form-group col-md-2">
              <label>{{ 'groups.createNewModal.groupPrivacy.title' | translate }}</label>
            </div>

            <div class="form-group col-md-4">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" checked value="true"
                         name="discoverable" [formControl]="createGroupForm.controls['discoverable']">
                  {{ 'groups.createNewModal.groupPrivacy.public' | translate }}
                </label>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" value="false"
                         name="discoverable" [formControl]="createGroupForm.controls['discoverable']">
                  {{ 'groups.createNewModal.groupPrivacy.private' | translate }}
                </label>
              </div>
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>{{ 'groups.createNewModal.reminders.title' | translate }}</label>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control" name="reminderMinutes"
                      [formControl]="createGroupForm.controls['reminderMinutes']">
                <option value="2880">{{ 'groups.createNewModal.reminders.twoDays' | translate }}</option>
                <option value="1440">{{ 'groups.createNewModal.reminders.oneDay' | translate }}</option>
                <option value="720">{{ 'groups.createNewModal.reminders.halfDay' | translate }}</option>
                <option value="60">{{ 'groups.createNewModal.reminders.oneHour' | translate }}</option>
                <option value="0" selected>{{ 'groups.createNewModal.reminders.noReminders' | translate }}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>{{ 'groups.createNewModal.permission.title' | translate }}</label>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control" name="permissionTemplate"
                      [formControl]="createGroupForm.controls['permissionTemplate']">
                <option value="DEFAULT_GROUP">{{ 'groups.createNewModal.permission.any' | translate }}</option>
                <option value="CLOSED_GROUP">{{ 'groups.createNewModal.permission.organizer' | translate }}</option>
              </select>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createGroup()">{{ 'action.save' | translate }}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>


