<ng4-loading-spinner
  [loadingText]="'groups.loading' | translate"
  [threshold]="500"
> </ng4-loading-spinner>

<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#create-group-modal">
  {{ 'groups.create' | translate }}
</button>
<h1 class="main-title">{{ 'groups.title' | translate }}</h1>

<h2 *ngIf="pinnedGroups.length > 0">
  <img src="assets/star_black.png"/>
  {{ 'groups.pinnedGroups.title' | translate }}
</h2>

<div *ngIf="pinnedGroups.length > 0" class="card pinned-groups">

  <div class="card-body">

    <div class="container group-info-header">
      <div class="row">
        <div class="col-sm-3  d-block">{{ 'groups.pinnedGroups.name' | translate }}</div>
        <div class="col-sm-2 d-none d-md-block">{{ 'groups.pinnedGroups.role' | translate }}</div>
        <div class="col-sm-3 d-none d-md-block">{{ 'groups.pinnedGroups.upNext' | translate }}</div>
        <div class="col-sm-2 d-none d-md-block">{{ 'groups.pinnedGroups.members' | translate }}</div>
        <div class="col-sm-2 d-none d-md-block"></div>
      </div>
    </div>

    <app-group-info *ngFor="let gr of pinnedGroups"
                    [group]="gr"
                    [extendedInfoVisible]="pinnedGroups.length == 1"
                    (onTriggerCreateMeeting)="showCreateMeetingModal($event)"
                    (onTriggerCreateVote)="showCreateVoteModal($event)"
                    (onTriggerCreateTodo)="showCreateTodoModal($event)"
                    (onTriggerCreateLivewireAlert)="showCreateLivewireAlertModal($event)"
                    (pinToggled)="toggleGroupPin($event)"
    >
    </app-group-info>

  </div>
</div>


<h2>
  <img src="assets/star_black.png"/>
  {{ 'groups.allGroups.title' | translate }}
</h2>

<div class="form-inline filter">
  <label class="mr-md-2 " for="inlineRolePick">My role </label>

  <div class="w-100 d-sm-block d-md-none"></div>

  <div class="dropdown " id="inlineRolePick">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ 'groups.filter.selectRole' | translate }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="filterGroupsByRole('Commitee')">{{ 'groups.filter.commitee' | translate }}</a>
        <a class="dropdown-item" (click)="filterGroupsByRole('Member')">{{ 'groups.filter.member' | translate }}</a>
        <a class="dropdown-item" (click)="filterGroupsByRole('Organizer')">{{ 'groups.filter.organizer' | translate }}</a>
      </div>
    </div>

  <div class="w-100 d-sm-block d-md-none"></div>


  <label class="mr-md-2 " for="inlineKeywordPick">{{ 'groups.filter.keyword' | translate }} </label>

  <div class="w-100 d-sm-block d-md-none"></div>

  <input type="text" class="form-control " id="inlineKeywordPick" placeholder="{{ 'groups.filter.keywordPlaceholder' | translate }}"
           name="name" (keyup)="filterByKeyword()">

  <div class="w-100 d-sm-block d-md-none"></div>

  <button type="button" class="btn btn-success clear-filters mt-sm-1" (click)="clearAllFilters()">{{ 'groups.filter.clear' | translate }}</button>
</div>


<div *ngIf="groups.length > 0" class="card">
  <div class="card-body">

    <div class="container group-info-header">
      <div class="row">
        <div class="col-md-2 col-lg-3 d-block">{{ 'groups.allGroups.name' | translate }}</div>
        <div class="col-md-2 col-lg-2 d-none d-md-block">{{ 'groups.allGroups.role' | translate }}</div>
        <div class="col-md-3 col-lg-3 d-none d-md-block">{{ 'groups.allGroups.upNext' | translate }}</div>
        <div class="col-md-2 col-lg-2 d-none d-md-block">{{ 'groups.allGroups.members' | translate }}</div>
        <div class="col-md-2 col-lg-1 d-none d-md-block"></div>
        <div class="col-md-1 col-lg-1 d-none d-md-block"></div>
      </div>
    </div>

    <app-group-info *ngFor="let gr of filteredGroupsPage"
                    [group]="gr"
                    (pinToggled)="toggleGroupPin($event)"
                    (onTriggerCreateMeeting)="showCreateMeetingModal($event)"
                    (onTriggerCreateVote)="showCreateVoteModal($event)"
                    (onTriggerCreateTodo)="showCreateTodoModal($event)"
                    (onTriggerCreateLivewireAlert)="showCreateLivewireAlertModal($event)">
    </app-group-info>

  </div>
</div>

<nav aria-label="Group list navigation" *ngIf="pagesList.length > 0">
  <ul class="pagination justify-content-end">
    <li class="page-item " [ngClass]="(currentPage==1)?'disabled':''">
      <a class="page-indicator " (click)="previousPage()">
        <img src="../../../assets/arrow-left.png">{{ 'pagination.previous' | translate }}
      </a>
    </li>
    <li class="page-item" *ngFor="let page of pagesList">
      <a class="page-indicator " [ngClass]="(page==currentPage)?'page-selected':''" (click)="goToPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="(currentPage==pagesList.length)?'disabled':''">
      <a class="page-indicator " (click)="nextPage()">
        {{ 'pagination.next' | translate }} <img src="../../../assets/arrow-right.png">
      </a>
    </li>
  </ul>
</nav>


<app-create-group (onGroupCreated)="groupCreated($event)"
                  (onGroupCreationFailed)="groupCreationFailed($event)"></app-create-group>

<app-create-meeting [groupUid]="createTaskGroupUid"
                    (meetingSaved)="meetingSaved($event)"></app-create-meeting>

<app-create-vote [groupUid]="createTaskGroupUid"
                 (voteSaved)="voteSaved($event)"></app-create-vote>

<app-create-todo [groupUid]="createTaskGroupUid"
                 (todoSaved)="todoSaved($event)"></app-create-todo>

<app-create-livewire [groupUid]="createTaskGroupUid"
                  (alertSaved)="alertSaved($event)"></app-create-livewire>
