.group-info-row {
  padding-top: 1rem;
  padding-bottom: 1rem;
  vertical-align: middle;
}

.btn.dropdown-toggle {
  padding: 0.5rem;
  font-size: 14px;
  background-color: white;
  border: solid 1px #cccccc;
}

.group-name {
  font-size: 16px;
}

.group-info-row img {
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}

img.pin {
  cursor: pointer;
}

.group-info-details {
  font-size: 14px;
}



