#sort-dropdown {
  padding: 10px 40px;
  font-size: 1.1em;
  background-color: #FFFFFF;
  border-radius: 2px;
  color: #4A4A4A;
  line-height: 19px;
}

.alert-list{
	margin-top: 0.5%;
}

.alerts-header{
	background-color: #e6eaef;
}

.header{
	margin-bottom: 2%;
	background-color: #e6eaef;
}
.primary-entity-name-link {
  color: #7A7D8C;
  font-weight: bold;
}

.primary-entity-name-link:hover {
  color: #2CBC4C;
  text-decoration: underline;
}

.secondary-entity-link {
  color: inherit;
  text-decoration: none;
}

.secondary-entity-link:hover {
  text-decoration: underline;
}