<div class="card" style="margin-top: 32px;">

  <div class="card-body events-box">

    <div class="container">
      <div class="row">
        <div class="col">

          <h3>Custom filter</h3>
          <hr/>

          <app-member-filter *ngIf="group" [taskTeams]="group.subGroups"
                             [topics]="group.topics"
                             [campaigns]="groupCampaigns"
                             [affiliations]="group.affiliations"
                             [provinceMunicipalities]="municipalities"
                             [groupUid]="group.groupUid"
                             (filterChanged)="membersFilterChanged($event)">
          </app-member-filter>
        </div>
      </div>

      <hr/>

      <div *ngIf="currentPage" class="row">

        <div class="col-9">
          <h3 class="float-left">Matching members <span class="group-members-count">// {{currentPage.totalElements}}</span></h3>
          <img src="assets/small-spinner-bars.gif" *ngIf="loading"/>
        </div>

        <div class="col-3">
          <div class="float-right">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                      [disabled]="!(currentPage?.getSelectedMembers()?.length > 1)" aria-haspopup="true" aria-expanded="false" [translate]="'group.allMembers.bulkManage.bulkManage'">

              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.meeting'" (click)="showCreateTaskModal('MEETING')">Call a meeting</a>
                <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.vote'" (click)="showCreateTaskModal('VOTE')">Call a vote</a>
                <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.todo'" (click)="showCreateTaskModal('TODO')">Create an action</a>
                <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.taskTeam'" (click)="addFilteredMembersToTaskTeam()">Assign topic</a>
                <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.topics'" (click)="bulkManageTopics()">Add to task team</a>
                <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.copyToGroup'" (click)="showBulkCopyToGroupModal()">Copy to group</a>
                <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.download'" (click)="downloadFilteredMembersExcel()">Download as Excel</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="group && currentPage">
        <div class="col">
          <app-member-list [currentPage]="currentPage" [group]="group" [showSortToggles]="false"></app-member-list>
        </div>
      </div>

    </div>
  </div>
</div>

<app-add-to-task-team *ngIf="group?.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS')"
                      [group]="group" [members]="membersToManage" [modalId]="'filtered-add-to-task-team'"
                      (membersAdded)="refreshGroupDetails()"></app-add-to-task-team>

<app-member-topics-manage #bulkTopicManageModal *ngIf="group?.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS')"
                          [group]="group" [memberUids]="topicMemberUids"
                          [modalId]="'bulk-member-assign-topics'" [selectId]="'bulk-topics-multi-select'"
                          (topicsAssigned)="refreshGroupDetails()"></app-member-topics-manage>

<app-group-copy-members *ngIf="group?.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS')"
                        [groups]="groupsToCopyMembersTo"  [members]="membersToManage" [modalId]="'bulk-copy-members-to-group'"
                        (membersAdded)="refreshGroupDetails()"></app-group-copy-members>

<app-create-meeting [groupUid]="group?.groupUid" [preAssignedMemberUids]="filteredMemberUids" [preAssignedMemberNames]="filteredMemberNames"
                    (meetingSaved)="taskCreated($event, 'MEETING')"></app-create-meeting>

<app-create-vote [groupUid]="group?.groupUid" [preAssignedMemberUids]="filteredMemberUids" [preAssignedMemberNames]="filteredMemberNames"
                 (voteSaved)="taskCreated($event, 'VOTE')"></app-create-vote>

<app-create-todo [groupUid]="group?.groupUid" [preAssignedMemberUids]="filteredMemberUids"
                 (todoSaved)="taskCreated($event, 'TODO')"></app-create-todo>

