<div class="carousel-wrapper">
  <ul class="carousel-inner" #carousel
      (transitionend)="onCarouselTransitionEnd()"
      [class.carousel-inner--transition]="moveCarousel">
    <ng-container *ngFor="let item of currentItems">
      <div class="carousel-item-wrapper" *ngIf="item">
        <div class="row">
          <div class="col-sm-8 text-center text-md-left carousel-text">
            dd{{item.headline}}
          </div>
          <div class="col-sm-3 carousel-date-placeholder text-center text-md-left">
            <span class="carousel-date">{{item.creationTimeMillis | date}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </ul>
</div>


