<div class="carousel-wrapper">
  <ul class="carousel-inner" #carousel
      (transitionend)="onCarouselTransitionEnd()"
      [class.carousel-inner--transition]="moveCarousel">
    <ng-container *ngFor="let item of currentItems">
      <div class="carousel-item-wrapper" *ngIf="item">
        <div class="row">
          <div class="col-sm-8 text-center text-md-left carousel-text">
            {{item.headline}}
          </div>
          <div class="col-sm-2 carousel-date-placeholder text-center text-md-left">
            <span class="carousel-date">{{item.creationTimeMillis | date}}</span>
          </div>
          <div class="col-sm-1 text-center text-md-right">
            <a *ngIf="!!item.serverUid" [routerLink]="['/news', item.serverUid]"><i class="fas fa-arrow-right grassroot-link"></i></a>
          </div>
        </div>
      </div>
    </ng-container>
  </ul>
</div>
