:host {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  overflow: visible;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

.carousel-text {
  height: 28px;
  width: 438px;
  color: #7A7D8C;
  font-family: Nunito;
  font-size: 18px;
  line-height: 28px;
}

.carousel-date-placeholder {
  height: 30px;
  width: 167px;
  border-radius: 2px;
  background-color: #F5F6FA;
  display: flex;
  align-items: center;
  align-content: center;
}

.carousel-date {
  width: 100%;
  color: #7A7D8C;
  font-family: Nunito;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.carousel-item-wrapper {
  width: 50%;
}

.carousel-inner {
  width: 200%;
  transition: none;
}

.carousel-inner--transition {
  transition: transform cubic-bezier(.63,0,.56,.96) 0.8s;
  transform: translateX(-50%);
}

.carousel-arrow{
  color: #2CBC4C;
}

@media (max-width: 767px) {
  .carousel-text {
    width: 100%;
  }

  .carousel-date-placeholder {
    background: none;
    width: 100%;
  }

  .carousel-date {
    font-weight: 600;
    opacity: 0.4;
  }
}
