<!-- <ngx-loading [show]="loadingModule"
             class="loading-spinner"
             [config]="{ backdropBackgroundColour: 'rgba(255,255,255,0.3)'}"></ngx-loading> -->
<div class="container-fluid main-wrapper"
     [class.main-wrapper--disabled]="countdownActive">

  <div class="container-fluid bg-white fixed-top">

    <div class="container">

      <!-- navbar for logged in user -->
      <nav class="navbar navbar-expand-lg navbar-light" *ngIf="loggedInUser">

        <a class="navbar-brand" [routerLink]="['/']">
          <img class="img-responsive" src="assets/graphics/grassroot-01@2x.png"/>
        </a>

        <button class="navbar-toggler" type="button" (click)="toggleMenuCollapse()" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault" [class.show]="showMenu">
          <ul class="main-nav navbar-nav mr-auto">

            <li class="nav-item" [ngClass]="{active: router.isActive('/home')}">
              <a class="nav-link" (click)="navigateToMainLink('/home')"> {{ 'menu.home' | translate }} <span class="sr-only">(current)</span> </a>
            </li>

            <li class="nav-item"
                [ngClass]="{active: router.isActive('/groups') || router.isActive('/group')}">
              <a class="nav-link" (click)="navigateToMainLink('/groups')"> {{ 'menu.groups' | translate }} <span class="sr-only">(current)</span> </a>
            </li>

            <li class="nav-item" [ngClass]="{active: router.isActive('/campaigns') || router.isActive('/campaign')}">
              <a class="nav-link" (click)="navigateToMainLink('/campaigns')"> {{ 'menu.campaigns' | translate }} <span
                class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item" [ngClass]="{active: currentUrl == '/movements'}">
              <a class="nav-link disabled" [routerLink]="['/movements']"> {{ 'menu.movements' | translate }} <span class="sr-only">(current)</span></a>
            </li>

          </ul>

          <div class="my-2 my-lg-0">

            <ul class="nav-item" class="navbar-nav mr-auto">

              <li class="nav-item dropdown notifications d-none d-lg-block">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <span *ngIf="notifications.length > 0"
                        class="badge badge-danger badge-pill">{{notifications.length}}</span>
                  <img src="assets/icon-bell.png"/>
                </a>
                <div class="dropdown-menu scrollable-menu notifications" aria-labelledby="dropdown01">
                  <a *ngIf="notifications.length > 2" class="dropdown-item" href="#" (click)="markAllNotificationsRead()">
                    Mark all read
                  </a>
                  <a *ngFor="let ntf of notifications" class="dropdown-item" href="#"
                     (click)="handleNotificationClick($event, ntf.uid)">
                    <div class="notification-item">
                      <span class="notification-item-title">{{ntf.message}}</span><br/>
                      <span class="notification-item-time">{{ntf.createdDatetime.fromNow()}}</span>
                      <a href="#" (click)="markNotificationRead(ntf.uid)" class="badge badge-info">Mark read</a>
                    </div>
                  </a>
                  <a *ngIf="notifications.length == 0" class="dropdown-item" href="#">{{ 'menu.noNotifications' |
                    translate }}</a>
                </div>
              </li>

              <li class="nav-item help d-none d-xl-block">
                <a class="nav-link" [routerLink]="['/help']">
                  <img src="assets/icon-help.png"/> {{ 'menu.help' | translate }}
                </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <img height="50" class="image rounded-circle profile-image" *ngIf="userImageUrl" [src]="userImageUrl"
                    #profileImage />
                  <span *ngIf="userHasNoImage"><i class="far fa-user"></i> </span>{{loggedInUser.displayName}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" *ngIf="!loggedInUser.hasAccountAdmin()" [routerLink]="['/user/signup']">Grassroot Extra</a>
                  <a class="dropdown-item" [routerLink]="['/user']">{{ 'menu.profile' | translate }}</a>
                  <a class="dropdown-item" [routerLink]="['/user/password']">{{ 'menu.password' | translate }}</a>
                  <a class="dropdown-item" *ngIf="loggedInUser.hasAccountAdmin()" [routerLink]="['/user/account']">{{ 'menu.account' | translate }}</a>
                  <a class="dropdown-item" [routerLink]="['/user/integrations']">{{ 'menu.integrations' | translate }}</a>
                  <a class="dropdown-item" *ngIf="loggedInUser.hasSystemAdmin()" [routerLink]="['/admin']">{{ 'menu.admin' | translate }}</a>
                  <a class="dropdown-item" *ngIf="loggedInUser.hasLiveWireAdmin()" [routerLink]="['/admin/livewire/list']">{{'menu.livewire' | translate}}</a>
                  <a class="dropdown-item" *ngIf="loggedInUser.hasSystemAdmin()" [routerLink]="['/admin/accounts']">Accounts admin</a>
                  <a class="dropdown-item" *ngIf="loggedInUser.hasSystemAdmin()" [routerLink]="['/admin/analytics']">System analytics</a>
                  <a class="dropdown-item" [routerLink]="['/user/delete']"> {{ 'menu.delete' | translate }}</a>
                  <a class="dropdown-item" href="/" (click)="logout();">{{ 'menu.logout' | translate }}</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- navbar for not logged in user -->
      <nav class="navbar navbar-expand-lg navbar-light" *ngIf="!(loggedInUser)">
          <a class="navbar-brand" [routerLink]="['/']">
            <img class="img-responsive" src="assets/graphics/grassroot-01@2x.png"/>
          </a>

        <button class="navbar-toggler" type="button" (click)="toggleMenuCollapse()" aria-controls="navbarsLoggedOut" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsLoggedOut" [class.show]="showMenu">
          <ul class="main-nav navbar-nav mr-auto">

            <li class="nav-item" [ngClass]="{active: router.isActive('/news')}">
              <a class="nav-link" (click)="navigateToMainLink('/news')"> {{ 'menu.landing.stories' | translate }} <span class="sr-only">(current)</span> </a>
            </li>

            <li class="nav-item" [ngClass]="{active: router.isActive('/about')}">
              <a class="nav-link" (click)="navigateToMainLink('/about')"> {{ 'menu.landing.about' | translate }} <span class="sr-only">(current)</span> </a>
            </li>

            <li class="nav-item" [ngClass]="{active: router.isActive('/contribute')}">
              <a class="nav-link" (click)="navigateToMainLink('/contribute')"> {{ 'menu.landing.contribute' | translate }} <span class="sr-only">(current)</span> </a>
            </li>

          </ul>

          <div class="my-2 my-lg-0">

            <ul class="nav-item" class="navbar-nav mr-auto">

              <li class="nav-item">
                <a class="btn btn-secondary nav-login" (click)="navigateToMainLink('/login')"> {{ 'menu.landing.login' | translate }} </a>
              </li>

              <li class="nav-item">
                <a class="btn btn-primary nav-register" style="color: white" (click)="navigateToMainLink('/register')"> {{ 'menu.landing.register' | translate }} </a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

    </div>

    <div id="snackbar" [ngClass]="{'alert alert-info alert-dismissible grassroot-snackbar': true}" *ngIf="(alertMessage)">
      {{ alertMessage | translate }}
      <a href="#" class="close" data-dismiss="alert" aria-label="close"
         (click)="clearAlert()"><i class="fas fa-times" aria-hidden="true"></i></a>
    </div>

  </div>

  <div class="container-fluid main-content">

    <div class="container ntf-popup mt-3" *ngIf="popupNotification"
         (mouseenter)="popupNotificationMouseEnter()" (mouseleave)="popupNotificationMouseExit()">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="popup-holder">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="ntf-popup-body">
                <span class="notification-item-title">{{popupNotification.message}}</span>
                <a href="#" (click)="markNotificationRead(popupNotification.uid)" class="badge badge-info notification-read-badge">Mark read</a>
                <span class="notification-item-time float-right">{{popupNotification.createdDatetime.fromNow()}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    <router-outlet></router-outlet>
  </div>


  <footer class="footer container-fluid">

    <div class="footer-wrapper container-fluid ">
      <div class="container footer-content">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <img class="footer-logo" src="assets/grassroot-02.png"/> <br/>
            <!--<span class="footer-subtitle">Tools for a people's democracy</span>-->
            <a href="#" [routerLink]="['/about']">{{ 'footer.aboutUs' | translate }}</a>
            <a href="#" [routerLink]="['/news']">{{ 'footer.news' | translate }}</a>
            <a href="#" [routerLink]="['/contribute']">{{ 'footer.contribute' | translate }}</a>
          </div>

          <div class="col-md-6 col-sm-12">
            <!-- <div class="float-md-right text-right text-md-right text-sm-left"> -->
            <div class="info-holder float-md-right">
            <span class="info" [innerHTML]="'footer.info' | translate ">
            </span>
              <div class="social-icons">
                <a href="https://twitter.com/grassrootza" target="_blank"><img src="assets/icon-twitter.png"/></a>
                <a href="https://facebook.com/grassrootnation" target="_blank"><img src="assets/icon-facebook.png"/></a>
                <!-- todo : fix color, finalize size -->
                <a href="https://instagram.com/grassrootza" target="_blank"><img src="assets/icon-instagram.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid footer-wrapper-2">

      <div class="container footer-content-2">
        <div class="row">

          <div class="col-md-6 col-sm-12 copyright">
            {{ 'footer.copyright' | translate }}
          </div>

          <div class="col-md-6 col-sm-12">
            <div class="float-md-right">
              <a href="#" [routerLink]="['/privacy']">{{ 'footer.privacyPolicy' | translate }}</a> | &nbsp;
              <a href="#" [routerLink]="['/terms']">{{ 'footer.termsOfUse' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>

</div>
