.main-content {
  padding-top: 90px;
}

.navbar {
  padding-bottom: 0 !important;
}

.navbar-brand {
  margin-bottom: 0.5rem;
}


@media (min-width: 768px) {
  .navbar-brand {
    margin-right: 3rem;
  }
}

.navbar-light .navbar-nav.main-nav .nav-link {
  margin-left: 2rem !important;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: solid #ffffff 2px !important;
}

.navbar-light .navbar-nav .active > .nav-link {

  color: #2CBC4C !important;
  border-bottom: solid #2CBC4C 2px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0.3rem;
}

.footer .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer-wrapper {
  background-color: #1F1F1F;
}

.footer-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}

.footer-content .info {
  opacity: 0.8;
}

footer .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-content-2 .copyright, .footer-content a, .footer-content-2 a {
  color: #FFFFFF;
  opacity: 0.7;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;

}

.footer-content a {
  margin-right: 1rem;
}

.footer-content-2 a {
  margin-right: 0rem;
}

.footer-content-2 {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 300;
}

.footer-logo {
  margin-bottom: 1rem;
}

.footer-wrapper-2 {
  background-color: #292929;
}

.social-icons {
  padding-top: 0.5rem;
}

.social-icons img {
  margin: 0.5rem;
}

.profile-image {
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.dropdown.help {
  margin-right: 1rem;
}

.help .dropdown-toggle::after, .notifications .dropdown-toggle::after {
  display: none
}

.nav-login {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-register {
  padding-left: 20px;
  padding-right: 20px;
}

.btn-nav {
  padding-left: 2rem;
  padding-right: 2rem;
}

.grassroot-snackbar {
  background: #2CBC4C;
  text-align: center;
  /*font-size: 1.1em;*/
  color: white;
}

.grassroot-snackbar .close:hover {
  color: white;
  font-weight: bolder;
}

.notifications .dropdown-item {
  white-space: normal;
  width: 15rem;
  border-top: solid 1px #cccccc;
}

.notification-item-title {
  font-size: 0.8rem;
}

.notification-item-time {
  font-size: 0.8rem;
  color: #7a7a7a;
}

.scrollable-menu {
  height: auto;
  max-height: 20rem;
  overflow-x: hidden;
}

.ntf-popup {
  width: 80%;
  position: absolute;
  z-index: 1000;
  top: 100px;
}

@media (min-width: 992px) {
  .ntf-popup {
    width: 30rem;
  }
}
