<div class="container-fluid">

  <div class="container-fluid bg-white">

    <div class="container">

      <!-- navbar for logged in user -->
      <nav class="navbar navbar-expand-lg navbar-light " *ngIf="loggedInUser">

        <a class="navbar-brand" [routerLink]="['/']"> <!-- will alter to home page when that is built -->
          <img src="assets/grassroot-01.png"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="main-nav navbar-nav mr-auto">

            <li class="nav-item" [ngClass]="{active: currentUrl.startsWith('/home')}">
              <a class="nav-link" [routerLink]="['/home']"> {{ 'menu.home' | translate }} <span class="sr-only">(current)</span> </a>
            </li>

            <li class="nav-item"
                [ngClass]="{active: currentUrl === '/groups' || currentUrl.startsWith('/group/') || currentUrl.startsWith('/broadcast/create/')}">
              <a class="nav-link" [routerLink]="['/groups']"> {{ 'menu.groups' | translate }} <span class="sr-only">(current)</span> </a>
            </li>

            <li class="nav-item" [ngClass]="{active: currentUrl === '/campaigns' || currentUrl.startsWith('/campaigns/')}">
              <a class="nav-link" [routerLink]="['/campaigns']"> {{ 'menu.campaigns' | translate }} <span
                class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item" [ngClass]="{active: currentUrl == '/networks'}">
              <a class="nav-link disabled" [routerLink]="['/networks']"> {{ 'menu.networks' | translate }} <span class="sr-only">(current)</span></a>
            </li>

          </ul>

          <div class=" my-2 my-lg-0">

            <ul class="nav-item" class="navbar-nav mr-auto">

              <li class="nav-item dropdown notifications">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <img src="assets/icon-bell.png"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">{{ 'menu.noNotifications' | translate }}</a>
                </div>
              </li>

              <li class="nav-item dropdown help">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <img src="assets/icon-help.png"/> {{ 'menu.help' | translate }}
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">{{ 'menu.showHelp' | translate }}</a>
                </div>
              </li>

              <li class="nav-item">
                <!-- todo: restore fetching image, if it exists, and allow its upload in profile -->
                <!--<img height="50" class="image rounded-circle profile-image"-->
                       <!--src="{{loggedInUserImageUrl}}/{{loggedInUser.uid}}"/>-->
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i>
                  {{loggedInUser.displayName}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" [routerLink]="['/user']">{{ 'menu.profile' | translate }}</a>
                  <a class="dropdown-item" [routerLink]="['/user/password']">{{ 'menu.password' | translate }}</a>
                  <a class="dropdown-item" [routerLink]="['/user/account']">{{ 'menu.account' | translate }}</a>
                  <a class="dropdown-item" [routerLink]="['/user/integrations']">{{ 'menu.integrations' | translate }}</a>
                  <a class="dropdown-item" href="/" (click)="logout();">{{ 'menu.logout' | translate }}</a>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </nav>

      <!-- navbar for not logged in user -->
      <nav class="navbar navbar-expand-lg navbar-light" *ngIf="!(loggedInUser)">
        <a class="navbar-brand" [routerLink]="['/']"> <!-- will alter to home page when that is built -->
          <img src="assets/grassroot-01.png"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsLoggedOut" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsLoggedOut">
          <ul class="main-nav navbar-nav mr-auto">

            <li class="nav-item" [ngClass]="{active: currentUrl.startsWith('/news')}">
              <a class="nav-link" [routerLink]="['/news']"> {{ 'menu.landing.news' | translate }} <span class="sr-only">(current)</span> </a>
            </li>

            <li class="nav-item" [ngClass]="{active: currentUrl.startsWith('/about')}">
              <a class="nav-link" [routerLink]="['/news']"> {{ 'menu.landing.about' | translate }} <span class="sr-only">(current)</span> </a>
            </li>

            <li class="nav-item" [ngClass]="{active: currentUrl.startsWith('/contribute')}">
              <a class="nav-link" [routerLink]="['/news']"> {{ 'menu.landing.contribute' | translate }} <span class="sr-only">(current)</span> </a>
            </li>
          </ul>

          <div class=" my-2 my-lg-0">

            <ul class="nav-item" class="navbar-nav mr-auto">

              <li class="nav-item">
                <a class="btn btn-secondary nav-login" [routerLink]="['/login']"> {{ 'menu.landing.login' | translate }} </a>
              </li>

              <li class="nav-item">
                <a class="btn btn-primary btn-nav" [routerLink]="['/register']"> {{ 'menu.landing.register' | translate }} </a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div id="snackbar" [ngClass]="{'alert alert-info alert-dismissible grassroot-snackbar': true}" *ngIf="(alertMessage)">
    {{ alertMessage | translate }}
    <a href="#" class="close" data-dismiss="alert" aria-label="close"
       (click)="clearAlert()"><i class="fas fa-times" aria-hidden="true"></i></a>
  </div>

  <div class="container main-content">
    <router-outlet></router-outlet>
  </div>


  <footer class="footer container-fluid">

    <div class="footer-wrapper container-fluid ">
      <div class="container footer-content">
        <div class="row">
          <div class="col-6">
            <img class="footer-logo" src="assets/grassroot-02.png"/> <br/>
            <a href="#">{{ 'footer.aboutUs' | translate }}</a>
            <a href="#">{{ 'footer.news' | translate }}</a>
            <a href="#">{{ 'footer.contribute' | translate }}</a>
            <a href="#">{{ 'footer.contactUs' | translate }}</a>
          </div>

          <div class="col-6">
            <div class="float-right text-right">
            <span class="info" [innerHTML]="'footer.info' | translate ">
            </span>
              <div class="social-icons">
                <a href="https://twitter.com/grassrootza" target="_blank"><img src="assets/icon-twitter.png"/></a>
                <a href="https://facebook.com/grassrootnation" target="_blank"><img src="assets/icon-facebook.png"/></a>
                <!-- todo : get insta icon, and add a WhatsApp icon -->
                <a href="https://instagram.com/grassrootza"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid footer-wrapper-2">

      <div class="container footer-content-2">
        <div class="row">

          <div class="col-6 copyright">
            {{ 'footer.copyright' | translate }}
          </div>

          <div class="col-6">
            <div class="float-right text-right">
              <a href="https://www.grassroot.org.za/privacy">{{ 'footer.privacyPolicy' | translate }}</a> | &nbsp;
              <a href="#">{{ 'footer.termsOfUse' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>

</div>
