<div class="card-body">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <h2>{{ 'user.account.title' | translate }}</h2>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!account">
    You do not have a Grassroot Extra account. To get started setting one up, please send an email to
    <a href="mailto:accounts@grassroot.org.za?subject=Grassroot%20Extra%20Account" class="grassroot-link">accounts@grassroot.org.za</a>.
    Soon, the sign-up process will be automated with a simple form.
  </div>
  <div class="row" *ngIf="account">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 justify-content-center">
      <form [formGroup]="accountForm" (ngSubmit)="saveChanges()">
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label class="form-label" for="name">{{ 'user.account.name' | translate }}</label>
            <input id="name" formControlName="name" type="text" class="form-control"/>
          </div>

          <div class="alert alert-danger"
               *ngIf="accountForm.controls['name'].hasError('required')">
            This field is required</div>

        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label class="form-label" for="billingUserEmail">{{ 'user.account.billingEmail' | translate }}</label>
            <input id="billingUserEmail" type="text" class="form-control" formControlName="billingUserEmail"/>

            <div *ngIf="accountForm.controls['billingUserEmail'].hasError('required')" class="alert alert-danger">
              This field is required</div>

            <div *ngIf="accountForm.controls['billingUserEmail'].hasError('pattern')" class="alert alert-danger">
              Email must contain @ character</div>

            <div *ngIf="accountForm.controls['billingUserEmail'].hasError('email')" class="alert alert-danger">
              Valid email Required</div>

          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <p class="form-label">
              {{ 'user.account.billingEmailNote' | translate }}
            </p>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12">
            <label class="form-label" for="subscriptionOption">{{ 'user.account.subscriptionOption' | translate }}</label>
            <select id="subscriptionOption" formControlName="type" class="form-control">
              <option *ngFor="let t of typesKeys" [value]="t">{{ types[t] | titlecase }} (R{{accountFees[t] / 100}} / month)</option>
            </select>
          </div>
        </div>

        <div class="card mb-3 w-100">
          <div class="card-body">
            <p class="bill-summary">
              <span class="field-name">Next charge: </span>
              {{account.nextBillingDateMilli | date: 'd LLLL, yyyy'}}
            </p>
            <p class="bill-summary">
              <span class="field-name">Message cost since last bill: </span>
              {{costSinceLastBill | currency: 'ZAR':'symbol-narrow'}}
            </p>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-3">
            <label class="form-label" for="pastInvoices">{{ 'user.account.pastInvoices' | translate }}</label>
          </div>
          <div class="form-group col-sm-6">
            <select id="pastInvoices" class="form-control">
              <option *ngFor="let abr of accountBillingRecords" [value]="abr.paymentId">{{abr.createdDateTime | date: 'LLLL, yyyy'}}</option>
            </select>
          </div>
          <div class="form-group col-sm-3">
            <div id="downloadPastInvoicesButton">
              <button type="button" class="btn btn-outline-secondary hover-primary" (click)="downloadSelectedInvoice()">
                <i class="fas fa-download"></i> {{ 'action.download' | translate }}</button>
            </div>
          </div>
        </div>

        <div class="form-row mt-md-3">
          <div class="form-group col-sm-6">
            <button type="button" class="btn btn-secondary hover-danger close-button" (click)="showCloseModal()">{{ 'action.closeAccount' | translate}}</button>
          </div>
          <div class="form-group col-sm-6">
            <button type="submit" class="btn btn-primary save-button float-right" [disabled]="accountForm.invalid">{{ 'action.save' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="close-account-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ 'user.account.modal.header' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>{{ 'user.account.modal.body' | translate }}</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary"  (click)="confirmCloseAccount()">{{ 'action.closeAccount' | translate }}</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'action.cancel' | translate }}</button>

        </div>
    </div>
  </div>
</div>
