.card-body {
  background: white;
}

.join-button {
  padding: 15px 80px;
  font-weight: bold;
}

.modal-body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.join-header {
  font-weight: 600;
  display: block !important;
}

.join-description {
  font-size: 1.1em;
  margin-bottom: 20px;
}
