.card-body {
  background: white;
}

.join-button {
  padding: 15px 80px;
  font-weight: bold;
}

.register-button {
  vertical-align: center;
  padding: 10px 20px;
}

.skip-button {
  padding: 15px 30px;
  background-color: white;
  border: none;
  color: #2CBC4C;
}

.skip-button:hover {
  cursor: pointer;
}

.modal-body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.group-name-title {
  color: #4A4A4A;
  font-family: Nunito;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  padding-top: 30px;
}

.privacy-statement {
  font-family: Nunito;
  font-size: 18px;
  line-height: 24px;
  margin-top: 24px;
}

.group-image {
  border: none;
}

.group-description-title {
  color: #4A4A4A;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  display: block;
}

.group-description-body {
  font-family: Nunito;
  font-size: 18px;
  line-height: 24px;
}

.join-header {
  color: #4A4A4A;
  font-family: Nunito;
  font-size: 30px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
  padding-top: 30px;
}

.footnote-text {
  color: #4A4A4A;
  font-family: Nunito;
  font-size: 13px;
  font-style: italic;
  line-height: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.topics-block {
  border-radius: 3.5px;
  border: 1px solid #EBEDF0;
}

.topic-container {
  display: block;
  position: relative;
  padding: 15px 45px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: Nunito;
  font-size: 18px;
  color: #79859C;
  line-height: 22px;
  width: 100%;
  border: 1px dashed rgba(146,155,175,0.25);
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topic-selected {
  background-color: #ECEEF1;
}

/* Hide the browser's default checkbox */
.topic-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 25px;
  width: 25px;
  border: 3px solid #7A7D8C;
  opacity: 0.6;
}

/* On mouse-over, add a grey background color */
.topic-container:hover input ~ .checkmark {
  background-color: #F5F6FA;
}

/* When the checkbox is checked, add a blue background */
.topic-container input:checked ~ .checkmark {
  background-color: #1ABC9C;
  border: 1px solid rgba(146,155,175,0.25);
  border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.topic-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.topic-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.register-grassroot {
  background-color: rgba(44,188,76,0.1);
}

@media (max-width: 767px) {
  .hide-on-small {
    display: none;
  }

  .register-button {
    margin-top: 15px;
  }
}
