<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 bg-white padding-vertical">
    <div class="row" *ngIf="!(joinInfo.groupImageUrl)">
      <div class="col-12 pl-md-5 pr-md-5">
          <h2 class="join-header text-center">{{ 'join.title' | translate:joinInfo }}</h2>
          <h3 *ngIf="(joinInfo?.groupDescription)">{{ 'join.description' | translate:joinInfo }}</h3>
      </div>
    </div>
    <!-- would have used bootstrap media here but it is behaving strangely (huge image), because, css -->
    <div class="row" *ngIf="(joinInfo.groupImageUrl)">
      <div class="col-md-4 pl-md-5 col-sm-12">
          <img class="img-thumbnail" alt="{{ joinInfo.groupName + ' profile image' }}" src="{{ joinInfo.groupImageUrl }}">
      </div>
      <div class="col-md-8 pr-md-5 col-sm-12">
          <h2 class="join-header">{{ 'join.title' | translate:joinInfo }}</h2>
          <h4 *ngIf="(joinInfo?.groupDescription)">{{ 'join.description' | translate:joinInfo }}</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="col-12">
        <form [formGroup]="joinForm" (ngSubmit)="submitJoin()">
          <div class="form-group">
            <p>
              {{ 'join.intro' | translate:joinInfo }}
              (<a href="https://www.grassroot.org.za/privacy" target="_blank">{{ 'join.privacy' | translate }}</a>).
            </p>
          </div>
          <div class="form-group">
            <label for="name">{{ 'join.name' | translate }}</label>
            <input type="text" class="form-control" formControlName="name" name="name" id="name" #username>
          </div>
          <div class="form-group">
            <label for="phone">{{ 'join.phone' | translate }}</label>
            <input type="text" class="form-control" formControlName="phone" name="phone" id="phone" #username>
          </div>
          <div class="form-group">
            <label for="email">{{ 'join.email' | translate }}</label>
            <input type="text" class="form-control" formControlName="email" name="email" id="email" #username>
          </div>
          <div class="form-group">
            <label for="province">{{ 'join.province' | translate }}</label>
            <select id="province" formControlName="province" class="form-control">
              <option value="">Select</option>
              <option *ngFor="let p of provinceKeys" [value]="p">{{ province[p] }}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="(joinInfo.groupTopics)">
            <label for="topics">{{ 'join.topics' | translate }}</label>
            <select class="form-control" id="topics" name="topics" multiple>
              <option *ngFor="let topic of joinInfo.groupTopics">
                {{topic}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <p class="form-label">{{ 'join.footnote' | translate }}</p>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary join-button"> {{ 'join.submit' | translate }} </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<!-- todo : maybe just redirect them to register page with pre-filled values -->
<div class="modal fade" tabindex="-1" role="dialog" id="signup-user-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form (submit)="signUpUser(password.value)">
        <div class="modal-header">
          <h5 class="modal-title">{{ 'join.completed.signUpModal.title' | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <p>{{ 'join.completed.signUpModal.intro' | translate:joinInfo }}</p>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" #password>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"
                  (click)="signUpUser(password.value)">{{ 'join.completed.signUpModal.signup' | translate }}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ 'join.completed.signUpModal.close' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
