<div class="container primary-container">
  <div class="card">
		<div class="card-body">
		  <div class="row">
		  	<div class="col-6">
		  		<h1 class="main-title">Manage User</h1>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="col-6">
		  		<input type="text" id="phoneNumber" class="form-control" placeholder="Enter a phone number or email address" name="searchTerm" #searchTerm/>
		  	</div>
		  	<div class="col-2">
		  		<button class="btn btn-primary"
		                (click)="loadUsers(searchTerm.value)">Search
		        </button>
		  	</div>
		  </div>
		  <div class="alert alert-danger my-lg-3" role="alert" *ngIf="userNotFoundMessage">{{ userNotFoundMessage }}
		  </div>
		  <hr />

		  <div class="row">
		  	<div class="col-6">
		  		<h1 class="main-title">Find Group(s)</h1>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="col-6">
		  		<input type="text" id="groupName" placeholder="Enter group name" class="form-control" name="groupName" #groupName/>
		  	</div>
		  	<div class="col-2">
		  		<button class="btn btn-primary" (click)="searchGroups(groupName.value)">Search
		        </button>
		  	</div>
		  </div>
		  <div class="alert alert-danger my-lg-3" role="alert" *ngIf="groupsNotFoundMessage">{{ groupsNotFoundMessage }}
      </div>

      <div *ngIf="groups.length > 0" class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h1 class="main-title">Found Group(s)</h1>
            </div>
          </div>
          <div class="row groups-header">
            <div class="col-2">Group Name</div>
            <div class="col-2">
              Creating user
            </div>
            <div class="col-2">
              Number of members
            </div>
            <div class="col-2">
    
            </div>
            <div class="col-2">
    
            </div>
          </div>
    
          <div *ngFor="let group of groups | slice:0:numberOfGroups;" class="row group-list">
            <div class="col-2">{{group.name}}</div>
            <div class="col-2">{{group.creatingUserName}}</div>
            <div class="col-2">{{group.memberCount}}</div>
            <div class="col-2">
              <a class="btn btn-secondary" (click)="triggerActivateOrDeactivateModal(group.active,group.groupUid)">{{group.active? "Deactivate" : "Activate"}}</a>
            </div>
            <div class="col-2">
              <a class="btn btn-secondary" (click)="triggerAddMemberModal(group.groupUid)">Add member</a>
            </div>
          </div>
          <hr/>
          <div class="row" style="float: right;">
            <ul class="pagination justify-content-end">
              <a class="page-indicator" style="font-weight: bold;" (click)="showLess()"><i class="fa fa-chevron-left"></i> Show less</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="page-indicator " style="font-weight: bold;" (click)="showMore()">Show more <i class="fa fa-chevron-right"></i></a>
            </ul>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <button type="button" class="btn btn-primary" (click)="recycleJoinCodes()">Recycle join codes</button>
        </div>
      </div>
      
      <div class="row" style="margin-top: 2%">
        <div class="col-6">
          <h1>LiveWire Accounts</h1>
        </div>
        <div class="col-2">
          <button class="btn btn-primary" (click)="triggerCreateSubscriberModal()">New Subscriber</button>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="row" *ngFor="let subscriber of livewireSubscribers">
            <div class="col-6">
              <div class="row">
                <a class="list-header grassroot-link" [routerLink]="['/admin/livewire/subscriber',subscriber.uid]">
                  <span>{{subscriber.displayName}}</span>
                </a>
              </div>
              <div class="row">
                Est. {{subscriber.creationTime | date: 'dd MMM yyyy'}}
              </div>
            </div>
            <div class="col-2">
              {{subscriber.active ? 'Active' : 'Disabled'}}
            </div>
            <div class="col-2">
              <a href="" (click)="fetchLiveWireApiToken(subscriber.uid)" class="grassroot-link">Fetch token</a>
            </div>
            
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <h1>API keys</h1>
          <p>Generate a new API key for serverless system calls to the backend: <a href="#" (click)="fetchApiToken()" class="grassroot-link">fetch</a></p>
          <p *ngIf="accessToken"><code style="word-break: break-all">{{ accessToken }}</code></p>
        </div>
      </div>
      <hr />

      <!-- Added an export spreadsheet for whatsapp subscribers -->
      <div class="row mt-3">
        <div class="col-12">
          <h1>Whats App subscription statistics</h1>
          <p>Export a list of whatsapp subscribers <a href="#" (click)="exportWhatsAppOptIn()" class="grassroot-link">here</a> </p>
        </div>
      </div>
      <hr />
      
      <!-- Section for user with coordinates statistics -->
      <div class="row mt-3">
        <div class="col-12">
            <h1>User location statistics</h1>
            <div class="row">
              <div class="col-4">
                <p>Users with location within a year : {{usersCountWithinTimeStamp | number}}</p>
              </div>

              <div class="col-4">
                <p>Users with location over a year : {{allUsersWithCoordinates | number}} </p>
              </div>

              <div class="col-2" class="col-md-4">
                  <button class="btn btn-primary" (click)="triggerBatchMunicipalityFetch()">Trigger batch of municipality fetches</button>
              </div>

              <!-- <div class="row"> -->
                <div class="col-12">
                  <p>Click <a href="#" class="grassroot-link" (click)="saveLocationsFromAddress()">here</a> to save location logs from address</p>
                </div>
              <!-- </div> -->
          </div>
        </div>
      </div>
      
      <hr />

      <div class="row mt-3">
        <div class="col-12">
          <h1>Config variables</h1>
          <p>Create a new config variable: <button class="btn btn-link grassroot-link" (click)="openCreateConfigVarModal()">create</button></p>
          <hr>
          <div *ngIf="configVariableList.length > 0" class="row groups-header" style="margin-bottom: 2%">
            <div class="col-4">Key</div>
            <div class="col-2">Value</div>
            <div class="col-4">Description</div>
            <div class="col-1"></div>
            <div class="col-1"></div>
          </div>

          <div *ngFor="let configVar of configVariableList" class="row group-list" style="margin-bottom: 1%">
            <div class="col-4">{{configVar.key}}</div>
            <div class="col-2">{{configVar.value}}</div>
            <div class="col-4">{{configVar.description}}</div>
            <div class="col-1"><button class="btn btn-primary btn-sm" (click)="openUpdateConfigVarModal(configVar.key)">update</button></div>
            <div class="col-1"><button class="btn btn-danger btn-sm" (click)="openRemoveConfigVariableConfirmModal(configVar.key)">remove</button></div>
          </div>

          <hr>
          
        </div>
      </div>

		</div>
	</div>

  <div class="modal fade" tabindex="-1" role="dialog"
       id="user-opt-out-modal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">User</h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <h5>User is part of {{userGroups}} group(s).</h5>
          <h5>{{'user.opt-out.otp-note' | translate}}</h5>
          <div class="form-group">
            <input class="form-control" type="text" id="headline-text"
                   name="otp" #otp>
          </div>
        </div>

        <div class="alert alert-danger my-lg-3" role="alert" *ngIf="invalidOtpMessage">{{ invalidOtpMessage }}</div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" (click)="resetUserPwd(otp.value)">Reset user's password</button>
          <button class="btn btn-danger" (click)="optOutUser(otp.value)">Opt-out</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog"
       id="deactivate-group-modal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm deactivate?</h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <p>
              Are you sure you want to deactivate the group? After doing so, no users will be able to access it.
            </p>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" (click)="confirmDeactivate()">Confirm</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog"
       id="activate-group-modal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm activation?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <p>Are you sure you want to reactivate the group?</p>
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" (click)="confirmActivate()">Confirm</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="add-member-modal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add member to group</h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="new-member-name" class="control-label">Name</label>
            <input type="text" class="form-control" id="new-member-name" name="displayName" #displayName/>
          </div>
          <div class="form-group">
            <label for="new-member-phone" class="control-label">Phone number</label>
            <input type="text" class="form-control" id="new-member-phone" name="phoneNumber" #phoneNumber/>
          </div>
          <div class="form-group">
            <label for="new-member-role" class="control-label">Role</label>
            <select class="form-control" id="new-member-role" name="roleName"
                    (change)="onChangeSelectRole($event.target.value)">
              <option value="ROLE_ORDINARY_MEMBER">Ordinary member</option>
              <option value="ROLE_COMMITTEE_MEMBER">Committee member</option>
              <option value="ROLE_GROUP_ORGANIZER">Group organizer</option>
            </select>
          </div>
          <div class="form-group">
            <label for="new-member-email" class="control-label">Email address</label>
            <input type="email" class="form-control" id="new-member-email" name="email" #email/>
          </div>
          <div>
            <label for="new-member-province" class="control-label">Province</label>
            <select class="form-control" id="new-member-province" name="roleName"
                    (change)="onChangeSelectProvince($event.target.value)">
                <option value="null">Select</option>
                <option *ngFor="let p of provinceKeys" [value]="p" [translate]="'enum.UserProvince.' + p">User
                  province
                </option>
            </select>
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" (click)="addMember(displayName.value,phoneNumber.value,email.value)">Add</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="create-subscriber-modal" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a LiveWire subscriber</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" id="new-subscriber-name" placeholder="Subscriber Name" name="subscriberName" #subscriberName/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="primary-email" placeholder="Primary Email" name="primaryEmail" #primaryEmail/>
        </div>
        <div class="form-group">
          <label>
            <input type="checkbox" [checked]="( addPrimaryEmail === true )" (change)="addPrimaryEmail = $event.target.checked;" />
            Add primary email to list of addresses for push alerts
          </label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="other-emails" placeholder="Other emails for push subscriber" name="otherEmails" #otherEmails/>
        </div>
        <div class="form-group">
          <label>
            <input type="checkbox" [checked]="( makeAccountActive === true )" (change)="makeAccountActive = $event.target.checked;" />
            Make account active
          </label>
        </div>

        <div class="alert alert-danger" *ngIf="errorCreatingSubscriberMessage">
          {{errorCreatingSubscriberMessage}}
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" (click)="createSubscriber(subscriberName.value,primaryEmail.value,otherEmails.value)">Create Subscriber</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="create-config-variable-modal" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a config variable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <h5>Create config variable (note: if this variable is not already expected in the code, it will have to be added in the appropriate place)</h5>
        <div class="form-group">
          <input class="form-control" type="text" id="config-var-key-text" name="create-var-key" #configKey placeholder="Please enter key">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" id="config-var-value-text" name="create-var-value" #configValue placeholder="Please enter value">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" id="config-var-value-text" name="create-var-desc" #desc placeholder="Please enter description">     
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" (click)="createConfigVariable(configKey.value, configValue.value, desc.value)">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog"
      id="update-config-variable-modal" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update config variable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <h5>Update the value or description of config variable with key {{ configVarToUpdate?.key }}. 
          Note: use with care! This will ramify throughout user experience</h5>
        
        <div class="form-group">
          <input class="form-control" #newValue [formControl]="newValueFormControl" type="text" id="config-var-key-text" name="var-value" 
            value="{{ configVarToUpdate?.value }}">
        </div>
        <div class="form-group">
          <input class="form-control" #newDescription type="text" id="config-var-value-text" name="var-description" 
            value="{{ configVarToUpdate?.description }}">    
        </div>

        <div *ngIf="configVarToUpdate?.key == groupSizeLimitKey">
          <p>Number of groups below free limit is: {{numberBelow}}</p>
          <p>Number of groups above free limit is: {{numberAbove}}</p>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" (click)="updateConfigVariable(newValue.value, newDescription.value)">Update</button>
      </div>

    </div>
  </div>
</div>

  <div class="modal fade" tabindex="-1" role="dialog"
       id="delete-config-variable-modal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm remove?</h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <p>Are you sure you want to remove this config variable?</p>
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" (click)="deleteConfigVariable()">Confirm</button>
        </div>

      </div>
    </div>
  </div>


