
.page-indicator {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
}

.page-indicator:hover {
  cursor: pointer;
}

.more-pages-indicator {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  font-size: 15px;
}

.page-selected {
  background-color: #929BAF;
  border-radius: 50%;
  color: #ffffff !important;
}

.page-item {
  margin-right: 0.5rem;
}

.pagination {
  margin-top: 35px;
  font-size: 12px;
}
