<div class="row">
    <div class="col-6">
      {{ account.name }}
    </div>
    <div class="col-6 text-right">
      <button type="button" class="btn btn-secondary hover-primary" (click)="disableAccount()" *ngIf="account.enabled">Disable</button>
      <button type="button" class="btn btn-secondary hover-primary" (click)="enableAccount()" *ngIf="!account.enabled">Enable</button>
      <button type="button" class="btn btn-secondary hover-primary" (click)="toggleAccountDetails()">Details</button>
    </div>
    <div class="col-12 pb-3" *ngIf="viewDetails">
      <div class="col-12">
          Notifications since last bill: {{ account.notificationsSinceLastBill }} // 
          USSD sessions since last bill: {{ account.chargedUssdSinceLastBill }} // 
          Last billing date: {{ account.getLastBillingDate() }} <a href="#" (click)="changeAccountDate()" class="grassroot-link">(change date)</a> //
          Number of groups: {{ numberGroups }} //
          Account admins: {{ accountAdmins }} // 
          Datasets: {{ account.geoDataSets ? account.geoDataSets.join(', ') : 'None' }} <a href="#" (click)="changeDataSets()" class="grassroot-link">(change datasets)</a> //
          Monthly subscription: {{ (account.monthlyFlatFee / 100) | currency: 'ZAR':'symbol-narrow' }} //
          Cost per msg: {{ account.costPerMessage }}c // Cost per USSD: {{ account.costPerUssdSession }}c <a href="#" class="grassroot-link" (click)="changeUnitCosts()">(change account costs)</a>
      </div>
    </div>
  </div>
  <hr class="mb-3" />