<div class="modal fade" tabindex="-1" role="dialog" id="{{ modalId }}" aria-hidden="true" *ngIf="group">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'group.allMembers.assignTopic.modalTitle' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="memberUids">
        <div class="container group-info-row mt-3">
          <span [translate]="'group.allMembers.assignTopic.assignTopicLabel'"
            [translateParams]="{count: memberUids.length}">Assign topics to X members:</span>
          <select class="form-control form-control-em" id="{{ selectId }}" multiple="multiple" style="width: 100%">
            <option *ngFor="let topic of group.topics" [value]="topic">
              {{topic}}
            </option>
          </select>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveAssignTopicToMember()" [disabled]="modalSelectedTopics.length == 0">
          {{ 'action.save' | translate }}
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'action.cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
