<div class="col-12" *ngIf="campaign">
  <div class="row mb-md-3">
    <div class="col-md-5 col-sm-12 text-left" >
      <h3>{{ 'campaign.messages.title' | translate }}</h3>
      <button class="btn btn-link grassroot-link" data-toggle="modal" data-target="#select-language-modal">
        {{ 'campaign.messages.languages.link' | translate }}</button>
    </div>
    <div class="col-md-3 col-sm-12">
      <h3>{{ 'enum.CampaignType.' + campaign.campaignType | translate }}</h3>
    </div>
    <div class="col-md-4 col-sm-12">
      <button (click)="setMessages()" class="btn btn-primary save-button float-right">{{ 'action.save' | translate }}</button>
    </div>
  </div>

  <div class="row mt-md-3" *ngIf="campaign.outboundSmsEnabled">
    <div class="col-12">
      <h3>Include a welcome SMS (optional, delete content to disable)</h3>
      <p>A welcome message is an SMS that will be sent to anyone who dials the campaign code (the USSD), to include information you want them to keep even if they do not 
        sign the petition or join the group. If it is set, this will also be used to reply to inbound SMSs. It can be slightly longer than the welcome screen below, which is only 
        shown to people who dial in by USSD. 
      </p>
      <textarea class="form-control" [formControl]="campaignWelcomeMsg" rows="2" (keyup)="updateWelcomeCharCount($event)"
      placeholder="A welcome message is an SMS that will be sent to anyone who dials the campaign code. It can be used to include links or other pieces of information, and the campaign code, even if someone does not join or sign the petition right away"></textarea>
      <p [ngClass]="{'character-count': true, 'char-count-exceeded': welcomeCharsLeft < 0}">{{ 'general.charsRemaining' | translate }}: {{ welcomeCharsLeft }}</p>
    </div>
  </div>

  <div *ngFor="let type of currentTypes; let i = index">
    <hr *ngIf="campaign.outboundSmsEnabled || i > 0" class="section-separator" />
    <campaign-message-tabset [blockIndex]="i+1" [languages]="selectedLanguages" [responseOptions]="messageSequences[this.campaign.campaignType][type]"
                             (messagesUpdated)="storeMessages($event, type)" [priorMessages]="priorMessages[type]?.messages"
                             [titleKey]="'campaign.messages.titles.' + type" [maxMessageLength]="i > 0 ? 130 : 110"
                             [placeHolderKey]="'campaign.messages.placeholders.' + type" [explanationKey]="'campaign.messages.explanations.' + type">
    </campaign-message-tabset>
  </div>

  <div class="row mt-md-3">
    <div class="col-sm-12">
      <button (click)="setMessages()" type="button" class="btn btn-primary save-button float-right">{{ 'action.save' | translate }}</button>
    </div>
  </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="select-language-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'campaign.messages.languages.modal-title' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" [formGroup]="languageForm">
        <div class="row col-12">
          <p>{{ 'campaign.messages.languages.modal-sub' | translate }}</p>
        </div>
        <div class="row">
          <div *ngFor="let language of availableLanguages" class="form-group col-sm-4">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="false"
                       name="{{ language.threeDigitCode }}" formControlName="{{ language.threeDigitCode }}">
                {{ language.fullName }}
              </label>
            </div>
          </div>
        </div>
        <div class="row col-12" *ngIf="defaultLanguage && selectedLanguages && selectedLanguages.length > 1">
          <label>Default language: </label>
          <select class="form-control" formControlName="defaultLanguage">
            <option *ngFor="let language of selectedLanguages" [value]="language.twoDigitCode">{{ language.fullName }}</option>
          </select>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary float-left cancel-button" data-dismiss="modal">{{ 'action.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary float-right save-button" (click)="updateLanguages()">{{
          'action.done' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
