<ng4-loading-spinner
  [loadingText]="'action.loading' | translate"
  [threshold]="500"
> </ng4-loading-spinner>
<div class="card-body">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="d-flex justify-content-center">
        <h2>{{ 'user.integrations.title' | translate }}</h2>
      </div>
    </div>
  </div>
  <div class="row top-buffer-lg">
    <div class="col-md-6 col-sm-12 col-12">
      <h3>
        <i class="fab fa-facebook-square fb-logo"></i>{{ 'user.integrations.facebook' | translate }}
      </h3>
    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <button type="button" class="btn btn-success float-right btn-responsive" (click)="connectFacebook()">
        <i class="fas fa-plus"></i> {{ 'user.integrations.fb-link' | translate }}
      </button>
    </div>
  </div>
  <hr>
  <div class="row bottom-buffer" *ngIf="(settingsList.facebook?.userConnectionValid)">
    <ng-container *ngFor="let page of settingsList.facebook?.managedPages">
        <div class="col-md-2 col-sm-4 col-4">
          <img class="img-fluid pull-left page-image" src="https://graph.facebook.com/v2.5/{{page.providerUserId}}/picture" />
        </div>
        <div class="col-md-4 col-sm-8 col-8">
          <p class="page-title">
            {{ page.displayName }}
          </p>
          <p>
            <a href="" class="remove-link" (click)="removeFb(page)">{{ 'user.integrations.remove' | translate }}</a>
          </p>
        </div>
    </ng-container>
  </div>
  <div class="row top-buffer">
    <div class="col-md-6 col-sm-12 col-12">
      <h3><i class="fab fa-twitter-square tw-logo"></i>{{ 'user.integrations.twitter' | translate }}</h3>
    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <button type="button" class="btn btn-success float-right btn-responsive" (click)="connectTwitter()">
        <i class="fas fa-plus"></i> {{ 'user.integrations.tw-link' | translate }}
      </button>
    </div>
  </div>
  <hr>
  <div class="row bottom-buffer" *ngIf="(settingsList.twitter?.userConnectionValid)">
    <ng-container *ngFor="let page of settingsList.twitter?.managedPages">
      <div class="col-md-2 col-sm-4 col-4">
        <img class="img-fluid pull-left page-image" src="{{ page.imageUrl }}" />
      </div>
      <div class="col-md-4 col-sm-8 col-8">
        <p class="page-title">{{ page.displayName }}</p>
        <p><a href="" class="remove-link" (click)="removeTwitter(page)">{{ 'user.integrations.remove' | translate }}</a>
      </div>
    </ng-container>
  </div>
  <div class="row top-buffer">
    <div class="col-md-6 col-sm-12 col-12">
      <h3><i class="fab fa-google g-logo"></i>{{ 'user.integrations.google' | translate }}</h3>
    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <button type="button" class="btn btn-success float-right btn-responsive" (click)="connectGoogle()">
        <i class="fas fa-plus"></i> {{ 'user.integrations.g-link' | translate }}
      </button>
    </div>
  </div>
</div>
