<div *ngIf="currentPage" class="card" style="margin-top: 32px;">
  <div class="card-body events-box">
    <div class="row">
      <div class="col-9">
        <h2 [translate]="'group.allMembers.title'">All members <span class="group-members-count">// {{currentPage.totalElements}}</span></h2>
      </div>
      <div class="col-3">
        <div class="float-right">
          <div class="dropdown" *ngIf="group?.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS')">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" [disabled]="bulkManageCheckNumberOfSelectedMembers() < 2"
                    aria-haspopup="true" aria-expanded="false" [translate]="'group.allMembers.bulkManage.bulkManage'">

            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.meeting'">Call a meeting</a>
              <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.broadcast'">Send broadcast</a>
              <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.topics'" (click)="showBulkAssignTopicsModal()">Assign topic</a>
              <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.taskTeam'" (click)="showBulkAddToTaskTeamModal()">Add to task team</a>
              <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.copyToGroup'" (click)="showBulkCopyToGroupModal()">Copy to group</a>
              <a class="dropdown-item disabled" [translate]="'group.allMembers.bulkManage.role'">Change role</a>
              <a class="dropdown-item disabled" [translate]="'group.allMembers.manage.remove'" (click)="showBulkRemoveModal()">Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-member-list [currentPage]="currentPage" [group]="group"  (memberRemoved)="memberRemoved()"
                     (shouldReloadList)="goToPage(0, [])" (sortUserList)="goToPage(0, $event)"></app-member-list>

  </div>

  <app-pagination [totalPages]="currentPage.totalPages" [shownPages]="3"
                  (onPageSelected)="goToPage($event, this.filterMembersPage)"></app-pagination>

</div>

<!--modals-->
<div class="modal fade" tabindex="-1" role="dialog" id="bulk-remove-members-modal" aria-hidden="true" *ngIf="(group)">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'group.allMembers.bulkManage.bulkRemoveModal.title' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>{{ 'group.allMembers.bulkManage.bulkRemoveModal.question' | translate}}</h3>
        <h5>{{ 'group.allMembers.bulkManage.bulkRemoveModal.questionAdditionalInfo' | translate}}</h5>

        <div class="container group-info-header d-none d-md-block">
          <div class="row">
            <div class="col-3" [translate]="'group.allMembers.bulkManage.bulkRemoveModal.table.name'">Name</div>
            <div class="col-3" [translate]="'group.allMembers.bulkManage.bulkRemoveModal.table.role'">Role</div>
            <div class="col-3" [translate]="'group.allMembers.bulkManage.bulkRemoveModal.table.phone'">Phone</div>
            <div class="col-3" [translate]="'group.allMembers.bulkManage.bulkRemoveModal.table.email'">email</div>
          </div>
        </div>
        <div *ngFor="let member of bulkManageMembers">
          <div class="container group-info-row">
            <div class="row flex flex-wrap">
              <div class="col-3">
                {{member.user.displayName}}
              </div>
              <div class="col-3" [translate]="'enum.GroupRole.' + member.roleName">
                Group role
              </div>
              <div class="col-3">
                {{member.user.phoneNumber}}
              </div>
              <div class="col-3">
                {{member.user.email}}
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="removeSelectedMembers()">
          {{ 'group.allMembers.bulkManage.bulkRemoveModal.yesButton' | translate }}
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'group.allMembers.bulkManage.bulkRemoveModal.noButton' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="bulk-manage-no-members-selected" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'group.allMembers.bulkManage.noMembersSelectedModal.title' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>{{ 'group.allMembers.bulkManage.noMembersSelectedModal.body' | translate}}</h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{ 'action.ok' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<app-add-to-task-team *ngIf="group?.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS')"
                      [group]="group" [members]="bulkManageMembers" [modalId]="'bulk-add-to-task-team'"
                      (membersAdded)="goToFirstPage()"></app-add-to-task-team>

<app-member-topics-manage #bulkMemberManageModal *ngIf="group?.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS')"
                          [group]="group" [members]="bulkManageMembers" [modalId]="'bulk-member-assign-topics'" [selectId]="'bulk-topics-multi-select'"
                          (topicsAssigned)="goToFirstPage()"></app-member-topics-manage>

<app-group-copy-members *ngIf="group?.hasPermission('GROUP_PERMISSION_UPDATE_GROUP_DETAILS')"
                        [groups]="groupsToCopyMembersTo"  [members]="bulkManageMembers" [modalId]="'bulk-copy-members-to-group'"
                        (membersAdded)="goToFirstPage()"></app-group-copy-members>

<div class="modal fade" tabindex="-1" role="dialog" id="no-topics-for-group" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'group.allMembers.assignTopic.noTopicsForGroup.title' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>{{ 'group.allMembers.assignTopic.noTopicsForGroup.body' | translate}}</h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{ 'action.ok' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
