@import "https://cdn.quilljs.com/1.2.2/quill.snow.css";

.headline{
	margin-bottom: 1%;
}
.status{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.contact{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.created-time{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.description{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.group{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.media{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.tags{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

.alert-image{
	width: 200px;
	height: 150px;
}

.alert-image:hover{
	opacity: 2;
	cursor: pointer;
}

.alert-modal-image{
	width: 100%;
	height: 100%;
}
.alert-modal-image-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.cancel-btn {
  border-radius: 100px;
}
