.section-title {
  font-size: 1.2em;
}

.section-badge {
  margin: 0 5px;
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.character-count {
  text-align: right;
  font-size: 0.9em;
  margin-top: 5px;
}

.actions-title {
  font-weight: bold;
}

.action-enum {
  margin-right: 5px;
  background-color: white;
  color: #4A4A4A;
  border: #2CBC4C 2px solid;
}

.warning-symbol-inactive {
  color: red;
}

.warning-symbol-active {
  color: yellow;
  font-weight: 700;
}

.char-count-exceeded {
  color: red;
}