<div class="row section-title">
  <div class="col-12">
    <p>
      <span class="badge badge-primary badge-pill section-badge">{{ blockIndex }}</span>{{ titleKey | translate }}
    </p>
  </div>
</div>
<div class="row" *ngIf="((languages))" [formGroup]="formGroup">
  <div class="col-md-7 col-sm-12">
    {{ 'campaign.messages.message' | translate }}
    <ngb-tabset class="content-tabset" (tabChange)="tabChange($event)">
      <ngb-tab *ngFor="let language of languages" [id]="blockIndex + language.threeDigitCode">
        <ng-template ngbTabTitle>
          {{ language.shortName }}
          <!-- likely a more elegant way to do this class conditional, but lost too much time on it, so leaving a little ugly -->
          <span [ngClass]="{'warning-symbol-active': currentTabId == blockIndex + language.threeDigitCode,
            'warning-symbol-inactive': currentTabId != blockIndex + language.threeDigitCode}"
                *ngIf="formGroup.get(language.threeDigitCode)?.errors?.required">*</span>
        </ng-template>
        <ng-template ngbTabContent>
          <textarea class="form-control boxsizingBorder" rows="3"
                    value = "{{ priorMessages?.get(language.threeDigitCode) }}"
                    placeholder="{{ placeHolderKey | translate }}"
                    formControlName="{{ language.threeDigitCode }}"
                    (keyup)="updateCharCount($event, language.threeDigitCode)"></textarea>
          <p class="character-count">{{ 'general.charsRemaining' | translate }}: {{ charsLeft[language.threeDigitCode] }}</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="col-md-4 offset-md-1 col-sm-12">
    <p class="form-label">
      {{ explanationKey | translate }}
    </p>
  </div>
</div>

<div class="row" *ngIf="(responseOptions)">
  <div class="col-md-7 col-sm-12">
    <p class="actions-title">{{ 'campaign.messages.actions.options' | translate }}</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let option of responseOptions; let i = index">
        <span class="badge badge-pill badge-secondary action-enum">{{i + 1}}.</span>
        {{ 'campaign.messages.actions.' + option | translate }}
      </li>
    </ul>
  </div>
</div>
