<div *ngIf="group">
  <div class="card">
    <div class="card-body events-box">
      <div class="row">
        <div class="col-6">
          <h2>
            {{'group.members.management' | translate}}
          </h2>
        </div>
        <div class="col-6">
          <div class="float-right text-right">
            <button class="btn btn-secondary rectangle hover-primary" data-toggle="modal" data-target="#add-member-modal">
              <i class="fas fa-user-plus"></i> {{'group.members.addMember' | translate}}
            </button>
            <button class="btn btn-outline-secondary rectangle" [routerLink]="['/group/import/', group.groupUid]">
              <img src="assets/import.png"/>
              {{'group.members.importList' | translate}}
            </button>
          </div>
        </div>



      </div>

      <div class="row">
        <div>
          <a class="btn rectangle-23" [ngClass]="{'btn-success': currentTab == 'all', 'btn-outline-success': currentTab != 'all'}"
             [routerLink]="['all']">
            <img *ngIf="currentTab == 'all'" src="assets/members-white.png"/>
            <img *ngIf="currentTab != 'all'" src="assets/members.png"/>
            <br/>
            {{'group.members.allMembers' | translate}}

          </a>

          <a class="btn rectangle-23"
             [ngClass]="{'btn-success': currentTab == 'task-teams', 'btn-outline-success': currentTab != 'task-teams'}"
             [routerLink]="['task-teams']">
            <img src="assets/shared-folder.png"><br/>
            {{'group.members.taskTeams' | translate}}
          </a>

          <a class="btn rectangle-23"
             [ngClass]="{'btn-success': currentTab == 'filter', 'btn-outline-success': currentTab != 'filter'}"
             [routerLink]="['filter']">
            <img src="assets/filter-white.png"><br/>
            {{'group.members.customFilter' | translate}}
          </a>

        </div>
      </div>



    </div>

  </div>

  <div>
    <router-outlet>

    </router-outlet>
  </div>

</div>

<app-group-add-member [groupUid]="groupUid" (onMemberAdded)="onMemberAdded()" (onMemberAddingFailed)="onMemberFailed()"></app-group-add-member>
