.rectangle-23 {
  height: 80px;
  width: 175px;
  border-radius: 2px;
  border: 1px solid #EBEDF0;
  line-height: 24px;
  font-size: 1.1em;
  padding-top: 15px;
  padding-bottom: 10px;
}

.rectangle {
  height: 50px;
  border: 1px solid #929BAF;
  border-radius: 100px;
}

.view {
  height: 0.79%;
  width: 3.43%;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}
