.broadcast-info-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    vertical-align: middle;
    border-top: solid #ECEEF1 1px;
}

#sentActionsDropdown .dropdown-item:hover {
    cursor: pointer;
}