<div class="container">

  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <div class="card-body events-box">
          <h5>
            <img src="assets/icon_meeting.png"/>
            <span [translate]="'group.dashboard.meetings'">Meetings</span>
          </h5>
          <div *ngFor="let meeting of meetings" class="meeting-event">
            <div class="float-left event-date">
              <span class="day">{{meeting.deadlineDate | date:'dd'}}</span>
              <span class="month">{{meeting.deadlineDate | date:'MMM'}}</span>
            </div>
            <div class="event-text">
              <span>{{meeting.title}}</span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <img src="assets/icon-plus.png" class="float-right" (click)="showCreateMeetingModal()"/>
          <span [translate]="'group.dashboard.add-meeting'">Schedule a new meeting</span>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body events-box">
          <h5>
            <img src="assets/icon_vote.png"/>
            <span [translate]="'group.dashboard.votes'">Votes</span>
          </h5>
          <div *ngFor="let vote of votes" class="votes-event">
            <div class="float-left event-date">
              <span class="day">{{vote.deadlineDate | date:'dd'}}</span>
              <span class="month">{{vote.deadlineDate | date:'MMM'}}</span>
            </div>
            <div class="event-text">
              <span>{{vote.title}}</span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <img src="assets/icon-plus.png" class="float-right" (click)="showCreateVoteModal()"/>
          <span [translate]="'group.dashboard.add-vote'">Create a new vote</span>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body events-box">
          <h5>
            <img src="assets/icon_todo.png"/>
            <span [translate]="'group.dashboard.todos'">Action items</span>
          </h5>
          <div *ngFor="let todo of todos" class="action-items-event">
            <div class="float-left event-date">
              <span class="day">{{todo.deadlineDate | date:'dd'}}</span>
              <span class="month">{{todo.deadlineDate | date:'MMM'}}</span>
            </div>
            <div class="event-text">
              <span>{{todo.title}}</span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <img src="assets/icon-plus.png" class="float-right" (click)="showCreateTodoModal()"/>
          <span [translate]="'group.dashboard.add-todo'">Add an action item</span>
        </div>
      </div>
    </div>

  </div>

  <div class="row stat-panel">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <h5 [translate]="'group.dashboard.stats.title.member-growth'">Members rast</h5>
                <canvas id="memberGrowthChart" height="200" width="400"></canvas>
              </div>

              <div class="col-sm-4">
                <select class="custom-select" (change)="memberGrowthPeriodChanged($event.target.value)">
                  <option *ngFor="let period of memberGrowthPeriods" [selected]="currentMemberGrowthPeriod == period"
                          value="{{period}}" [translate]="'group.dashboard.member-growth.period.' + period">Period
                  </option>
                </select>

                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    {{ 'groups.row.action.title' | translate }}
                  </button>
                  <div *ngIf="group" class="dropdown-menu">
                    <a *ngIf="group.hasPermission('GROUP_PERMISSION_CREATE_GROUP_MEETING')" class="dropdown-item"
                       (click)="showCreateMeetingModal()">
                      {{ 'groups.row.action.meeting' | translate }}
                    </a>
                    <a *ngIf="group.hasPermission('GROUP_PERMISSION_CREATE_GROUP_VOTE')" class="dropdown-item"
                       (click)="showCreateVoteModal()">
                      {{ 'groups.row.action.vote' | translate }}
                    </a>
                    <a *ngIf="group.hasPermission('GROUP_PERMISSION_CREATE_LOGBOOK_ENTRY')" class="dropdown-item"
                       (click)="showCreateTodoModal()">
                      {{ 'groups.row.action.create' | translate }}
                    </a>
                    <!-- todo : implement some form of permission control here -->
                    <a class="dropdown-item" [routerLink]="['/broadcast/create/group', group.groupUid]">{{
                      'groups.row.action.broadcast' | translate }}</a>
                  </div>
                </div>

                <div *ngIf="group" class="container-fluid task-teams">
                  <h5 [translate]="'group.dashboard.task-teams'">Task teams</h5>
                  <div class="row" *ngFor="let subGroup of group.subGroups">
                    <div class="col-md-12">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn subgroup-link">{{subGroup.name}}</button>
                        <span class="input-group-addon" id="btnGroupAddon">{{subGroup.memberCount}}</span>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>

  <div class="row stat-panel">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 [translate]="'group.dashboard.stats.title.provinces'">Provinces</h5>
          <canvas id="provincesChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 [translate]="'group.dashboard.stats.title.sources'">Sources</h5>
          <canvas id="sourcesChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 [translate]="'group.dashboard.stats.title.organisations'">Organisations</h5>
          <canvas id="organisationsChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>

  </div>


  <div class="row stat-panel">

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 [translate]="'group.dashboard.stats.title.member-details'">Member details</h5>
          <div class="container member-details-stat">
            <div *ngFor="let mds of memberDetailsStats" class="row">
              <div class="col-sm-4 stats-label"
                   [translate]="'group.dashboard.member-details.stats.' + mds.name">
                Detail
              </div>
              <div class="col-sm-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                       [style.width]="mds.percent + '%'"
                       [attr.aria-valuenow]="mds.percent" aria-valuemin="0" aria-valuemax="100">{{mds.percent}}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 [translate]="'group.dashboard.stats.title.topic-interests'">Topic interests</h5>
          <div class="container topic-interests">
            <div *ngFor="let mds of topicInterestsStats" class="rowt">
              <div class="col-sm-4 stats-label">
                mds.name
              </div>
              <div class="col-sm-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                       [style.width]="mds.percent + '%'"
                       [attr.aria-valuenow]="mds.percent" aria-valuemin="0" aria-valuemax="100">{{mds.percent}}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<app-create-meeting [groupUid]="createTaskGroupUid"
                    (meetingSaved)="meetingSaved($event)"></app-create-meeting>

<app-create-vote [groupUid]="createTaskGroupUid"
                 (voteSaved)="voteSaved($event)"></app-create-vote>

<app-create-todo [groupUid]="createTaskGroupUid"
                 (todoSaved)="todoSaved($event)"></app-create-todo>
