h5 img {
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
}

/*Divs with auto heigh based on one with max events not working,
 tried display:table with table row and cell but stil not working. to be worked on later.*/
.events-box {
  height: auto;
  max-height: 20rem;
  overflow-y: auto;
}

.events-box h5 {
  margin-bottom: 1.5rem;
}

.event {
  vertical-align: middle;
}

.event-date {
  width: 3rem;
  height: 3rem;
  padding-top: 0.35rem;
  background-color: #F5F6FA;
  text-align: center;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.event-date .day {
  padding: 0;
  display: block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 200;
}

.event-date .month {
  padding: 0;
  display: block;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.event-text {
  height: 3rem;
  display: table;
}

.event-text span {
  display: table-cell;
  vertical-align: middle;
}

.card-footer {
  background-color: white;
}

.stat-panel {
  margin-top: 2rem;
}

.stats-label {
  font-size: 0.8rem;
}

.member-details-stat, .topic-interests {
  height: 15rem;
  overflow: auto;
}

.member-details-stat .row, .topic-interests .row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.task-teams {
  margin-top: 2rem;
}

.task-teams .row {
  margin-top: 0.5rem;
}

.input-group-addon {
  background-color: #949DB0;
  color: white;
  font-size: 13px;
  border: none;
}

.subgroup-link {
  background-color: #F5F6FA;
  color: #7A7D8C;
  font-size: 14px;
}

