<div *ngIf="group"  style="margin-top: 32px;">

  <div class="card">
    <div class="card-body">
      <div class="btn-group" role="group" *ngFor="let subGroup of group.subGroups">
        <a class="btn subgroup-link" (click)="loadMembers(subGroup)">{{subGroup.name}}</a>
        <span class="input-group-addon" id="btnGroupAddon">{{subGroup.memberCount}}</span>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="selectedSubGroup">
    <div class="card-header task-team-header">
      <h3 class="d-inline-block">Task Team</h3>
      <div class="task-team-count d-inline-block">/// {{selectedSubGroup.memberCount}}</div>
      <div class="task-team-label d-inline-block">{{selectedSubGroup.name}}</div>
    </div>

    <div *ngIf="currentPage">
      <app-member-list [currentPage]="currentPage"></app-member-list>

      <app-pagination [totalPages]="currentPage.totalPages" (onPageSelected)="loadMembersPage($event)"></app-pagination>
    </div>

  </div>

</div>
