.meeting-info-row {
  border-top: none;
  border-bottom: none;
  background-color: #F5F6FA;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 12px;
  line-height: 16px;
}

.meeting-info-row img {
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;

}

.meeting-info-row a {
  color: #4A4A4A;
}

.meeting-info-header {
  background: #929292;
  font-style: inherit;
  color: #ffffff;
}

.page-indicator{
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
}

.page-indicator:hover{
  cursor: pointer;

}

.page-selected{
  background-color: #929BAF;
  border-radius: 50%;
  color: #ffffff !important;
}

.page-item{
  margin-right: 0.5rem;
}

.pagination{
  margin-top:35px;
  font-size:12px;
}
