/* You can add global styles to this file, and also import other style files */

html {
  position: relative;
  min-height: 100%;
}


body {
  padding: 0;
  background-color: #F5F6FA;
  color: #4A4A4A;
  font-family: 'Nunito', sans-serif;
  /* Margin bottom by footer height */
  margin: 0 0 60px;
}



h1 {
  color: #4A4A4A;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 41px;
}

h2 {
  color: #4A4A4A;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
}

h5 {
  color: #4A4A4A;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.main-title {
  margin-bottom: 2rem;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}


