/* You can add global styles to this file, and also import other style files */

html {
  position: relative;
  min-height: 100%;
}


body {
  padding: 0;
  background-color: #F5F6FA;
  color: #4A4A4A;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  /* Margin bottom by footer height */
  margin: 0 0 15rem;
}



h1 {
  color: #4A4A4A;
  font-size: 30px;
  line-height: 40px;
}

h2 {
  color: #4A4A4A;
  font-size: 25px;
  line-height: 36px;
}

h3 {
  color: #4A4A4A;
  font-size: 22px;
  line-height: 32px;
}

h4 {
  color: #4A4A4A;
  font-size: 20px;
  line-height: 28px;
}

h5 {
  color: #4A4A4A;
  font-size: 18px;
  line-height: 28px;
}

h6 {
  color: #4A4A4A;
  font-size: 16px;
  line-height: 24px;
}

.main-title {
  margin-bottom: 2rem;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.no-padding-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.padding-vertical {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn-primary {
  background: #2CBC4C;
  border-radius: 100px;
  color: white;
  border: none;
}

.btn-primary:hover {
  cursor: pointer;
  background: #26A041;
}

/* none of these are working, nothing gets rid of bootstrap blue crappiness, good old CSS */
.btn-primary:active,
.btn-primary:target,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:visited {
  color: white;
  background: #2CBC4C;
  border: 1px solid #26A041;
}

.btn-primary:disabled {
  background: white;
  color: #cccccc;
  border: 1px solid #cccccc;
}

.btn-secondary {
  color: #929BAF;
  font-family: Nunito;
  border: 1px solid #929BAF;
  border-radius: 100px;
  background: white;
}

.btn-secondary:hover {
  cursor: pointer;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  background: white;
}

.badge-primary {
  background: #2CBC4C;
}

.grassroot-link {
  color: #2CBC4C;
}

.grassroot-link:hover {
  cursor: pointer;
  color: #26A041;
  text-decoration: underline;
}

.grassroot-breadcrumb {
  color: #7A7D8C;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
}

.grassroot-breadcrumb:hover {
  color: #7A7D8C;
  text-decoration: underline;
}

.grassroot-label-em {
  font-size: 1.1em;
}

.form-control-em {
  font-size: 1.1em;
}

.nav-tabs {
  border-bottom: 1px solid #26A041;
  margin-bottom: 8px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: #2CBC4C;
}

.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link {
  color: #2CBC4C;
  background-color: white;
  border-bottom: 1px solid #26A041;
}

.list-group .badge-pill {
  background: #2CBC4C;
}

.save-button {
  padding: 10px 50px;
}

.cancel-button {
  padding: 10px 20px;
}

.calendar-button {
  color: #929BAF;
  font-weight: 600;
  border: 1px solid #929BAF;
  border-radius: 5px;
  background: white;
}

.calendar-button:hover {
  cursor: pointer;
  color: #2CBC4C;
  border: 1px solid #2CBC4C;
  background: white;
}

.dropdown-toggle {
  cursor: pointer;
}

.broadcast-btn {
  width: 100%;
  border-radius: 100px;
  font-size: 1.1em;
  padding: 15px 0;
  background-color: #2CBC4C;
}

.view-all-link {
  color: #2CBC4C;
  text-decoration: none;
  font-size: 0.9rem;
}

.view-all-link:hover {
  color: #2CBC4C;
  cursor: pointer;
  text-decoration: underline;
}

.hover-primary:hover {
  cursor: pointer;
  background: #26A041;
  color: white;
}

.hover-danger:hover {
  cursor: pointer;
  background: #ff0000;
  border-color: #ff0000;
  color: white;
}
