<div *ngIf="group">
  <div class="card">
    <div class="card-body">

      <div class="row mt-md-1 mb-md-3">
        <div class="d-flex col-12 justify-content-center">
          <h2>{{'group.settings.title' | translate}}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-2 col-12">

          <form [formGroup]="groupForm" (ngSubmit)="updateGroup()">

          <div class="form-group row">
            <div class="col-md-6 col-sm-12">
              <label class="grassroot-label-em" for="group-name">{{'group.settings.groupName' | translate}}</label>
              <input type="text" class="form-control form-control-em" id="group-name" placeholder="{{'group.settings.groupName' | translate}}"
                     name="name" [formControl]="groupForm.controls['name']" (keyup)="settingsChangedTrigger()">
            </div>
            <div class="col-md-6 col-sm-12">
              <label class="grassroot-label-em">{{ 'group.settings.network' | translate }}</label>
              <select class="form-control form-control-em">
                <option>{{ 'group.settings.networkSelect' | translate }}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3 col-sm-6" *ngIf="(group.hasProfileImage())">
              <img class="img-thumbnail" src="{{ group.profileImageUrl }}" />
            </div>
            <div [ngClass]="(group.hasProfileImage()) ? 'col-md-9 col-sm-6' : 'col-12'">
              <div draggable="true" ngClass="{{imgDragAreaClass}}">
                <div class="col-md-12 text-center" >
                  <a href="javascript:void(0)" (click)="file.click()" >
                    {{ (group.hasProfileImage() ? 'group.settings.image.change' : 'group.settings.image.click') | translate}}</a>
                  {{ 'group.settings.image.drag'  | translate}}
                  <input type="file" #file
                         [multiple]="false"
                         (change) = "onImageSelected($event)"
                         style="display:none" />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-12">
              <label class="grassroot-label-em" for="group-description">{{'group.settings.groupDescription' | translate}}</label>
              <textarea class="form-control form-control-em" id="group-description" placeholder="{{'group.settings.groupDescription' | translate}}"
                        name="description" [formControl]="groupForm.controls['description']" rows="3" (keyup)="settingsChangedTrigger()"></textarea>
            </div>
          </div>

          <div class="form-group row mt-md-3">
            <div class="col-md-3 col-sm-4 col-form-label">
              <label for="publicRadio" class="grassroot-label-em" >{{'group.settings.groupPrivacy' | translate}}</label>
            </div>
            <div class="col-md-9 col-sm-8">
              <div class="form-check form-check-inline privacy-radios">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="publicRadio" value="PUBLIC"
                       [formControl]="groupForm.controls['privacy']" (change)="settingsChangedTrigger()">
                <label class="grassroot-label-em" for="publicRadio"><i class="fas fa-lock-open"></i> {{'group.settings.groupPublic' | translate}}</label>
              </div>
              <div class="form-check form-check-inline privacy-radios">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="privateRadio" value="PRIVATE"
                       [formControl]="groupForm.controls['privacy']" (change)="settingsChangedTrigger()">
                <label class="grassroot-label-em" for="privateRadio"><i class="fas fa-lock"></i> {{'group.settings.groupPrivate' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6 col-form-label">
              <label class="grassroot-label-em" for="group-reminder-in-minutes">{{'group.settings.reminderInMinutes' | translate}}</label>
            </div>
            <div class="col-sm-6">
              <select class="form-control form-control-em" id="group-reminder-in-minutes" [formControl]="groupForm.controls['reminderInMinutes']"
                      name="name-select" (change)="settingsChangedTrigger()">
                <option [ngValue]="0">{{'group.settings.reminders.noReminder' | translate}} </option>
                <option [ngValue]="60">{{'group.settings.reminders.hourBefore' | translate}} </option>
                <option [ngValue]="720">{{'group.settings.reminders.halfDayBefore' | translate}} </option>
                <option [ngValue]="1440">{{'group.settings.reminders.dayBefore' | translate}} </option>
                <option [ngValue]="2880">{{'group.settings.reminders.twoDaysBefore' | translate}} </option>
              </select>
            </div>
          </div>

            <div id="topics-accordion" role="tablist" style="padding-bottom: 1rem !important;">
              <div class="card">
                <div class="card-header" role="tab" id="topics-accordion-header">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#topics-accordion-body" role="button" aria-expanded="true" aria-controls="topics-accordion-body">
                      {{'group.settings.topics' | translate}}
                    </a>
                  </h5>
                </div>

                <div id="topics-accordion-body" class="collapse" role="tabpanel" aria-labelledby="topics-accordion-header" data-parent="#topics-accordion" >
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div *ngFor="let topic of group.topics; let i = index">
                          <div *ngIf="i+1 <= topicInterestInFirstColumn" class="alert alert-secondary" role="alert">
                            <div class="row">
                              <div class="col-sm-8">
                                {{topic}}
                              </div>
                              <div class="col-sm-2">
                                {{getNumberOfMembersWithTopic(topic)}}
                              </div>
                              <div class="col-sm-2" (click)="deleteTopic(topic)">
                                <i class="fas fa-trash-alt"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div *ngFor="let topic of group.topics; let i = index">
                          <div *ngIf="i+1 > topicInterestInFirstColumn" class="alert alert-secondary" role="alert">
                            <div class="row">
                              <div class="col-sm-8">
                                {{topic}}
                              </div>
                              <div class="col-sm-2">
                                {{getNumberOfMembersWithTopic(topic)}}
                              </div>
                              <div class="col-sm-2" (click)="deleteTopic(topic)">
                                <i class="fas fa-trash-alt"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label for="newTopicNameInput" class="col-sm-3 col-form-label">{{'group.settings.createNewTopicLabel' | translate}}</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control" id="newTopicNameInput" (keyup)="newTopicNameChanged($event)">
                          </div>
                          <button type="button" class="btn btn-primary col-sm-2" [disabled]="newTopicName.length == 0"
                          (click)="addNewTopic()">{{'action.add' | translate}}</button>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>


          <div id="accordion" role="tablist" *ngIf="shouldDisplayPermissionsTable()">
            <div class="card">
              <div class="card-header" role="tab" id="permissions-table-heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#permissions-table" role="button" aria-expanded="true" aria-controls="permissions-table">
                    {{'group.settings.advancedPermissions' | translate}}
                  </a>
                </h5>
              </div>

              <div id="permissions-table" class="collapse" role="tabpanel" aria-labelledby="permissions-table-heading" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="container group-info-header d-none d-md-block">
                      <div class="row">
                        <div class="col-5">{{'group.settings.permission' | translate}}</div>
                        <div class="col-2">{{'group.settings.ordinaryMember' | translate}}</div>
                        <div class="col-2">{{'group.settings.committeeMember' | translate}}</div>
                        <div class="col-2">{{'group.settings.groupOrganizer' | translate}}</div>
                      </div>
                    </div>
                    <div class="container group-info-row" *ngFor="let permission of permissionsToDisplay; let i = index">
                      <div class="row">
                        <div class="col-5">
                          {{getFormattedUserPermissions(permission)}}
                        </div>

                        <div class="col-2">
                          <input type="checkbox" [formControl]="groupForm.get('ordinaryMemberPermissions').get(permission)" (change)="permissionsChangedTrigger()" >
                        </div>

                        <div class="col-2">
                          <input type="checkbox" [formControl]="groupForm.get('committeeMemberPermissions').get(permission)" (change)="permissionsChangedTrigger()">
                        </div>

                        <div class="col-2">
                          <input type="checkbox" [formControl]="groupForm.get('groupOrganizerPermissions').get(permission)" (change)="permissionsChangedTrigger()">
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row mt-3">
            <div class="col-md-6 col-sm-12">
              <button type="button" class="btn btn-secondary float-left cancel-button" [routerLink]="['../dashboard']">{{ 'action.cancel' | translate }}</button>
            </div>
            <div class="col-md-6 col-sm-12">
              <button type="button" class="btn btn-primary float-right save-button" (click)="updateGroup()" [disabled]="!groupForm.valid">{{ 'action.save' | translate }}</button>
            </div>
          </div>

          </form>
        </div>
      </div>


    </div>
  </div>
</div>

