<div class="card-body">
  <div class="row">
    <div class="col-md-12 text-center" >
      <h3>{{ 'broadcasts.create.members.title' | translate }}</h3>
    </div>
  </div>
  <div class="row mt-md-3">
    <div class="col-md-12 text-left">
      <form [formGroup]="memberForm"
            (ngSubmit)="next()">

        <div class="form-row">
          <div class="form-group col-sm-12">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="radio" checked value="ALL_MEMBERS" formControlName="selectionType">
                {{ 'broadcasts.create.members.allMembers' | translate:createParams }}
              </label>
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf="group?.subGroups?.length > 0">
          <div class="form-group col-sm-12">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="radio" value="TASK_TEAMS" formControlName="selectionType">
                {{ 'broadcasts.create.members.taskTeams' | translate }}
              </label>
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf="memberForm.controls['selectionType']?.value == 'TASK_TEAMS'">
          <div class="form-group">
            <select multiple id="task-teams" [formControl]="memberForm.controls['taskTeams']" class="form-control"
                    (change)="taskTeamSelectChanged()">
              <option *ngFor="let g of group.subGroups" [value]="g.groupUid">{{ g.name }}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="radio" value="CUSTOM_SELECTION" formControlName="selectionType" />
                {{ 'broadcasts.create.members.customSelection' | translate }}
              </label>
            </div>
          </div>
        </div>

        <app-member-filter *ngIf="group && memberForm.controls['selectionType']?.value == 'CUSTOM_SELECTION'"
                           [taskTeams]="group.subGroups"
                           [topics]="group.topics"
                           [affiliations]="group.affiliations"
                           [includeNameFilter]="true"
                           (filterChanged)="membersFilterChanged($event)">
        </app-member-filter>

        <div class="form-row" *ngIf="types?.shortMessage && types?.email">
          <div class="form-group col-sm-12">
            <div class="form-check form-check-inline">
              <label class="form-check-label grassroot-label-em">
                <input class="form-check-input" type="checkbox" formControlName="skipSmsIfEmail" (change)="skipEmailToggled()"/>
                {{ 'broadcasts.create.members.skipSmsIfEmail' | translate }}
              </label>
            </div>
          </div>
        </div>

        <div class="form-row mt-md-3 mb-md-5" *ngIf="types?.shortMessage">
          <div class="col-md-6 offset-md-6 review-block">
            <p class="text-center review-block-header">Review costs</p>
            <span>{{ 'broadcasts.create.members.smsCount' | translate }}{{ countParams.smsNumber }}</span>
            <span class="float-right">{{ 'broadcasts.create.members.costEstimate' | translate }}{{ countParams.broadcastCost }}</span>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4 col-sm-12">
            <button type="button" (click)="cancel()" class="btn btn-secondary cancel-button">
              {{ 'action.cancel' | translate }}</button>
          </div>

          <!-- todo : fix responsive, and throughout rest of this wizard -->
          <div class="col-md-8 col-sm-12 pull-right">

            <button type="submit" class="btn btn-primary next-button float-right">
              {{ 'action.next' | translate }}
            </button>

            <button type="button" (click)="back()" class="btn btn-secondary back-button float-right">
              {{ 'action.back' | translate }}
            </button>

          </div>
        </div>

      </form>
    </div>
  </div>

</div>
