<div class="card-body">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <h2>{{ 'user.password.title' | translate }}</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 justify-content-center">
      <form [formGroup]="pwdForm" (ngSubmit)="submitChange()">
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label class="form-label" for="oldpassword">{{ 'user.password.old' | translate }}</label>
            <input id="oldpassword" type="password" class="form-control" formControlName="oldpassword" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label class="form-label" for="newpassword">{{ 'user.password.new' | translate }}</label>
            <input id="newpassword" type="password" class="form-control" formControlName="newpassword" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label class="form-label" for="confirmpwd">{{ 'user.password.confirm' | translate }}</label>
            <input id="confirmpwd" type="password" class="form-control" formControlName="confirmpwd" />
          </div>
        </div>
        <div class="form-row top-buffer">
          <div class="form-group col-sm-12"> <!-- [disabled]="!contentForm.valid"  -->
            <button type="submit" [disabled]="!pwdForm.valid" class="btn btn-success float-right">{{ 'user.password.change' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
