.headline{
	margin-bottom: 1%;
}
.status{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.contact{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.created-time{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.description{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.group{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.media{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
.tags{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
