<div class="container">


  <div class="row">
    <div class="col-md-7 col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control search-bar" />
        <span class="input-group-btn">
          <button class="btn btn-link search-addon"><i class="fa fa-search"></i> Search</button>
        </span>
      </div>
    </div>
    <div class="col-md-5 col-sm-12">
      <div class="dropdown float-right">
        <button id="create-dropdown" class="btn btn-primary dropdown-toggle create-button" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          {{ 'home.create.title' | translate }}
        </button>
        <div class="dropdown-menu create-dropdown">
          <a href="#" class="dropdown-item" [translate]="'home.create.group'"
             (click)="showCreateGroupDialog()">Group</a>
          <a class="dropdown-item" [translate]="'home.create.campaign'"
             [routerLink]="['/campaigns/create']">Campaign</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body my-agenda">

          <h2 [translate]="'home.my-agenda.title'" class="my-agenda-title">My agenda</h2>

          <div class="my-agenda-body">

            <div class="my-agenda-tasks">
              <div class="day-task" *ngIf="baseDateFilteredTasks.length == 0">
                <p>No upcoming tasks for you currently</p>
              </div>
              <div *ngFor="let dayTasks of baseDateFilteredTasks" class="day">
                <div class="col-sm-8 day-label">
                  {{formatTaskDate(dayTasks.date)}}
                </div>
                <div *ngFor="let task of dayTasks.tasks" class="day-task">
                  <div>
                    <a class="task-name" (click)="handleTaskClick(task)">
                      <img src="assets/{{task.getEventIconName()}}"/>
                      {{task.title}}
                    </a>
                  </div>
                  <div>
                    <span [translate]="'home.my-agenda.group-label'"> Group </span>: <b>{{task.ancestorGroupName}}</b>
                  </div>
                </div>
              </div>
            </div>

            <hr class="agenda-line">

            <div class="my-agenda-nav">
              <div class="row">
                <div class="col-12 text-center">
                  <button class="btn btn-secondary btn-agenda-nav agenda-arrow" (click)="decreaseAgendaBaseDate()"><i class="fas fa-arrow-left"></i></button>
                  <button class="btn btn-secondary btn-agenda-nav">{{getDayName(agendaBaseDate.toDate())}}</button>
                  <button class="btn btn-secondary btn-agenda-nav agenda-arrow" (click)="increaseAgendaBaseDate()"><i class="fas fa-arrow-right"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-body new-members">

          <div class="float-right">
            <h3 class="float-right new-members-count-label">This week</h3>
            <span class="new-members-count badge badge-secondary d-inline-block">{{newMembersPage != null ? newMembersPage.totalElements : 0}}</span>
          </div>

          <h2 [translate]="'home.new-members.title'">New members</h2>

          <div class="new-members-body">
            <div *ngIf="newMembersPage">
              <div *ngFor="let member of newMembersListRendered" class="row member-row">
                <div class="col-1 justify-content-center new-members-icon">
                  <span style="padding-left: 8px"><i [class]="member.iconClass()"></i></span>
                </div>
                <div class="col-8">
                  <h4>{{member.user.displayName}}</h4>
                  <div><span>Group: </span> {{member.group.name}}</div>
                  <div>{{ member.joinMethodKey() | translate:member }}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-12 stared-groups">
      <div class="card">
        <div class="card-header">
          <span class="card-title h5">
            <i class="fas fa-star"></i> {{ 'home.starred-groups.title' | translate }}</span>
        </div>
        <div class="card-body">
          <app-group-info *ngFor="let gr of pinnedGroups"
                          [group]="gr"
                          (onGroupClicked)="showGroup($event)"
                          (onTriggerCreateMeeting)="showCreateMeetingModal($event)"
                          (onTriggerCreateVote)="showCreateVoteModal($event)"
                          (onTriggerCreateTodo)="showCreateTodoModal($event)"
                          [extendedInfoVisible]="pinnedGroups.length == 1">
          </app-group-info>

          <div *ngIf="pinnedGroups.length == 0" class="padding-vertical">
            <p [translate]="'home.starred-groups.empty'">You have no pinned groups currently.</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 active-campaigns">
      <div class="card">
        <div class="card-header">
          <span class="card-title h5"><i class="fas fa-star"></i> {{ 'home.active-campaigns.title' | translate }}</span>
        </div>
        <div class="card-body">

          <!--<app-campaign-info *ngFor="let camp of activeCampaigns"-->
          <!--[campaign]="camp">-->
          <!--</app-campaign-info>-->

          <div *ngIf="activeCampaigns.length == 0" class="padding-vertical">
            <p [translate]="'home.active-campaigns.empty'">You have no active campaigns currently.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<app-create-group (onGroupCreated)="groupCreated($event)"
                  (onGroupCreationFailed)="groupCreationFailed($event)"></app-create-group>

<app-todo-respond [todoTask]="toDoToRespond"></app-todo-respond>

<app-create-meeting [groupUid]="createTaskGroupUid"
                    (meetingSaved)="meetingSaved($event)"></app-create-meeting>

<app-create-vote [groupUid]="createTaskGroupUid"
                 (voteSaved)="voteSaved($event)"></app-create-vote>

<app-create-todo [groupUid]="createTaskGroupUid"
                 (todoSaved)="todoSaved($event)"></app-create-todo>
