<div class="container primary-container">

  <div class="row">
    <div class="col-md-7 col-sm-12">
      <div class="input-group">
        <input #searchTerm type="text" [placeholder]="'home.search' | translate" class="form-control search-bar" (keyup.enter)="searchGlobaly(searchTerm.value)"/>
        <span class="input-group-btn">
          <button class="btn btn-link search-addon" (click)="searchGlobaly(searchTerm.value)"><i class="fa fa-search"></i><span class="search-text"> {{ 'action.search' | translate }}</span></button>
        </span>
      </div>
    </div>
    <div class="col-md-5 col-sm-12">
      <div class="dropdown float-md-right">
        <button id="create-dropdown" class="btn btn-primary dropdown-toggle create-button" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          {{ 'home.create.title' | translate }}
        </button>
        <div class="dropdown-menu create-dropdown">
          <a href="#" class="dropdown-item" [translate]="'home.create.group'"
             (click)="showCreateGroupDialog()">Group</a>
          <a class="dropdown-item" [translate]="'home.create.campaign'" [routerLink]="['/campaigns/create']" *ngIf="canManageCampaigns">Campaign</a>
          <a class="dropdown-item disabled" [translate]="'home.create.campaign'" *ngIf="!canManageCampaigns">Campaign</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body my-agenda">

          <h2 [translate]="'home.my-agenda.title'" class="my-agenda-title">My agenda</h2>

          <div class="my-agenda-body">

            <div class="my-agenda-tasks">
              <div class="day-task" *ngIf="baseDateFilteredTasks.length == 0">
                <p class="text-center"><img class="img-responsive" style="max-width: 80px; max-height: 78px" src="assets/graphics/empty_task_list@2x.png" /></p>
                <p class="text-center"><span [translate]="'home.my-agenda.no-tasks-sub'">You have no upcoming tasks</span></p>
                <p class="text-center" [innerHtml]="'home.my-agenda.no-tasks-para' | translate">To create a task ...</p>
                <p class="text-center"><button type="button" class="btn btn-secondary hover-primary" data-toggle="modal" data-target="#agenda-tutorial-modal">View screenshot</button></p>
              </div>
              <div *ngFor="let dayTasks of baseDateFilteredTasks" class="day">
                <div class="col-sm-8 day-label">
                  {{formatTaskDate(dayTasks.date)}}
                </div>
                <div *ngFor="let task of dayTasks.tasks" class="day-task" (click)="handleTaskClick(task)">
                  <div>
                    <img src="assets/{{task.getEventIconName()}}"/>
                    <span class="agenda-task-type">{{ task.type | titlecase }}</span>
                  </div>
                  <div class="mt-1">
                    <span class="agenda-task-name"><span *ngIf="task.type == 'TODO'" class="agenda-field-label">{{'enum.TodoType.' + task.todoType | translate }}: </span>
                    {{task.title}}</span>
                    <span class="agenda-field-label" [translate]="'home.my-agenda.group-label'">Group </span>: <b>{{task.ancestorGroupName}}</b>
                  </div>
                </div>
              </div>
            </div>

            <hr class="agenda-line">

            <div class="my-agenda-nav">
              <div class="row">
                <div class="col-12 text-center">
                  <button class="btn btn-secondary btn-agenda-nav agenda-arrow" (click)="decreaseAgendaBaseDate()"><i class="fas fa-arrow-left"></i></button>
                  <button class="btn btn-secondary btn-agenda-nav">{{getDayName(agendaBaseDate.toDate())}}</button>
                  <button class="btn btn-secondary btn-agenda-nav agenda-arrow" (click)="increaseAgendaBaseDate()"><i class="fas fa-arrow-right"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-8">
      <div class="card new-members-card">
        <div class="card-body new-members">

          <div class="float-right">
            <h4 class="float-right new-members-count-label">This week</h4>
            <span class="new-members-count badge badge-secondary d-inline-block">{{newMembersPage != null ? newMembersPage.totalElements : 0}}</span>
          </div>

          <h2 [translate]="'home.new-members.title'">New members</h2>

          <div class="new-members-body">
            <div *ngIf="newMembersPage">
              <div *ngIf="!newMembersListRendered || newMembersListRendered.length == 0" class="mt-3">
                <p class="text-center"><img class="img-responsive" style="max-width: 80px; max-height: 83px" src="assets/graphics/member_empty_state_icon@2x.png" /></p>
                <p class="text-center"><span [translate]="'home.new-members.no-members-sub'"></span></p>
                <p class="text-center" [innerHtml]="'home.new-members.no-members-para' | translate"></p>
                <p class="text-center"><button type="button" class="btn btn-secondary hover-primary" data-toggle="modal" data-target="#groups-tutorial-modal">View screen guide</button></p>
              </div>
              <div *ngFor="let member of newMembersListRendered" class="row member-row">
                <div class="col-1 justify-content-center new-members-icon">
                  <span style="padding-left: 8px"><i [class]="member.iconClass()"></i></span>
                </div>
                <div class="col-8">
                  <h4>{{member.user.displayName}}</h4>
                  <div><span>Group: </span> {{member.group.name}}</div>
                  <div>{{ member.joinMethodKey() | translate:member }}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-12 stared-groups">
      <div class="card">
        <div class="card-header">
          <span class="card-title h5">
            <i class="fas fa-star"></i> {{ 'home.starred-groups.title' | translate }}</span>
        </div>
        <div class="card-body">
          <app-group-info *ngFor="let gr of pinnedGroups"
                          [group]="gr"
                          (onGroupClicked)="showGroup($event)"
                          (onTriggerCreateMeeting)="showCreateMeetingModal($event)"
                          (onTriggerCreateVote)="showCreateVoteModal($event)"
                          (onTriggerCreateTodo)="showCreateTodoModal($event)"
                          (onTriggerCreateLivewireAlert)="showCreateLivewireAlertModal($event)"
                          [extendedInfoVisible]="pinnedGroups.length == 1">
          </app-group-info>

          <div *ngIf="pinnedGroups.length == 0" class="row padding-vertical">
            <div class="col-md-3 col-12 stared-groups-none-text">
              <p><span [innerHtml]="'home.starred-groups.empty' | translate">You have no pinned groups currently.</span></p>
              <p>OR</p>
              <p><button type="button" class="btn btn-primary save-button" (click)="showCreateGroupDialog()">Create New Group</button></p>
            </div>
            <div class="col-md-9 col-12 text-center">
              <img class="img-responsive starred-group-tutorial-screenshot" src="assets/graphics/group-tutorial-screenshot@2x.png" />
            </div>
          </div>  

        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="canManageCampaigns">
    <div class="col-sm-12 active-campaigns">
      <div class="card">
        <div class="card-header">
          <span class="card-title h5"><i class="fas fa-star"></i> {{ 'home.active-campaigns.title' | translate }}</span>
        </div>
        <div class="card-body">

          <app-campaign-info *ngFor="let camp of activeCampaigns"
                             [campaign]="camp">
          </app-campaign-info>

          <div *ngIf="activeCampaigns.length == 0" class="padding-vertical">
            <p [translate]="'home.active-campaigns.empty'">You have no active campaigns currently.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="modal fade" tabindex="-1" role="dialog" id="join-group-modal" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div *ngIf="!isMemberPartOfGroup">
        	<h5 class="modal-title">{{ 'home.joinModal.titleNotMember' | translate }}</h5>
        </div>
        <div *ngIf="isMemberPartOfGroup">
        	<h5 class="modal-title">{{ 'home.joinModal.titleMember' | translate }}</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">{{joinCandidateGroup?.name}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">{{ 'action.close' | translate }}</button>
        <div *ngIf="!isMemberPartOfGroup">
        	<button type="button" class="btn btn-primary save-button" (click)="joinGroup(joinCandidateGroup?.groupUid,searchTerm.value)">
          		{{ 'action.join' | translate }}
        	</button>
        </div>
        <div *ngIf="isMemberPartOfGroup">
        	<button type="button" class="btn btn-primary save-button" (click)="viewGroup(joinCandidateGroup?.groupUid)">
          		{{ 'action.view' | translate }}
        	</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="join-code-not-found-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [translate]="'home.joinModal.titleNoneFound'"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead" [translate]="'home.joinModal.bodyNoneFound'" [translateParams]="{code: proposedSearchTerm}">It looks like you are searching by group join code, but we can't find any group
        matching that code (1234). Do you want to do a full text search or close and try again?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">{{ 'action.close' | translate }}</button>
        <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal" [routerLink]="['/search', proposedSearchTerm]">
          {{ 'action.search' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="agenda-tutorial-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <span [innerHtml]="'home.my-agenda.no-tasks-para' | translate"></span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <img class="alert-modal-image" alt="" src="assets/graphics/agenda-tutorial-screenshot@2x.png">
        </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="groups-tutorial-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <span [innerHtml]="'home.new-members.no-members-para' | translate"></span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <img class="alert-modal-image" alt="" src="assets/graphics/group-tutorial-screenshot@2x.png" />
        </div>
    </div>
  </div>
</div>


<app-create-group (onGroupCreated)="groupCreated($event)"
                  (onGroupCreationFailed)="groupCreationFailed($event)"></app-create-group>


<app-create-meeting [groupUid]="createTaskGroupUid"
                    (meetingSaved)="meetingSaved($event)"></app-create-meeting>

<app-create-vote [groupUid]="createTaskGroupUid"
                 (voteSaved)="voteSaved($event)"></app-create-vote>

<app-create-todo [groupUid]="createTaskGroupUid"
                 (todoSaved)="todoSaved($event)"></app-create-todo>

<app-view-meeting [taskToView]="taskToView"></app-view-meeting>

<app-view-vote [voteToView]="taskToView"></app-view-vote>

<app-view-todo [todoTask]="taskToView"></app-view-todo>

<app-create-livewire [groupUid]="createTaskGroupUid"
                     (alertSaved)="alertSaved($event)"></app-create-livewire>
