<div class="container">

  <div class="row">

    <div class="col-lg-4">

      <div class="card">

        <div class="card-body my-agenda">

          <h3 [translate]="'home.my-agenda.title'">My agenda</h3>

          <div class="my-agenda-body">
            <div *ngFor="let dayTasks of baseDateFilteredTasks" class="day">
              <div class="col-sm-8 day-label">
                {{formatTaskDate(dayTasks.date)}}
              </div>
              <div *ngFor="let task of dayTasks.tasks" class="day-task">
                <div>
                  <img src="assets/{{task.getEventIconName()}}"/>
                  {{task.title}}
                </div>
                <div>
                  <span [translate]="'home.my-agenda.group-label'"> Group </span>: <b>{{task.ancestorGroupName}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="my-agenda-footer">
            <div class="row">
              <div class="col-3">
                <button class="btn btn-secondary" (click)="decreaseAgendaBaseDate()">&lt;</button>
              </div>
              <div class="col-6 text-center">
                <button class="btn btn-secondary">{{getDayName(agendaBaseDate)}}</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary" (click)="increaseAgendaBaseDate()">&gt;</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-body new-members">
          <h3 [translate]="'home.new-members.title'">New members</h3>

          <div class="new-members-body">
            <div *ngIf="newMembersPage">
              <div *ngFor="let member of newMembersPage.content" class="member-row">
                <h4>{{member.user.displayName}}</h4>
                <p><span>Group: </span> {{member.group.name}}</p>
                <!-- this is generating a 'object changed after checked error, and might be better to do via
                     string concat of key for translate (and also param passing is being weird), but this is the idea -->
                <p>{{ member.joinMethodKey() | translate:member }}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-12 stared-groups">
      <div class="card">
        <div class="card-header">
          <span class="card-title" [translate]="'home.starred-groups.title'">Starred groups</span>
        </div>
        <div class="card-body">

          <app-group-info *ngFor="let gr of pinnedGroups"
                          [group]="gr"
                          [extendedInfoVisible]="pinnedGroups.length == 1">
          </app-group-info>
        </div>
      </div>
    </div>
  </div>


</div>
