#create-dropdown {
  padding: 10px 40px;
  font-size: 1.1em;
  background-color: #FFFFFF;
  border-radius: 2px;
  color: #4A4A4A;
  line-height: 19px;
}

.create-dropdown {
  width: 216px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.15);
}

.groups-content {
  padding: 3rem 1.5rem;
  text-align: center;
}

.my-agenda {
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #E5E9F2;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}

.my-agenda h2, .day-task {
  margin-left: 1rem;
  margin-right: 1rem;
}

.agenda-line {
  box-sizing: border-box;
  border: 1px solid #EBEDF0;
}

.my-agenda-nav {
  margin-left: 2rem;
  margin-right: 2rem;
}

.btn-agenda-nav {
  border: 1px solid #EBEDF0;
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #4A4A4A;
}

.agenda-arrow {
  color: #ECEEF1;
}

.agenda-arrow:hover {
  color: #4A4A4A;
}

.day, .day-task {
  margin-top: 1rem;
}

.day-label {
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  background-color: #2CBC4C;
  border-radius: 0 100px 100px 0;
  color: white;
  font-size: 1.1em;
}

.day-task .task-name {
  font-size: 1.2em;
  font-weight: bolder;
  cursor: pointer;
}

.stared-groups, .active-campaigns {
  margin-top: 2rem;
}

.stared-groups .card, .active-campaigns .card {
  border-radius: 2px;
  border: 1px solid #E5E9F2;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}

.stared-groups .card-header, .active-campaigns .card-header {
  background-color: #929BAF;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stared-groups .card-title, .active-campaigns .card-title {
  font-size: 14px;
  color: #FFFFFF;
  font-family: Nunito;
  font-weight: 600;
  line-height: 16px;
}

.stared-groups .card-body, .active-campaigns .card-body {
  padding-top: 0;
}

.member-row {
  margin-bottom: 1rem;
}

.new-members {
  border: 1px solid #E5E9F2;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}

.new-members-count {
  font-size: 1.5rem;
  background-color: #2CBC4C;
}

.new-members-count-label {
  margin-top: 0.2rem;
  margin-left: 0.4rem;
  margin-right: 0.8rem;
}

.new-members-icon {
  font-size: 1.5rem;
  color: #929BAF;
  text-align: center;
}

.new-members-body {
  /*margin-top: 1rem;*/
}

@media (min-width: 992px) {

  .new-members-body {
    height: 24rem;
    overflow: auto;
  }

  .my-agenda-body {
    height: 24rem;
    overflow: auto;
  }

  .my-agenda-tasks {
    height: 18rem;
    overflow: auto;
  }

}
