<div class="card-body events-box">
  <div class="row mb-3">
    <div class="col-6">
      <h2>
        {{'campaign.broadcasts.title' | translate}}
      </h2>
    </div>
    <div class="col-6">
      <div class="float-right text-right">
        <a *ngIf="campaignUid" [routerLink]="['/broadcast/create/campaign', campaignUid]" class="btn btn-success">
          <img src="assets/icon_megaphone.png"/>
          {{'campaign.broadcasts.send' | translate}}
        </a>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="serverFetched && !broadcasts">
    <div class="col-12">
      You have not sent any broadcasts to this campaign yet
    </div>
  </div>
  <div class="card" *ngIf="broadcasts?.length > 0">
    <div class="card-body events-box">
      <div class="container group-info-header d-none d-md-block">
        <div class="row">
          <div class="col-2"> {{'group.broadcast.table.sendOn' | translate}}</div>
          <div class="col-2">{{'group.broadcast.table.sendTo' | translate}}</div>
          <div class="col-1">{{'group.broadcast.table.sms' | translate}}</div>
          <div class="col-1">{{'group.broadcast.table.email' | translate}}</div>
          <div class="col-2">{{'group.broadcast.table.facebook' | translate}}</div>
          <div class="col-2">{{'group.broadcast.table.twitter' | translate}}</div>
          <div class="col-2">{{'group.broadcast.table.actions' | translate}}</div>
        </div>
      </div>
      <div *ngFor="let broadcast of broadcasts">
        <app-broadcast-listing [broadcast]="broadcast"
          (onViewDetailsClicked)="showViewModal(broadcast)"
          (onDownloadAllClicked)="downloadAllMsgReport(broadcast)"
          (onDownloadErrorsClicked)="downloadBroadcastErrorReport(broadcast)"></app-broadcast-listing>
      </div>
    </div>
  </div>
</div>

<app-broadcast-view [modalBroadcast]="modalBroadcast"></app-broadcast-view>