<div class="container">

  <div class="row stats-panel">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <h5 [translate]="'campaign.statistics.members.title'">Members growth</h5>
                <canvas id="memberGrowthChart" height="200" width="400"></canvas>
              </div>
              <div class="col-md-4 col-sm-12 pt-5">
                <canvas id="conversionRatesChart" height="200" width="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row stats-panel">
    <div class="col-md-8 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <h5 [translate]="'campaign.statistics.engagement.title'">Campaign Engagement</h5>
                <canvas id="engagementPieChart" height="200" width="200"></canvas>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 [translate]="'campaign.statistics.engagement.topic'"
                  [translateParams]="{ channel: !!selectedChannel ? selectedChannel : 'all'}">Topic Interest: </h5>
                {{ campaign?.topics }}
                <h5 [translate]="'campaign.statistics.engagement.view'">View by: </h5>
                <button (click)="loadChannelEngagement()" class="btn btn-outline-primary">{{ 'campaign.statistics.engagement.channels' | translate }}</button>
                <button (click)="loadProvinceEngagement()" class="btn btn-outline-primary">{{ 'campaign.statistics.engagement.provinces' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h5 [translate]="'campaign.statistics.activity.title'">Activity</h5>
                <select class="form-control-sm">
                  <option [translate]="'campaign.statistics.activity.select_channel'"></option>
                  <option [translate]="'campaign.statistics.activity.select_province'"></option>
                </select>
                <select class="form-control-sm">
                  <option [translate]="'campaign.statistics.activity.time.this_week'">This week</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row stats-panel">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <!-- todo: amandla.mobi chart -->
                <h5 [translate]="'campaign.statistics.petition.title'">Members growth</h5>
                <canvas id="petitionTimeChart" height="200" width="400"></canvas>
              </div>
              <div class="col-md-4 col-sm-12">
                <h5 [translate]="'campaign.statistics.petition.conversion'">Conversion</h5>
                <canvas id="petitionPieChart" height="200" width="200"></canvas>
              </div>
            </div>
            <div class="row">
              <!-- todo : static progress bar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
