<div class="container primary-container">
  <!-- <div class="row mb-3">
    <div class="col-12">
      <a (click)="routeToParent()" href="#" class="grassroot-breadcrumb"><i class="fas fa-arrow-left"></i>
        {{ (returnToGroup ? 'general.breadcrumb.group' : 'general.breadcrumb.home') | translate }}</a>
    </div>
  </div> -->
  <div class="card">
    <div class="card-body" [formGroup]="editVoteForm">
      <div class="row"><div class="col-md-12 col-sm-12" *ngIf="!vote"><h3>Loading ...</h3></div></div>
      <ng-container *ngIf="vote">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h3>
              <img src="assets/icon_vote.png"/>&nbsp;
              VOTE: {{ vote.title }}
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <p class="task-field-para">
              <span class="task-field-name">Group: </span> {{vote.parentName}}
            </p>
            <p class="task-field-para">
              <span class="task-field-name">Closes: </span> {{vote.deadlineDate | date: 'hh:mm a on dd MMM yy'}}
            </p>
            <p class="task-field-para" *ngIf="vote.description">
              <span class="task-field-name">Description: </span> {{vote.description}}
            </p>
            <p class="task-field-para" *ngIf="vote.hasResponded">
              <span class="task-field-name">You voted: </span> {{ vote.userResponse | titlecase }}
            </p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3 col-sm-12">Vote end date:</div>
          <div class="col-md-3 col-sm-12">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" id="vote-end-date"
                     formControlName="date" name="edp" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button type="button" [ngClass]="{'btn': true, 'calendar-disabled': !changingDate, 'calendar-button': changingDate}"
                        (click)="d.toggle()" type="button">
                  <i class="far fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <ngb-timepicker formControlName="time" [spinners]="false"></ngb-timepicker>
          </div>
          <div class="col-md-3">
            <button type="button" *ngIf="!changingDate" (click)="toggleChangingDate()" class="btn btn-lg btn-secondary float-right">Change</button>
            <button type="button" *ngIf="changingDate" (click)="setUpClosingDateTime()" class="btn btn-lg btn-secondary float-right">Revert</button>
          </div>
        </div>
        
        <div class="row mb-3" *ngIf="options">
          <div class="col-md-3 col-sm-12">
            <span class="task-field-name">Primary options</span> (separate with new line):
          </div>
          <div class="col-md-9 col-sm-12">
            <textarea class="form-control" formControlName="primary-options" rows="{{ options.length }}">{{ options.join('\n') }}</textarea>
          </div>
        </div>

        <div class="row" *ngIf="vote.voteResults">
            <div class="col-sm-12">
              <div class="card-header responses-header">
                <div class="row">
                  <div class="col-sm-3">
                    <span class="responses-title">Vote results</span>
                  </div>
                  <div class="col-sm-7"></div>
                  <div class="col-sm-2 text-right">
                    <i class="fas fa-users"></i> {{ totalMembers }}</div>
                </div>
              </div>
              <div class="card-body">
                <div class="row" *ngFor="let option of results">
                  <div class="col-sm-3">
                    {{ option.name }}
                  </div>
                  <div class="col-sm-7">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                           [style.width]="option.percent + '%'"
                           [attr.aria-valuenow]="option.percent" aria-valuemin="0" aria-valuemax="100">
                        {{ option.percent}}%
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2 text-right">
                    {{ option.rawCount }}
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div *ngIf="massVote && promptLanguagesLoaded" class="form-group row mt-3">
          <div class="col-sm-2 col-form-label text-md-right text-sm-left">
              <label for="vote-special-form">Extra language prompts (optional)</label>
            </div>
            <div class="col-sm-8">
              <ngb-tabset class="content-tabset" #t="ngbTabset">
                <ngb-tab *ngFor="let language of languages" [id]="'opening-' + language.threeDigitCode">
                  <ng-template ngbTabTitle>
                    {{ language.shortName }}
                  </ng-template>
                  <ng-template ngbTabContent>
                    <textarea class="form-control boxsizingBorder" rows="2" formControlName="opening-{{ language.twoDigitCode }}"></textarea>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
        </div>

        <div *ngIf="massVote && postVotePromptsLoaded" class="form-group row">
          <div class="col-sm-2 col-form-label text-md-right text-sm-left">
              <label for="vote-special-form">Post vote prompts (optional)</label>
            </div>
          <div class="col-sm-8">
            <ngb-tabset class="content-tabset" #t="ngbTabset">
              <ngb-tab *ngFor="let language of languages" [id]="'post-' + language.threeDigitCode">
                <ng-template ngbTabTitle>
                  {{ language.shortName }}
                </ng-template>
                <ng-template ngbTabContent>
                  <textarea class="form-control boxsizingBorder" rows="2" formControlName="post-{{ language.twoDigitCode }}"></textarea>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
          <div class="col-sm-2">
            <button type="button" (click)="clearPostVotePrompts()" class="btn btn-lg btn-secondary float-right">Clear</button>
          </div>
        </div>

        <div *ngIf="massVote && multiLanguageOptionsLoaded" class="form-group row">
          <div class="col-sm-2 col-form-label text-md-right text-sm-left">
              <label for="vote-special-form">Multilingual options (optional, separate options with new line)</label>
            </div>
          <div class="col-sm-8">
            <ngb-tabset class="content-tabset" #t="ngbTabset">
              <ngb-tab *ngFor="let language of languages" [id]="'options-' + language.threeDigitCode">
                <ng-template ngbTabTitle>
                  {{ language.shortName }}
                </ng-template>
                <ng-template ngbTabContent>
                  <textarea class="form-control boxsizingBorder" rows="{{ options.length }}" formControlName="options-{{ language.twoDigitCode }}"></textarea>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>

          <div class="col-sm-2">
            <button type="button" class="btn btn-lg btn-secondary float-right">Clear</button>
          </div>
        </div>

        <div *ngIf="massVote" class="form-group row">
          <div class="col-sm-4 col-form-label text-md-right text-sm-left">
              <label for="vote-special-form">Final options</label>
            </div>
          <div class="col-sm-4">
              <label for="exclude-abstain">
                  <input type="checkbox" class="form-check-input" id="randomize"
                         formControlName="randomize">
                  Randomize options
              </label>
          </div>
          <div class="col-sm-4">
              <label for="exclude-notifications">
                  <input type="checkbox" class="form-check-input" id="preClosed"
                         formControlName="preClosed">
                  Stop taking votes
              </label>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-12">
            <button type="button" (click)="saveUpdatedDetails()" class="btn btn-lg btn-primary float-right save-button"> {{ 'action.save' |
              translate }}
            </button>
            <button type="button" (click)="closeVote()" class="btn btn-lg btn-secondary float-right mr-3">Close vote</button>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
</div>