<div *ngIf="!sheetAnalysis && groupAddMembersInfo.length == 0">
  <div draggable="true" ngClass="{{dragAreaClass}}">
    <div class="row">
      <div class="col-md-12 text-center" >
        <a href="javascript:void(0)" (click)="file.click()" >
          {{ 'group.import.file.browseFile'  | translate}}
        </a>
        {{ 'group.import.file.dragAndDrop'  | translate}}
        <input type="file"
               #file
               [multiple]="(maxFiles > 1)"
               (change) = "onFileChange($event)"
               style="display:none" />
      </div>
    </div>

  </div>
</div>

<div class="row error" *ngIf="errors.length > 0">
  <ul>
    <li *ngFor="let err of errors">{{err}}</li>
  </ul>
</div>

<div *ngIf="(sheetAnalysis)">
  <div class="row btn-actions">
    <div class="col-3 mx-auto">
      <button type="button" class="btn btn-secondary" [translate]="'action.back'" (click)="backToExcelAnalysis()">Back</button>
      <button type="button" class="btn btn-secondary" [translate]="'action.cancel'" (click)="cancelImport()">Cancel</button>
      <button type="button" class="btn btn-success" [translate]="'action.confirm'" (click)="confirmImport()">Confirm</button>
    </div>
  </div>

  <div class="container group-info-header d-none d-md-block">
    <div class="row">
      <div>Line</div>

      <div [ngClass]="columnClass" *ngFor="let column of sheetAnalysis.firstRowCells; let i = index">
        <select class="form-control">
          <option *ngFor="let col of stdColumns" [value]="col" [selected]="columnOrder[col] == i">
            {{ 'group.import.file.memberTable.' + col | translate }}
          </option>
        </select>
      </div>

    </div>
  </div>
  <div *ngFor="let member of groupAddMembersInfo | slice:0:7;let i = index">
    <div class="container group-info-row">
      <div class="row flex flex-wrap">
        <div>{{i+1}}</div>
        <div [ngClass]="(emailColumn==-1 && provinceColumn==-1)?'col-2':'col-2'">
          <input type="text" class="form-control" [(ngModel)]="member.displayName">
        </div>

        <div [ngClass]="(emailColumn==-1 && provinceColumn==-1)?'col-2':'col-2'">
          <input type="text" class="form-control" [(ngModel)]="member.memberMsisdn">
        </div>

        <div *ngIf="emailColumn != -1" class="col-2">
          <input type="text" class="form-control" [(ngModel)]="member.emailAddress">
        </div>

        <div *ngIf="provinceColumn != -1" class="col-2">
          {{ 'enum.UserProvince.' + member.province | translate }}
        </div>

        <div *ngIf="roleColumn != -1" [ngClass]="(emailColumn==-1 && provinceColumn==-1)?'col-2':'col-2'">
          {{member.getFormattedRoleName()}}
        </div>

      </div>
    </div>
  </div>
  <div class="row btn-actions">
    <div class="col-3 mx-auto">
      <button type="button" class="btn btn-secondary" [translate]="'action.back'" (click)="backToExcelAnalysis()">Back</button>
      <button type="button" class="btn btn-secondary" [translate]="'action.cancel'" (click)="cancelImport()">Cancel</button>
      <button type="button" class="btn btn-success" [translate]="'action.confirm'" (click)="confirmImport()">Confirm</button>
    </div>
  </div>
</div>


<!--modals-->
<div class="modal fade" tabindex="-1" role="dialog" id="group-modified-response-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [translate]="'group.import.file.responseModal.title'">Members added to group</h5>
        <button type="button" class="close" (click)="closeResponseModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="success-import" [translate]="'group.import.file.responseModal.success'" [translateParams]="{value: groupModifiedResponse?.membersAdded}"></h3>
        <div *ngIf="groupModifiedResponse?.invalidNumbers.length > 0">
          <h3 class="error-import" [translate]="'group.import.file.responseModal.error'" [translateParams]="{value: groupModifiedResponse?.invalidNumbers.length}"></h3>
          <span *ngFor="let number of groupModifiedResponse.invalidNumbers">
            {{number}} <br/>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeResponseModal()">
          {{ 'action.ok' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
